doctype html
html(lang="ru")
	head
		meta(charset="utf-8")

		title Modno
		meta(name="description" content="")
		meta(name="keywords" content="")
		meta(name="author" content="Front-end by unTsar")
		meta(name="robots" content ="index, follow")

		meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")

		//- Chrome, Firefox OS and Opera
		meta(name="theme-color" content="#000")
		//- Windows Phone
		meta(name="msapplication-navbutton-color" content="#000")
		//- iOS Safari
		meta(name="apple-mobile-web-app-status-bar-style" content="#000")


		link(rel="stylesheet", href="css/select2.css")
		link(rel="stylesheet", href="css/hamburgers.min.css")
		link(rel="stylesheet", href="css/main.css")

		block styles

		//- //- Favicons
		//- link(rel="icon", sizes="48x48", type="image/png", href="img/fav/ws_48x48.png")
		//- link(rel="icon", sizes="57x57", type="image/png", href="img/fav/ws_57x57.png")
		//- link(rel="icon", sizes="72x72", type="image/png", href="img/fav/ws_72x72.png")
		//- link(rel="icon", sizes="114x114", type="image/png", href="img/fav/ws_114x114.png")
		//- link(rel="icon", type="image/x-icon", href="img/fav/ws_48x48.ico")
	
	body
		.hmenu-popup-lSettings.hmenu-popup.hmenu-popup-main-currency#hmenu-popup-main-currency
			.outer
				img.hmenu-popup-close(src="img/close.svg", alt="img/close.svg")
				.head
					a(href="#").hmenu-popup-inner-close
						img(src="img/arrow-left.svg", alt="arrow-left.svg")
					span Валюта
				.input-outer
					img.img-search(src="img/search.svg", alt="search.svg")
					input.input-search(type="search")
				.links
					.links-column
						a.link(href="#") EUR (Euro)
						img.separ(src="img/index/separ.svg", alt="separ.svg")
						a.link(href="#") USD (US Dollar)
						img.separ(src="img/index/separ.svg", alt="separ.svg")
						a.link(href="#") RUB (Russian Rouble)
		.hmenu-popup-lSettings.hmenu-popup.hmenu-popup-main-language#hmenu-popup-main-language
			.outer
				img.hmenu-popup-close(src="img/close.svg", alt="img/close.svg")
				.head
					a(href="#").hmenu-popup-inner-close
						img(src="img/arrow-left.svg", alt="arrow-left.svg")
					span Язык
				.input-outer
					img.img-search(src="img/search.svg", alt="search.svg")
					input.input-search(type="search")
				.links
					.links-column
						a.link(href="#") Русский
						img.separ(src="img/index/separ.svg", alt="separ.svg")
						a.link(href="#") English
						img.separ(src="img/index/separ.svg", alt="separ.svg")
						a.link(href="#") Deutsch
						img.separ(src="img/index/separ.svg", alt="separ.svg")
						a.link(href="#") Italiano
		.hmenu-popup-lSettings.hmenu-popup.hmenu-popup-main-delivery#hmenu-popup-main-delivery
			.outer
				img.hmenu-popup-close(src="img/close.svg", alt="img/close.svg")
				.head
					a(href="#").hmenu-popup-inner-close
						img(src="img/arrow-left.svg", alt="arrow-left.svg")
					span Доставка
				.input-outer
					img.img-search(src="img/search.svg", alt="search.svg")
					input.input-search(type="search")
				.links
					.links-column
						a.link(href="#") Москва 
						img.separ(src="img/index/separ.svg", alt="separ.svg")
						a.link(href="#") Санкт-Петербург
						img.separ(src="img/index/separ.svg", alt="separ.svg")
						a.link(href="#") Екатеринбург
						img.separ(src="img/index/separ.svg", alt="separ.svg")
						a.link(href="#") Краснодар
						img.separ(src="img/index/separ.svg", alt="separ.svg")
						a.link(href="#") Новосибирск
						img.separ(src="img/index/separ.svg", alt="separ.svg")
						a.link(href="#") Красноярск
						img.separ(src="img/index/separ.svg", alt="separ.svg")
						a.link(href="#") Челябинск
						img.separ(src="img/index/separ.svg", alt="separ.svg")
						a.link(href="#") Ростов-на-Дону
						img.separ(src="img/index/separ.svg", alt="separ.svg")
						a.link(href="#") Тюмень
						img.separ(src="img/index/separ.svg", alt="separ.svg")
						a.link(href="#") Уфа
					.links-column
						a.link(href="#") Казань
						img.separ(src="img/index/separ.svg", alt="separ.svg")
						a.link(href="#") Пермь
						img.separ(src="img/index/separ.svg", alt="separ.svg")
						a.link(href="#") Нижний Новгород
						img.separ(src="img/index/separ.svg", alt="separ.svg")
						a.link(href="#") Самара
						img.separ(src="img/index/separ.svg", alt="separ.svg")
						a.link(href="#") Саратов
						img.separ(src="img/index/separ.svg", alt="separ.svg")
						a.link(href="#") Омск
						img.separ(src="img/index/separ.svg", alt="separ.svg")
						a.link(href="#") Воронеж
						img.separ(src="img/index/separ.svg", alt="separ.svg")
						a.link(href="#") Волгоград
						img.separ(src="img/index/separ.svg", alt="separ.svg")
						a.link(href="#") Балашиха
						img.separ(src="img/index/separ.svg", alt="separ.svg")
						a.link(href="#") Хабаровск
					.links-column
						a.link(href="#") Иркутск
						img.separ(src="img/index/separ.svg", alt="separ.svg")
						a.link(href="#") Томск
						img.separ(src="img/index/separ.svg", alt="separ.svg")
						a.link(href="#") Сочи
						img.separ(src="img/index/separ.svg", alt="separ.svg")
						a.link(href="#") Ярославль
						img.separ(src="img/index/separ.svg", alt="separ.svg")
						a.link(href="#") Сургут
						img.separ(src="img/index/separ.svg", alt="separ.svg")
						a.link(href="#") Подольск
						img.separ(src="img/index/separ.svg", alt="separ.svg")
						a.link(href="#") Мытищи
						img.separ(src="img/index/separ.svg", alt="separ.svg")
						a.link(href="#") Владивосток
						img.separ(src="img/index/separ.svg", alt="separ.svg")
						a.link(href="#") Калуга
						img.separ(src="img/index/separ.svg", alt="separ.svg")
						a.link(href="#") Пятигорск
		.hmenu-popup-lSettings.hmenu-popup.hmenu-popup-main-city#hmenu-popup-main-city
			.outer
				img.hmenu-popup-close(src="img/close.svg", alt="img/close.svg")
				.head
					a(href="#").hmenu-popup-inner-close
						img(src="img/arrow-left.svg", alt="arrow-left.svg")
					span Город
				.input-outer
					img.img-search(src="img/search.svg", alt="search.svg")
					input.input-search(type="search")
				.links
					.links-column
						a.link(href="#") Москва 
						img.separ(src="img/index/separ.svg", alt="separ.svg")
						a.link(href="#") Санкт-Петербург
						img.separ(src="img/index/separ.svg", alt="separ.svg")
						a.link(href="#") Екатеринбург
						img.separ(src="img/index/separ.svg", alt="separ.svg")
						a.link(href="#") Краснодар
						img.separ(src="img/index/separ.svg", alt="separ.svg")
						a.link(href="#") Новосибирск
						img.separ(src="img/index/separ.svg", alt="separ.svg")
						a.link(href="#") Красноярск
						img.separ(src="img/index/separ.svg", alt="separ.svg")
						a.link(href="#") Челябинск
						img.separ(src="img/index/separ.svg", alt="separ.svg")
						a.link(href="#") Ростов-на-Дону
						img.separ(src="img/index/separ.svg", alt="separ.svg")
						a.link(href="#") Тюмень
						img.separ(src="img/index/separ.svg", alt="separ.svg")
						a.link(href="#") Уфа
					.links-column
						a.link(href="#") Казань
						img.separ(src="img/index/separ.svg", alt="separ.svg")
						a.link(href="#") Пермь
						img.separ(src="img/index/separ.svg", alt="separ.svg")
						a.link(href="#") Нижний Новгород
						img.separ(src="img/index/separ.svg", alt="separ.svg")
						a.link(href="#") Самара
						img.separ(src="img/index/separ.svg", alt="separ.svg")
						a.link(href="#") Саратов
						img.separ(src="img/index/separ.svg", alt="separ.svg")
						a.link(href="#") Омск
						img.separ(src="img/index/separ.svg", alt="separ.svg")
						a.link(href="#") Воронеж
						img.separ(src="img/index/separ.svg", alt="separ.svg")
						a.link(href="#") Волгоград
						img.separ(src="img/index/separ.svg", alt="separ.svg")
						a.link(href="#") Балашиха
						img.separ(src="img/index/separ.svg", alt="separ.svg")
						a.link(href="#") Хабаровск
					.links-column
						a.link(href="#") Иркутск
						img.separ(src="img/index/separ.svg", alt="separ.svg")
						a.link(href="#") Томск
						img.separ(src="img/index/separ.svg", alt="separ.svg")
						a.link(href="#") Сочи
						img.separ(src="img/index/separ.svg", alt="separ.svg")
						a.link(href="#") Ярославль
						img.separ(src="img/index/separ.svg", alt="separ.svg")
						a.link(href="#") Сургут
						img.separ(src="img/index/separ.svg", alt="separ.svg")
						a.link(href="#") Подольск
						img.separ(src="img/index/separ.svg", alt="separ.svg")
						a.link(href="#") Мытищи
						img.separ(src="img/index/separ.svg", alt="separ.svg")
						a.link(href="#") Владивосток
						img.separ(src="img/index/separ.svg", alt="separ.svg")
						a.link(href="#") Калуга
						img.separ(src="img/index/separ.svg", alt="separ.svg")
						a.link(href="#") Пятигорск
		.hmenu-popup-category.hmenu-popup.hmenu-popup-category1#hmenu-popup-category1
			.outer
				img.hmenu-popup-close(src="img/close.svg", alt="img/close.svg")
				.head
					a(href="#").hmenu-popup-inner-close
						img(src="img/arrow-left.svg", alt="arrow-left.svg")
					span Категории
				.links
					a.link.hmenu-link(href="#").g Новинки
					img.separ(src="img/index/separ.svg", alt="separ.svg")
					a.link.hmenu-link(href="#") Бренды
					img.separ(src="img/index/separ.svg", alt="separ.svg")
					a.link.hmenu-link(href="#") Одежда
					img.separ(src="img/index/separ.svg", alt="separ.svg")
					a.link.hmenu-link(href="#") Обувь 
					img.separ(src="img/index/separ.svg", alt="separ.svg")
					a.link.hmenu-link(href="#") Сумки
					img.separ(src="img/index/separ.svg", alt="separ.svg")
					a.link.hmenu-link(href="#") Аксессуары
					img.separ(src="img/index/separ.svg", alt="separ.svg")
					a.link.hmenu-link(href="#") Часы 
					img.separ(src="img/index/separ.svg", alt="separ.svg")
					a.link.hmenu-link(href="#") Ювелирные украшения
					img.separ(src="img/index/separ.svg", alt="separ.svg")
					a.link.hmenu-link(href="#") Парфюмерия
					img.separ(src="img/index/separ.svg", alt="separ.svg")
					a.link.hmenu-link(href="#") Красота
					img.separ(src="img/index/separ.svg", alt="separ.svg")
					a.link.hmenu-link(href="#").r Sale
		.hmenu-popup-category.hmenu-popup.hmenu-popup-category2#hmenu-popup-category2
			.outer
				img.hmenu-popup-close(src="img/close.svg", alt="img/close.svg")
				.head 
					a(href="#").hmenu-popup-inner-close
						img(src="img/arrow-left.svg", alt="arrow-left.svg")
					span Бренды
				.input-outer
					img.img-search(src="img/search.svg", alt="search.svg")
					input.input-search(type="search" placeholder="Поиск по брендам")
				.links
					a.link.hmenu-category-link(href="#") ACNE STUDIOS
					img.separ(src="img/index/separ.svg", alt="separ.svg")
					a.link.hmenu-category-link(href="#") Absolutex
					img.separ(src="img/index/separ.svg", alt="separ.svg")
					a.link.hmenu-category-link(href="#") Adidas
					img.separ(src="img/index/separ.svg", alt="separ.svg")
					a.link.hmenu-category-link(href="#") Alexander MrQueen
					img.separ(src="img/index/separ.svg", alt="separ.svg")
					a.link.hmenu-category-link(href="#") Alexander Wang
					img.separ(src="img/index/separ.svg", alt="separ.svg")
					a.link.hmenu-category-link(href="#") Ann Demeulemeester
					img.separ(src="img/index/separ.svg", alt="separ.svg")
					a.link.hmenu-category-link(href="#") Armani
					img.separ(src="img/index/separ.svg", alt="separ.svg")
					a.link.hmenu-category-link(href="#") Asos
					img.separ(src="img/index/separ.svg", alt="separ.svg")
					a.link.hmenu-category-link(href="#") Bagozza
					img.separ(src="img/index/separ.svg", alt="separ.svg")
					a.link.hmenu-category-link(href="#") Balenciaga
					img.separ(src="img/index/separ.svg", alt="separ.svg")
					a.link.hmenu-category-link(href="#") ACNE STUDIOS
					img.separ(src="img/index/separ.svg", alt="separ.svg")
					a.link.hmenu-category-link(href="#") Absolutex
					img.separ(src="img/index/separ.svg", alt="separ.svg")
					a.link.hmenu-category-link(href="#") Adidas
					img.separ(src="img/index/separ.svg", alt="separ.svg")
					a.link.hmenu-category-link(href="#") Alexander MrQueen
					img.separ(src="img/index/separ.svg", alt="separ.svg")
					a.link.hmenu-category-link(href="#") Alexander Wang
					img.separ(src="img/index/separ.svg", alt="separ.svg")
					a.link.hmenu-category-link(href="#") Ann Demeulemeester
					img.separ(src="img/index/separ.svg", alt="separ.svg")
					a.link.hmenu-category-link(href="#") Armani
					img.separ(src="img/index/separ.svg", alt="separ.svg")
					a.link.hmenu-category-link(href="#") Asos
					img.separ(src="img/index/separ.svg", alt="separ.svg")
					a.link.hmenu-category-link(href="#") Bagozza
					img.separ(src="img/index/separ.svg", alt="separ.svg")
					a.link.hmenu-category-link(href="#") Balenciaga
					img.separ(src="img/index/separ.svg", alt="separ.svg")
				.offer-section
					img(src="img/index/offer-section-img.jpg", alt="offer-section-img.jpg")
					.desctext
						.text.headtext Предложение дня
						.text.name Mango: одежда и обувь онлайн
		.hmenu-popup-category.hmenu-popup.hmenu-popup-category1#hmenu-popup-category1
			.outer
				img.hmenu-popup-close(src="img/close.svg", alt="img/close.svg")
				.head
					a(href="#").hmenu-popup-inner-close
						img(src="img/arrow-left.svg", alt="arrow-left.svg")
					span Категории
				.links
					a.link.hmenu-link(href="#").g Новинки
					img.separ(src="img/index/separ.svg", alt="separ.svg")
					a.link.hmenu-link(href="#") Бренды
					img.separ(src="img/index/separ.svg", alt="separ.svg")
					a.link.hmenu-link(href="#") Одежда
					img.separ(src="img/index/separ.svg", alt="separ.svg")
					a.link.hmenu-link(href="#") Обувь 
					img.separ(src="img/index/separ.svg", alt="separ.svg")
					a.link.hmenu-link(href="#") Сумки
					img.separ(src="img/index/separ.svg", alt="separ.svg")
					a.link.hmenu-link(href="#") Аксессуары
					img.separ(src="img/index/separ.svg", alt="separ.svg")
					a.link.hmenu-link(href="#") Часы 
					img.separ(src="img/index/separ.svg", alt="separ.svg")
					a.link.hmenu-link(href="#") Ювелирные украшения
					img.separ(src="img/index/separ.svg", alt="separ.svg")
					a.link.hmenu-link(href="#") Парфюмерия
					img.separ(src="img/index/separ.svg", alt="separ.svg")
					a.link.hmenu-link(href="#") Красота
					img.separ(src="img/index/separ.svg", alt="separ.svg")
					a.link.hmenu-link(href="#").r Sale
		.hmenu-popup.hmenu-popup-main#hmenu-popup-main
			.outer
				img.hmenu-popup-close(src="img/close.svg", alt="img/close.svg")
				.head 
					span Категории
				.links
					a.link.hmenu-link(href="#") Женщины
					img.separ(src="../img/index/separ.svg", alt="separ.svg")
					a.link.hmenu-link(href="#") Мужчины
					img.separ(src="../img/index/separ.svg", alt="separ.svg")
					a.link.hmenu-link(href="#") Дети
			.outer
				.links
					a.link#hmenu-popup-main-city_btn(href="#") Город: #[span.val Москва]
						img.img-arrow(src="img/hmenu-arrow-right.svg", alt="hmenu-arrow-right.svg")
					img.separ(src="../img/index/separ.svg", alt="separ.svg")
					a.link#hmenu-popup-main-delivery_btn(href="#") Доставка: #[span.val Москва]
						img.img-arrow(src="img/hmenu-arrow-right.svg", alt="hmenu-arrow-right.svg")
					img.separ(src="../img/index/separ.svg", alt="separ.svg")
					a.link#hmenu-popup-main-language_btn(href="#") Язык: #[span.val Русский]
						img.img-arrow(src="img/hmenu-arrow-right.svg", alt="hmenu-arrow-right.svg")
					img.separ(src="../img/index/separ.svg", alt="separ.svg")
					a.link#hmenu-popup-main-currency_btn(href="#") Валюта: #[span.val RUB (Russian Rouble)]
						img.img-arrow(src="img/hmenu-arrow-right.svg", alt="hmenu-arrow-right.svg")
		.dd-popup.currency-popup#currency-popup
			a.currency-popup_close-btn(href="#")
				img.img-close(src="img/close.svg", alt="close.svg")
			.topline
				span Валюта
			.input-search
				img.img-search(src="img/search.svg", alt="search.svg")
				input.dd-popup-search(type="search")
			.search-items.dd-search-items
				.search-item.dd-search-item.currency-popup_close-btn
					span EUR (Euro)
				.search-item.dd-search-item.currency-popup_close-btn
					img.separ(src="img/index/separ.svg", alt="separ.svg")
					span USD (US Dollar)
				.search-item.dd-search-item.currency-popup_close-btn
					img.separ(src="img/index/separ.svg", alt="separ.svg")
					span RUB (Russian Rouble)
				.search-item.dd-search-item
				.search-item.dd-search-item
				.search-item.dd-search-item
		.dd-popup.language-popup#language-popup
			a.language-popup_close-btn(href="#")
				img.img-close(src="img/close.svg", alt="close.svg")
			.topline
				span Язык
			.input-search
				img.img-search(src="img/search.svg", alt="search.svg")
				input.dd-popup-search(type="search")
			.search-items.dd-search-items
				.search-item.dd-search-item.language-popup_close-btn
					span Русский
				.search-item.dd-search-item.language-popup_close-btn
					img.separ(src="img/index/separ.svg", alt="separ.svg")
					span English
				.search-item.dd-search-item.language-popup_close-btn
					img.separ(src="img/index/separ.svg", alt="separ.svg")
					span Deutsch
				.search-item.dd-search-item.language-popup_close-btn
					img.separ(src="img/index/separ.svg", alt="separ.svg")
					span Italiano
				.search-item.dd-search-item.language-popup_close-btn
					img.separ(src="img/index/separ.svg", alt="separ.svg")
					span Español
				.search-item.dd-search-item.language-popup_close-btn
					img.separ(src="img/index/separ.svg", alt="separ.svg")
					span 中文
		.popup-map.popup-map-delivery#popup-map2.Log-form
			a.popup-map2_close-btn(href="#")
				img.img-close(src="img/close.svg", alt="close.svg")
			.topline
				span Доставка
			.input-outer
				img.img-search(src="img/search.svg", alt="search.svg")
				input.input-search.popup-map-input-search(type="search" placeholder="Введите город")
				.search-results
					.search-item
						span Москва
					img.separ(src="img/index/separ.svg", alt="separ.svg")
					.search-item
						span Санкт-Петербург
					img.separ(src="img/index/separ.svg", alt="separ.svg")
					.search-item
						span Владивосток
			.mapOuter
				.map#map2
			.map-buttons
				a(href="#").map-btn.popup-map2_close-btn
					span Запомнить
		.popup-map.popup-map-city#popup-map1.Log-form
			a.popup-map1_close-btn(href="#")
				img.img-close(src="img/close.svg", alt="close.svg")
			.topline
				span Местоположение
			.input-outer
				img.img-search(src="img/search.svg", alt="search.svg")
				input.input-search.popup-map-input-search(type="search" placeholder="Введите город")
				.search-results
					.search-item
						span Москва
					img.separ(src="img/index/separ.svg", alt="separ.svg")
					.search-item
						span Санкт-Петербург
					img.separ(src="img/index/separ.svg", alt="separ.svg")
					.search-item
						span Владивосток
			.mapOuter
				.map#map1
			.map-buttons
				a(href="#").map-btn.popup-map1_close-btn
					span Запомнить
		.Log-form.LogIn-form#LogIn-form
			a.LogIn-form_close-btn(href="#")
				img.img-close(src="img/close.svg", alt="close.svg")
			.topline
				span Войти
			form(action="#").form-block
				.input-item
					.input-head 
						span Логин #[span.red *] 
						a(href="#").a-logup#LogIn-form_btnLogUp.LogIn-form_close-btn Создать учетную запись
					input(type="text")
				.input-item
					.input-head 
						span Пароль #[span.red *]
						a(href="#") Забыли пароль?
					input(type="password")
				.form-options
					input#LogIn-form_checkbox(type="checkbox")
					label(for="LogIn-form_checkbox") Запомнить
				.form-buttons
					a(href="#").form-btn.form-btnLogIn#LogIn-form_btnLogIn.LogIn-form_close-btn
						span Вход
		.Log-form.LogUp-form#LogUp-form
			a.LogUp-form_close-btn(href="#")
				img.img-close(src="img/close.svg", alt="close.svg")
			.topline
				span Создать учетную запись
			form(action="#").form-block
				.input-item
					.input-head 
						span Тип учётной записи
					.radio
						input#LogUp-form_radio1(type="radio" name="logup-type")
						label(for="LogUp-form_radio1") Покупатель
						input#LogUp-form_radio2(type="radio" name="logup-type")
						label(for="LogUp-form_radio2") Продавец
				.input-item
					.input-head
						span E-mail #[span.red *] 
					input(type="email")
				.input-item
					.input-head
						span Пароль #[span.red *]
					input(type="password")
				.input-item
					.input-head
						span Подтверждение пароля #[span.red *]
					input(type="password")
				.p-policy
					input#LogUp-form_checkbox(type="checkbox")
					label(for="LogUp-form_checkbox")
					.textblock
						.headtext Настоящим подтверждаю, что я ознакомлен и согласен с условиями политики конфиденциальности. #[span.red *]
						.desctext Нажимая кнопку "Регистрация", я подтверждаю свою дееспособность и согласие на получение информации об оформлении и получении заказа, согласие на обработку персональных данных в соответствии с указанным #[a(href="#") здесь текстом]
				.form-buttons
					a(href="#").form-btn.form-btnLogUp#LogUp-form_btnLogUp.LogUp-form_close-btn
						span Регистрация
		block content
	
	//- Scripts
	script(src="js/jquery.min.js")
	script(src="js/svg4everybody.min.js")
	script(src="js/jquery.bpopup.js")
	script.
		$(document).ready(function(){

			svg4everybody();

			var lSbtn = $('#languageSettings-button');
			var lSdropmenu = $('#languageSettings-dropmenu');

			lSbtn.click(function(){
				if (lSdropmenu.hasClass('hide')){
					lSdropmenu.fadeIn(50)
					lSdropmenu.removeClass('hide');
				}else{
					lSdropmenu.fadeOut(100)
					lSdropmenu.addClass('hide')
				}
			});

			$('#buttonProfile').click(function(){
				if ($('#profile-dropdown').hasClass('hide')){
					$('#profile-dropdown').fadeIn(50)
					$('#profile-dropdown').removeClass('hide');
				}else{
					$('#profile-dropdown').fadeOut(100)
					$('#profile-dropdown').addClass('hide')
				}
			});

			$(document).click(function (e){
				if (!lSbtn.is(e.target) && lSbtn.has(e.target).length === 0) {
					lSdropmenu.fadeOut(100);
					lSdropmenu.addClass('hide')
				}

				if ($('#dd-exit-btn').is(e.target) || !$('#profile-dropdown').is(e.target) && $('#profile-dropdown').has(e.target).length === 0 && !$('#buttonProfile').is(e.target) && $('#buttonProfile').has(e.target).length === 0) {
					$('#profile-dropdown').fadeOut(100);
					$('#profile-dropdown').addClass('hide')
				}
			});

			$('#header-btnLogIn').click(function(){
				$('#LogIn-form').bPopup({
					positionStyle: 'fixed',
					closeClass: 'LogIn-form_close-btn',
					onOpen: function() { $('body').addClass('fixed'); },
					onClose: function() { $('body').removeClass('fixed') }
									
				});
			});
			$('#LogIn-form_btnLogUp').click(function(){
				$('#LogUp-form').bPopup({
					positionStyle: 'fixed',
					closeClass: 'LogUp-form_close-btn',
					onOpen: function() { $('body').addClass('fixed'); },
					onClose: function() { $('body').removeClass('fixed') }
									
				});
			});

			$('#header-popup-map1').click(function(){
				$('#popup-map1').bPopup({
					positionStyle: 'fixed',
					closeClass: 'popup-map1_close-btn',
					onOpen: function() { $('body').addClass('fixed'); },
					onClose: function() { $('body').removeClass('fixed') }
									
				});
			});
			$('#header-popup-map2').click(function(){
				$('#popup-map2').bPopup({
					positionStyle: 'fixed',
					closeClass: 'popup-map2_close-btn',
					onOpen: function() { $('body').addClass('fixed'); },
					onClose: function() { $('body').removeClass('fixed') }
									
				});
			});

			$('#header-language-popup').click(function(){
				$('#language-popup').bPopup({
					positionStyle: 'fixed',
					closeClass: 'language-popup_close-btn',
					onOpen: function() { $('body').addClass('fixed'); },
					onClose: function() { $('body').removeClass('fixed') }
									
				});
			});

			$('.popup-map-input-search').focusin(function(){
				$(this).siblings('.search-results').show()
			});
			$('.popup-map-input-search').focusout(function(){
				$(this).siblings('.search-results').hide()
			});


			$('#header-currency-popup').click(function(){
				$('#currency-popup').bPopup({
					positionStyle: 'fixed',
					closeClass: 'currency-popup_close-btn',
					onOpen: function() { $('body').addClass('fixed'); },
					onClose: function() { $('body').removeClass('fixed') }
									
				});
			});

			$('.dd-popup-search').on('input', function(){
				var str = $(this).val().toLowerCase();
				if (str.length <= 1){
					$('.dd-search-items .dd-search-item').show();
				}
				$('.dd-search-items .dd-search-item').each(function(){
					if ($(this).text().toLowerCase().indexOf(str) < 0){
						$(this).hide();
					}
				});
			});


			//- Mobile

			$('#header-menu-button').click(function(){
				$(this).toggleClass('is-active');
				$('#hmenu-popup-main').toggleClass('active');
				$('#hmenu-popup-main').fadeToggle(250);
				if($('.hmenu-popup').not('#hmenu-popup-main').hasClass('active')){
					$('.hmenu-popup').removeClass('active');
					$('.hmenu-popup').fadeOut(250);
				}
				$('body').toggleClass('fixed');
			});

			$('.hmenu-popup-main .hmenu-link').click(function(){
				$('#hmenu-popup-category1').toggleClass('active');
				$('#hmenu-popup-category1').fadeToggle(250);
			});
			$('.hmenu-popup-category1 .hmenu-link').click(function(){
				$('#hmenu-popup-category2').toggleClass('active');
				$('#hmenu-popup-category2').fadeToggle(250);
			});

			$('.hmenu-popup-close').click(function(){
				$('.hmenu-popup').fadeOut(250);
				$('.hmenu-popup').removeClass('active')
				$('#header-menu-button').removeClass('is-active')
				$('body').removeClass('fixed');
			});
			$('.hmenu-popup-inner-close').click(function(){
				$(this).parents('.hmenu-popup-category').fadeOut(250);
				$(this).parents('.hmenu-popup-category').removeClass('active');
				$(this).parents('.hmenu-popup-lSettings').fadeOut(250);
				$(this).parents('.hmenu-popup-lSettings').removeClass('active');
			});
			$('#hmenu-popup-main-city_btn').click(function(){
				$('#hmenu-popup-main-city').toggleClass('active');
				$('#hmenu-popup-main-city').fadeToggle(250);
			});
			$('#hmenu-popup-main-delivery_btn').click(function(){
				$('#hmenu-popup-main-delivery').toggleClass('active');
				$('#hmenu-popup-main-delivery').fadeToggle(250);
			});
			$('#hmenu-popup-main-language_btn').click(function(){
				$('#hmenu-popup-main-language').toggleClass('active');
				$('#hmenu-popup-main-language').fadeToggle(250);
			});
			$('#hmenu-popup-main-currency_btn').click(function(){
				$('#hmenu-popup-main-currency').toggleClass('active');
				$('#hmenu-popup-main-currency').fadeToggle(250);
			});



			$('.footer-links-btn').click(function(){
				$('.footer-links-btn').not(this).removeClass('active');
				$('.footer-links-btn').not(this).next().slideUp(250);
				$(this).next().slideToggle(250);
				$(this).toggleClass('active');
			});






		});

	script.
		var map1;
		var map2;
		function initMap() {
			map1 = new google.maps.Map(document.getElementById('map1'), {
				center: {lat: 55.754095, lng: 37.616722},
				zoom: 12,
				streetViewControl: false,
				mapTypeControl: false
			});
			map2 = new google.maps.Map(document.getElementById('map2'), {
				center: {lat: 55.754095, lng: 37.616722},
				zoom: 12,
				streetViewControl: false,
				mapTypeControl: false
			});
		}
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDKhp6yO-hzgForGQ3ZJrBGj-QrUCUbZeQ&callback=initMap" async defer></script>

	block scripts


