doctype html
html(lang="ru")
	head
		meta(charset="utf-8")

		title Modno
		meta(name="description" content="")
		meta(name="keywords" content="")
		meta(name="author" content="Front-end by unTsar")
		meta(name="robots" content ="index, follow")

		meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")

		//- Chrome, Firefox OS and Opera
		meta(name="theme-color" content="#000")
		//- Windows Phone
		meta(name="msapplication-navbutton-color" content="#000")
		//- iOS Safari
		meta(name="apple-mobile-web-app-status-bar-style" content="#000")


		link(rel="stylesheet", href="css/select2.css")
		link(rel="stylesheet", href="css/hamburgers.min.css")
		link(rel="stylesheet", href="css/main.css")

		block styles

		//- //- Favicons
		//- link(rel="icon", sizes="48x48", type="image/png", href="img/fav/ws_48x48.png")
		//- link(rel="icon", sizes="57x57", type="image/png", href="img/fav/ws_57x57.png")
		//- link(rel="icon", sizes="72x72", type="image/png", href="img/fav/ws_72x72.png")
		//- link(rel="icon", sizes="114x114", type="image/png", href="img/fav/ws_114x114.png")
		//- link(rel="icon", type="image/x-icon", href="img/fav/ws_48x48.ico")
	
	body
		//- Send feedback
		.Log-form.feedback-form#feedback-form
			a.feedback-form_close-btn(href="#")
				img.img-close(src="img/close.svg", alt="close.svg")
			.topline
				span Оставить отзыв
			form(action="#").form-block
				.input-item
					.input-head 
						span Ваше имя #[span.red *] 
					input(type="text")
				.input-item
					.input-head 
						span Ваша оценка #[span.red *]
					.rating
						img(src="img/shop-page/star-disable_white.svg", alt="star-disable_white.svg")
						img(src="img/shop-page/star-disable_white.svg", alt="star-disable_white.svg")
						img(src="img/shop-page/star-disable_white.svg", alt="star-disable_white.svg")
						img(src="img/shop-page/star-disable_white.svg", alt="star-disable_white.svg")
						img(src="img/shop-page/star-disable_white.svg", alt="star-disable_white.svg")
				.input-item
					.input-head 
						span Комментарий #[span.red *]
					textarea
				.p-policy
					input#feedback-form_checkbox(type="checkbox")
					label(for="feedback-form_checkbox")
					.textblock.headtext Настоящим подтверждаю, что я ознакомлен и согласен с условиями политики конфиденциальности.
				.form-buttons
					input.feedback-form_close-btn(type="submit" value="Отправить")

		.Log-form.mk-filter-drop-popup#mk-filter-drop-popup
			a.filter-drop-popup_close-btn(href="#")
				img.img-close(src="img/close.svg", alt="close.svg")
			.topline
				img.unfixed-btn.img-inner-close.filter-drop-popup_close-btn(src="img/index/filter-drop-btn.svg", alt="filter-drop-btn.svg")
				span Сортировка по
			.links
				a.link(href="#") умолчанию
				img.separ(src="img/index/separ.svg", alt="separ.svg")
				a.link(href="#") рейтингу
				img.separ(src="img/index/separ.svg", alt="separ.svg")
				a.link(href="#") популярности
				img.separ(src="img/index/separ.svg", alt="separ.svg")
				a.link(href="#") скидке
				img.separ(src="img/index/separ.svg", alt="separ.svg")
				a.link(href="#") цене, дешевле
				img.separ(src="img/index/separ.svg", alt="separ.svg")
				a.link(href="#") цене, дороже
				a(href="#").unfixed-btn.btn.filter-drop-popup_close-btn
					span Принять
		//- Фильтр для товаров
		.Log-form.mk-filter-popup#mk-filter-popup-products
			a.filter-popup-products_close-btn(href="#")
				img.img-close(src="img/close.svg", alt="close.svg")
			.topline
				span Фильтры товаров
			.links
				.line
					span.span-link Вид одежды
					select.mk-filter-products-select2.js-states.form-control(name="state")
						option(value="Opt1") Мужская
						option(value="Opt2") Женская
						option(value="Opt3") Детская
				img.separ(src="img/index/separ.svg", alt="separ.svg")
				.line
					span.span-link Категория
					select.mk-filter-products-select2.js-states.form-control(name="state")
						option(value="Opt1") Одежда
						option(value="Opt2") Обувь
						option(value="Opt3") Аксессуары
				img.separ(src="img/index/separ.svg", alt="separ.svg")
				.line
					span.span-link Тип
					select.mk-filter-products-select2.js-states.form-control(name="state")
						option(value="Opt1") Брюки
						option(value="Opt2") Кардиганы
						option(value="Opt3") Свитеры
						option(value="Opt4") Рубашки
						option(value="Opt5") Блузы
						option(value="Opt6") Джемперы
						option(value="Opt7") Вязаные костюмы
						option(value="Opt8") Джинсы
						option(value="Opt9") Комбинезоны
				img.separ(src="img/index/separ.svg", alt="separ.svg")
				.line
					span.span-link Размер
					.input-outer
						input.value(type="number" value="44")
				img.separ(src="img/index/separ.svg", alt="separ.svg")
				.line
					span.span-link Цвет
					select.mk-filter-products-select2.js-states.form-control(name="state")
						option(value="Opt1") Белый
						option(value="Opt2") Чёрный
						option(value="Opt3") Коричневый
				img.separ(src="img/index/separ.svg", alt="separ.svg")
				.line
					span.span-link Материал
					select.mk-filter-products-select2.js-states.form-control(name="state")
						option(value="Opt1") Кожа
						option(value="Opt2") Шёлк
						option(value="Opt3") Шерсть
						option(value="Opt4") Кожзам
				img.separ(src="img/index/separ.svg", alt="separ.svg")
				.line.mk-filter-popup-line
					span.span-link Новинки
					.buttonOpSw.r
						input.option-checkbox(type="checkbox")
						.knobs
						.layer
				img.separ(src="img/index/separ.svg", alt="separ.svg")
				.line.mk-filter-popup-line
					span.span-link Скидки
					.buttonOpSw.r
						input.option-checkbox(type="checkbox")
						.knobs
						.layer
			.g-separ-block
			.links
				.line
					span.span-link Цена, от
					.input-outer
						input.value(type="text" value="200")
						span.rouble &#8381;
				img.separ(src="img/index/separ.svg", alt="separ.svg")
				.line
					span.span-link Цена, до
					.input-outer
						input.value(type="text" value="200 000")
						span.rouble &#8381;
			.g-separ-block
			.links
				.line#header-popup-map1
					span.span-link Город
					span.value Москва
					.img-arrow
				img.separ(src="img/index/separ.svg", alt="separ.svg")
				.line#header-popup-map2
					span.span-link Доставка
					span.value Москва
					.img-arrow
			.g-separ-block
			.links
				.line
					span.span-link Сортировка
					select.mk-filter-products-select2.js-states.form-control(name="state")
						option(value="Opt1") по цене
						option(value="Opt2") по рейтингу
			.btn-outer
				a(href="#").btn.filter-popup-products_close-btn
					span Принять
		.Log-form.mk-filter-popup#mk-filter-popup-shops
			a.filter-popup_close-btn(href="#")
				img.img-close(src="img/close.svg", alt="close.svg")
			.topline
				span Фильтры
			.links
				.line.mk-filter-popup-line
					span.span-link Монобрендовые
					.buttonOpSw.r
						input.option-checkbox(type="checkbox")
						.knobs
						.layer
				img.separ(src="img/index/separ.svg", alt="separ.svg")
				.line.mk-filter-popup-line
					span.span-link Мультибрендовые
					.buttonOpSw.r
						input.option-checkbox(type="checkbox")
						.knobs
						.layer
				img.separ(src="img/index/separ.svg", alt="separ.svg")
				.line.mk-filter-popup-line
					span.span-link Бутики
					.buttonOpSw.r
						input.option-checkbox(type="checkbox")
						.knobs
						.layer
				img.separ(src="img/index/separ.svg", alt="separ.svg")
				.line.mk-filter-popup-line
					span.span-link Аутлеты
					.buttonOpSw.r
						input.option-checkbox(type="checkbox")
						.knobs
						.layer
				img.separ(src="img/index/separ.svg", alt="separ.svg")
				.line.mk-filter-popup-line
					span.span-link Онлайн
					.buttonOpSw.r
						input.option-checkbox(type="checkbox")
						.knobs
						.layer
				a(href="#").btn.filter-popup_close-btn
					span Принять
		.Log-form.mk-filter-popup#mk-filter-popup-molls
			a.filter-popup_close-btn(href="#")
				img.img-close(src="img/close.svg", alt="close.svg")
			.topline
				span Фильтры
			.links
				.line.mk-filter-popup-line
					span.span-link Торговые центры
					.buttonOpSw.r
						input.option-checkbox(type="checkbox")
						.knobs
						.layer
				img.separ(src="img/index/separ.svg", alt="separ.svg")
				.line.mk-filter-popup-line
					span.span-link Торговые комплексы
					.buttonOpSw.r
						input.option-checkbox(type="checkbox")
						.knobs
						.layer
				img.separ(src="img/index/separ.svg", alt="separ.svg")
				.line.mk-filter-popup-line
					span.span-link Универмаги
					.buttonOpSw.r
						input.option-checkbox(type="checkbox")
						.knobs
						.layer
				a(href="#").btn.filter-popup_close-btn
					span Принять

		.Log-form.popup-profile-mob#popup-profile-mob
			a.profile-mob_close-btn(href="#")
				img.img-close(src="img/close.svg", alt="close.svg")
			.topline
				span Кабинет
			.links
				a.link(href="#") Мои заказы
				img.separ(src="img/index/separ.svg", alt="separ.svg")
				a.link(href="#") Мои данные
				img.separ(src="img/index/separ.svg", alt="separ.svg")
				a.link(href="#") Мои сообщения (#[span.msg-val 3])
				img.separ(src="img/index/separ.svg", alt="separ.svg")
				a.link(href="#") Отложенные товары
				img.separ(src="img/index/separ.svg", alt="separ.svg")
				a.link(href="#") Подарочные сертификаты
				img.separ(src="img/index/separ.svg", alt="separ.svg")
				a.link(href="#").g Подписки
				img.separ(src="img/index/separ.svg", alt="separ.svg")
				a.link(href="#") Мои баллы
				img.separ(src="img/index/separ.svg", alt="separ.svg")
				a.link(href="#") Отслеживание заказов
				.track-input
					input.track-search(type="search" placeholder="Номер заказа")
				img.separ(src="img/index/separ.svg", alt="separ.svg")
				a.link(href="#").profile-mob_close-btn Выйти

		.hmenu-popup-lSettings.hmenu-popup.hmenu-popup-main-currency#hmenu-popup-main-currency
			.outer
				img.hmenu-popup-close(src="img/close.svg", alt="img/close.svg")
				.head
					a(href="#").hmenu-popup-inner-close
						img(src="img/arrow-left.svg", alt="arrow-left.svg")
					span Валюта
				.input-outer
					img.img-search(src="img/search.svg", alt="search.svg")
					input.input-search.popup-map-input-search(type="search" placeholder="Введите валюту")
				.links
					a.link(href="#") EUR (Euro)
					img.separ(src="img/index/separ.svg", alt="separ.svg")
					a.link(href="#") USD (US Dollar)
					img.separ(src="img/index/separ.svg", alt="separ.svg")
					a.link(href="#") RUB (Russian Rouble)
				a(href="#").btn-submit.hmenu-popup-inner-close
					span Запомнить
		.hmenu-popup-lSettings.hmenu-popup.hmenu-popup-main-language#hmenu-popup-main-language
			.outer
				img.hmenu-popup-close(src="img/close.svg", alt="img/close.svg")
				.head
					a(href="#").hmenu-popup-inner-close
						img(src="img/arrow-left.svg", alt="arrow-left.svg")
					span Язык
				.input-outer
					img.img-search(src="img/search.svg", alt="search.svg")
					input.input-search.popup-map-input-search(type="search" placeholder="Введите язык")
				.links
					a.link(href="#") Русский
					img.separ(src="img/index/separ.svg", alt="separ.svg")
					a.link(href="#") English
					img.separ(src="img/index/separ.svg", alt="separ.svg")
					a.link(href="#") Deutsch
					img.separ(src="img/index/separ.svg", alt="separ.svg")
					a.link(href="#") Italiano
					img.separ(src="img/index/separ.svg", alt="separ.svg")
					a.link(href="#") Español
					img.separ(src="img/index/separ.svg", alt="separ.svg")
					a.link(href="#") 中文
				a(href="#").btn-submit.hmenu-popup-inner-close
					span Запомнить

		.hmenu-popup-category.hmenu-popup.hmenu-popup-category2#hmenu-popup-category2
			.outer
				img.hmenu-popup-close(src="img/close.svg", alt="img/close.svg")
				.head 
					a(href="#").hmenu-popup-inner-close
						img(src="img/arrow-left.svg", alt="arrow-left.svg")
					span Одежда
				.links
					a.link.hmenu-category-link(href="#") Блузы и рубашки
					img.separ(src="img/index/separ.svg", alt="separ.svg")
					a.link.hmenu-category-link(href="#") Брюки
					img.separ(src="img/index/separ.svg", alt="separ.svg")
					a.link.hmenu-category-link(href="#") Верхняя одежда
					img.separ(src="img/index/separ.svg", alt="separ.svg")
					a.link.hmenu-category-link(href="#") Вязаные костюмы
					img.separ(src="img/index/separ.svg", alt="separ.svg")
					a.link.hmenu-category-link(href="#") Джемперы, свитеры и кардиганы
					img.separ(src="img/index/separ.svg", alt="separ.svg")
					a.link.hmenu-category-link(href="#") Джинсы
					img.separ(src="img/index/separ.svg", alt="separ.svg")
					a.link.hmenu-category-link(href="#") Домашняя одежда
					img.separ(src="img/index/separ.svg", alt="separ.svg")
					a.link.hmenu-category-link(href="#") Комбинезоны
					img.separ(src="img/index/separ.svg", alt="separ.svg")
					a.link.hmenu-category-link(href="#") Купальники и пляжная одежда
					img.separ(src="img/index/separ.svg", alt="separ.svg")
					a.link.hmenu-category-link(href="#") Носки, чулки и колготки
					img.separ(src="img/index/separ.svg", alt="separ.svg")
					a.link.hmenu-category-link(href="#") Пиджаки и костюмы
					img.separ(src="img/index/separ.svg", alt="separ.svg")
					a.link.hmenu-category-link(href="#") Платья и сарафаны
					img.separ(src="img/index/separ.svg", alt="separ.svg")
					a.link.hmenu-category-link(href="#") Спортивные костюмы
					img.separ(src="img/index/separ.svg", alt="separ.svg")
					a.link.hmenu-category-link(href="#") Толстовки и свитшоты
					img.separ(src="img/index/separ.svg", alt="separ.svg")
					a.link.hmenu-category-link(href="#") Топы и майки
					img.separ(src="img/index/separ.svg", alt="separ.svg")
					a.link.hmenu-category-link(href="#") Туники
					img.separ(src="img/index/separ.svg", alt="separ.svg")
					a.link.hmenu-category-link(href="#") Футболки поло
					img.separ(src="img/index/separ.svg", alt="separ.svg")
					a.link.hmenu-category-link(href="#") Шорты
					img.separ(src="img/index/separ.svg", alt="separ.svg")
					a.link.hmenu-category-link(href="#") Одежда больших размеров
					img.separ(src="img/index/separ.svg", alt="separ.svg")
					a.link.hmenu-category-link(href="#") Одежда для беременных
				.offer-section
					img(src="img/index/offer-section-img.jpg", alt="offer-section-img.jpg")
					.desctext
						.text.headtext Предложение дня
						.text.name Mango: одежда и обувь онлайн
		.hmenu-popup-category.hmenu-popup.hmenu-popup-category1#hmenu-popup-category1
			.outer
				img.hmenu-popup-close(src="img/close.svg", alt="img/close.svg")
				.head
					a(href="#").hmenu-popup-inner-close
						img(src="img/arrow-left.svg", alt="arrow-left.svg")
					span Категории
				.links
					a.link.hmenu-link(href="#").g Новинки
					img.separ(src="img/index/separ.svg", alt="separ.svg")
					a.link.hmenu-link(href="#") Одежда
					img.separ(src="img/index/separ.svg", alt="separ.svg")
					a.link.hmenu-link(href="#") Обувь 
					img.separ(src="img/index/separ.svg", alt="separ.svg")
					a.link.hmenu-link(href="#") Сумки
					img.separ(src="img/index/separ.svg", alt="separ.svg")
					a.link.hmenu-link(href="#") Аксессуары
					img.separ(src="img/index/separ.svg", alt="separ.svg")
					a.link.hmenu-link(href="#") Часы 
					img.separ(src="img/index/separ.svg", alt="separ.svg")
					a.link.hmenu-link(href="#") Ювелирные украшения
					img.separ(src="img/index/separ.svg", alt="separ.svg")
					a.link.hmenu-link(href="#") Парфюмерия
					img.separ(src="img/index/separ.svg", alt="separ.svg")
					a.link.hmenu-link(href="#") Красота
					img.separ(src="img/index/separ.svg", alt="separ.svg")
					a.link.hmenu-link(href="#").r Sale
		.hmenu-popup.hmenu-popup-main#hmenu-popup-main
			.outer
				img.hmenu-popup-close(src="img/close.svg", alt="img/close.svg")
				.head 
					span Категории
				.links
					a.link.hmenu-link(href="#") Женщины
					img.separ(src="img/index/separ.svg", alt="separ.svg")
					a.link.hmenu-link(href="#") Мужчины
					img.separ(src="img/index/separ.svg", alt="separ.svg")
					a.link.hmenu-link(href="#") Дети
			.outer
				.head 
					span Настройки
				.links
					a.link#hmenu-popup-main-city_btn(href="#") Город: #[span.val Москва]
						img.img-arrow(src="img/hmenu-arrow-right.svg", alt="hmenu-arrow-right.svg")
					img.separ(src="img/index/separ.svg", alt="separ.svg")
					a.link#hmenu-popup-main-delivery_btn(href="#") Доставка: #[span.val Москва]
						img.img-arrow(src="img/hmenu-arrow-right.svg", alt="hmenu-arrow-right.svg")
					img.separ(src="img/index/separ.svg", alt="separ.svg")
					a.link#hmenu-popup-main-language_btn(href="#") Язык: #[span.val русский]
						img.img-arrow(src="img/hmenu-arrow-right.svg", alt="hmenu-arrow-right.svg")
					img.separ(src="img/index/separ.svg", alt="separ.svg")
					a.link#hmenu-popup-main-currency_btn(href="#") Валюта: #[span.val RUB (Russian Rouble)]
						img.img-arrow(src="img/hmenu-arrow-right.svg", alt="hmenu-arrow-right.svg")
		.dd-popup.currency-popup#currency-popup
			a.currency-popup_close-btn(href="#")
				img.img-close(src="img/close.svg", alt="close.svg")
			.topline
				span Валюта
			.input-outer
				img.img-search(src="img/search.svg", alt="search.svg")
				input.input-search.popup-map-input-search(type="search" placeholder="Введите валюту")
			.search-items.dd-search-items
				.search-item.dd-search-item.currency-popup_close-btn
					span EUR (Euro)
				.search-item.dd-search-item.currency-popup_close-btn
					img.separ(src="img/index/separ.svg", alt="separ.svg")
					span USD (US Dollar)
				.search-item.dd-search-item.currency-popup_close-btn
					img.separ(src="img/index/separ.svg", alt="separ.svg")
					span RUB (Russian Rouble)
				.search-item.dd-search-item
				.search-item.dd-search-item
				.search-item.dd-search-item
		.dd-popup.language-popup#language-popup
			a.language-popup_close-btn(href="#")
				img.img-close(src="img/close.svg", alt="close.svg")
			.topline
				span Язык
			.input-outer
				img.img-search(src="img/search.svg", alt="search.svg")
				input.input-search.popup-map-input-search(type="search" placeholder="Введите язык")
			.search-items.dd-search-items
				.search-item.dd-search-item.language-popup_close-btn
					span Русский
				.search-item.dd-search-item.language-popup_close-btn
					img.separ(src="img/index/separ.svg", alt="separ.svg")
					span English
				.search-item.dd-search-item.language-popup_close-btn
					img.separ(src="img/index/separ.svg", alt="separ.svg")
					span Deutsch
				.search-item.dd-search-item.language-popup_close-btn
					img.separ(src="img/index/separ.svg", alt="separ.svg")
					span Italiano
				.search-item.dd-search-item.language-popup_close-btn
					img.separ(src="img/index/separ.svg", alt="separ.svg")
					span Español
				.search-item.dd-search-item.language-popup_close-btn
					img.separ(src="img/index/separ.svg", alt="separ.svg")
					span 中文
		.popup-map.popup-map-delivery#popup-map2.Log-form
			img.hmenu-popup-close.img-close.popup-map2_close-btn(src="img/close.svg", alt="close.svg")
			.topline
				a(href="#").hmenu-popup-inner-close.popup-map2_close-btn
					img(src="img/arrow-left.svg", alt="arrow-left.svg")
				span Доставка
			.input-outer
				img.img-search(src="img/search.svg", alt="search.svg")
				input.input-search.popup-map-input-search(type="search" placeholder="Введите город")
				.search-results
					.search-item
						span Москва
					img.separ(src="img/index/separ.svg", alt="separ.svg")
					.search-item
						span Санкт-Петербург
					img.separ(src="img/index/separ.svg", alt="separ.svg")
					.search-item
						span Владивосток
			.mapOuter
				.map#map2
			.map-buttons
				a(href="#").map-btn.popup-map2_close-btn
					span Запомнить
		.popup-map.popup-map-city#popup-map1.Log-form
			img.hmenu-popup-close.img-close.popup-map1_close-btn(src="img/close.svg", alt="close.svg")
			.topline
				a(href="#").hmenu-popup-inner-close.popup-map1_close-btn
					img(src="img/arrow-left.svg", alt="arrow-left.svg")
				span Местоположение
			.input-outer
				img.img-search(src="img/search.svg", alt="search.svg")
				input.input-search.popup-map-input-search(type="search" placeholder="Введите город")
				.search-results
					.search-item
						span Москва
					img.separ(src="img/index/separ.svg", alt="separ.svg")
					.search-item
						span Санкт-Петербург
					img.separ(src="img/index/separ.svg", alt="separ.svg")
					.search-item
						span Владивосток
			.mapOuter
				.map#map1
			.map-buttons
				a(href="#").map-btn.popup-map1_close-btn
					span Запомнить

		.Log-form.LogIn-form#LogIn-form
			a.LogIn-form_close-btn(href="#")
				img.img-close(src="img/close.svg", alt="close.svg")
			.topline
				span Войти
			form(action="#").form-block
				.input-item
					.input-head 
						span Логин #[span.red *] 
						a(href="#").a-logup#LogIn-form_btnLogUp.LogIn-form_close-btn Создать учетную запись
					input(type="text")
					a(href="#").a-logup#LogIn-form_btn_mobLogUp.LogIn-form_close-btn.mob Создать учетную запись
				.input-item
					.input-head 
						span Пароль #[span.red *]
						a(href="#") Забыли пароль?
					input(type="password")
					a(href="#").input-head__a.mob Забыли пароль?
				.form-options
					input#LogIn-form_checkbox(type="checkbox")
					label(for="LogIn-form_checkbox") Запомнить
				.form-buttons
					a(href="#").form-btn.form-btnLogIn#LogIn-form_btnLogIn.LogIn-form_close-btn
						span Вход
		.Log-form.LogUp-form#LogUp-form
			a.LogUp-form_close-btn(href="#")
				img.img-close(src="img/close.svg", alt="close.svg")
			.topline
				span Создать учетную запись
			form(action="#").form-block
				.input-item
					.input-head 
						span Тип учётной записи
					.radio
						input#LogUp-form_radio1(type="radio" name="logup-type")
						label(for="LogUp-form_radio1") Покупатель
						input#LogUp-form_radio2(type="radio" name="logup-type")
						label(for="LogUp-form_radio2") Продавец
				.input-item
					.input-head
						span E-mail #[span.red *] 
					input(type="email")
				.input-item
					.input-head
						span Пароль #[span.red *]
					input(type="password")
				.input-item
					.input-head
						span Подтверждение пароля #[span.red *]
					input(type="password")
				.p-policy
					input#LogUp-form_checkbox(type="checkbox")
					label(for="LogUp-form_checkbox")
					.textblock.headtext Настоящим подтверждаю, что я ознакомлен и согласен с условиями политики конфиденциальности. #[span.red *]
					.textblock.desctext Нажимая кнопку "Регистрация", я подтверждаю свою дееспособность и согласие на получение информации об оформлении и получении заказа, согласие на обработку персональных данных в соответствии с указанным #[a(href="#") здесь текстом]
				.form-buttons
					a(href="#").form-btn.form-btnLogUp#LogUp-form_btnLogUp.LogUp-form_close-btn
						span Регистрация
		block content
	
	//- Scripts
	script(src="js/jquery.min.js")
	script(src="js/svg4everybody.min.js")
	script(src="js/jquery.bpopup.js")
	script.
		$(document).ready(function(){

			svg4everybody();

			var lSbtn = $('#languageSettings-button');
			var lSdropmenu = $('#languageSettings-dropmenu');

			lSbtn.click(function(){
				if (lSdropmenu.hasClass('hide')){
					lSdropmenu.fadeIn(50)
					lSdropmenu.removeClass('hide');
				}else{
					lSdropmenu.fadeOut(100)
					lSdropmenu.addClass('hide')
				}
			});

			$('#buttonProfile').click(function(){
				if($(window).width() >= 1025){
					if ($('#profile-dropdown').hasClass('hide')){
						$('#profile-dropdown').fadeIn(50)
						$('#profile-dropdown').removeClass('hide');
					}else{
						$('#profile-dropdown').fadeOut(100)
						$('#profile-dropdown').addClass('hide')
					}
				}else{
					$('#popup-profile-mob').bPopup({
						positionStyle: 'fixed',
						closeClass: 'profile-mob_close-btn',
						onOpen: function() { $('body').addClass('fixed'); },
						onClose: function() { $('body').removeClass('fixed') }				
					});
				}
			});

			$(document).click(function (e){
				if (!lSbtn.is(e.target) && lSbtn.has(e.target).length === 0) {
					lSdropmenu.fadeOut(100);
					lSdropmenu.addClass('hide')
				}

				if ($('#dd-exit-btn').is(e.target) || !$('#profile-dropdown').is(e.target) && $('#profile-dropdown').has(e.target).length === 0 && !$('#buttonProfile').is(e.target) && $('#buttonProfile').has(e.target).length === 0) {
					$('#profile-dropdown').fadeOut(100);
					$('#profile-dropdown').addClass('hide')
				}
				//- if (!$('.popup-map-input-search').is(e.target) && $('.popup-map-input-search').has(e.target).length === 0 && !$('.search-results').is(e.target) && $('.search-results').has(e.target).length === 0) {
				//- 	$('.popup-map-input-search').siblings('.search-results').hide();
				//- }
			});

			$('#header-btnLogIn').click(function(){
				$('#LogIn-form').bPopup({
					positionStyle: 'fixed',
					closeClass: 'LogIn-form_close-btn',
					onOpen: function() { setTimeout(function(){$('body').addClass('fixed'); }, 500); },
					onClose: function() { $('body').removeClass('fixed') }
									
				});
			});
			$('#LogIn-form_btnLogUp, #LogIn-form_btn_mobLogUp').click(function(){
				$('#LogUp-form').bPopup({
					positionStyle: 'fixed',
					closeClass: 'LogUp-form_close-btn',
					onOpen: function() { setTimeout(function(){$('body').addClass('fixed'); }, 500); },
					onClose: function() { $('body').removeClass('fixed') }
									
				});
			});
			

			$('#header-popup-map1').click(function(){
				$('#popup-map1').bPopup({
					positionStyle: 'fixed',
					closeClass: 'popup-map1_close-btn',
					onOpen: function() { $('body').addClass('fixed'); },
					onClose: function() { $('body').removeClass('fixed') }
									
				});
			});
			$('#header-popup-map2').click(function(){
				$('#popup-map2').bPopup({
					positionStyle: 'fixed',
					closeClass: 'popup-map2_close-btn',
					onOpen: function() { $('body').addClass('fixed'); },
					onClose: function() { $('body').removeClass('fixed') }
									
				});
			});

			$('#header-language-popup').click(function(){
				$('#language-popup').bPopup({
					positionStyle: 'fixed',
					closeClass: 'language-popup_close-btn',
					onOpen: function() { $('body').addClass('fixed'); },
					onClose: function() { $('body').removeClass('fixed') }
									
				});
			});

			$('.popup-map-input-search').focusin(function(){
				$(this).siblings('.search-results').show();
			});
			$('.popup-map-input-search + .search-results .search-item').click(function(){
				$('.popup-map-input-search + .search-results').hide();
			});
			$('.popup-map-input-search').focusout(function(){
				$(this).siblings('.search-results').hide();
			});
			


			$('#header-currency-popup').click(function(){
				$('#currency-popup').bPopup({
					positionStyle: 'fixed',
					closeClass: 'currency-popup_close-btn',
					onOpen: function() { $('body').addClass('fixed'); },
					onClose: function() { $('body').removeClass('fixed') }
									
				});
			});

			$('.dd-popup-search').on('input', function(){
				var str = $(this).val().toLowerCase();
				if (str.length <= 1){
					$('.dd-search-items .dd-search-item').show();
				}
				$('.dd-search-items .dd-search-item').each(function(){
					if ($(this).text().toLowerCase().indexOf(str) < 0){
						$(this).hide();
					}
				});
			});


			//- Mobile

			$('#header-menu-button').click(function(){
				$(this).toggleClass('is-active');
				$('#hmenu-popup-main').toggleClass('active');
				$('#hmenu-popup-main').fadeToggle(250);
				if($('.hmenu-popup').not('#hmenu-popup-main').hasClass('active')){
					$('.hmenu-popup').removeClass('active');
					$('.hmenu-popup').fadeOut(250);
				}
				$('body').toggleClass('fixed');
			});

			$('.hmenu-popup-main .hmenu-link').click(function(){
				$('#hmenu-popup-category1').toggleClass('active');
				$('#hmenu-popup-category1').fadeToggle(250);
			});
			$('.hmenu-popup-category1 .hmenu-link').click(function(){
				$('#hmenu-popup-category2').toggleClass('active');
				$('#hmenu-popup-category2').fadeToggle(250);
			});

			$('.hmenu-popup-close').click(function(){
				$('.hmenu-popup').fadeOut(250);
				$('.hmenu-popup').removeClass('active')
				$('#header-menu-button').removeClass('is-active')
				$('body').removeClass('fixed');
			});
			$('.hmenu-popup-inner-close').click(function(){
				$(this).parents('.hmenu-popup-category').fadeOut(250);
				$(this).parents('.hmenu-popup-category').removeClass('active');
				$(this).parents('.hmenu-popup-lSettings').fadeOut(250);
				$(this).parents('.hmenu-popup-lSettings').removeClass('active');
			});
			$('#hmenu-popup-main-city_btn').click(function(){
				$('#popup-map1').bPopup({
					positionStyle: 'fixed',
					closeClass: 'popup-map1_close-btn'		
				});
			});
			$('#hmenu-popup-main-delivery_btn').click(function(){
				$('#popup-map2').bPopup({
					positionStyle: 'fixed',
					closeClass: 'popup-map2_close-btn'		
				});
			});
			$('#hmenu-popup-main-language_btn').click(function(){
				$('#hmenu-popup-main-language').toggleClass('active');
				$('#hmenu-popup-main-language').fadeToggle(250);
			});
			$('#hmenu-popup-main-currency_btn').click(function(){
				$('#hmenu-popup-main-currency').toggleClass('active');
				$('#hmenu-popup-main-currency').fadeToggle(250);
			});

			$('.mk-filter-btn-shops').click(function(){
				$('#mk-filter-popup-shops').bPopup({
					positionStyle: 'fixed',
					closeClass: 'filter-popup_close-btn',
					onOpen: function() { $('body').addClass('fixed'); },
					onClose: function() { $('body').removeClass('fixed') }			
				});
			});
			$('.mk-filter-btn-molls').click(function(){
				$('#mk-filter-popup-molls').bPopup({
					positionStyle: 'fixed',
					closeClass: 'filter-popup_close-btn',
					onOpen: function() { $('body').addClass('fixed'); },
					onClose: function() { $('body').removeClass('fixed') }			
				});
			});
			$('.mk-filter-btn-products').click(function(){
				$('#mk-filter-popup-products').bPopup({
					positionStyle: 'fixed',
					closeClass: 'filter-popup-products_close-btn',
					onOpen: function() { 
						$('body').addClass('fixed');
					},
					onClose: function() { $('body').removeClass('fixed') }			
				});
				$('.mk-filter-products-select2').select2({
					minimumResultsForSearch: Infinity,
					dropdownCssClass: 'mk-filter-products-select2-dropdown',
					dropdownCss: { 'z-index': '10001'},
				});
			});

			//- Фильтр для товаров

			//- $('.mk-filter-drop-btn').click(function(){
			//- 	$('#mk-filter-drop-popup').bPopup({
			//- 		positionStyle: 'fixed',
			//- 		closeClass: 'filter-drop-popup_close-btn',
			//- 		onOpen: function() { $('body').addClass('fixed'); },
			//- 		onClose: function() { $('body').removeClass('fixed') }			
			//- 	});
			//- });
			//- $('.mk-filter-drop-popup .unfixed-btn').click(function(){
			//- 	setTimeout(function(){$('body').addClass('fixed'); }, 500);
			//- });
			//- $('.mk-filter-drop-popup .img-close').click(function(){
			//- 	$('.mk-filter-popup .img-close').click();
			//- });

			$('.mk-filter-popup-line').click(function(){
				if($(this).find('.option-checkbox').is(':checked')){
					$(this).find('.option-checkbox').prop('checked', false);
					$(this).removeClass('checked');
				}else{
					$(this).find('.option-checkbox').prop('checked', true);
					$(this).addClass('checked');
				}
			});
			$('.mk-filter-popup-line .option-checkbox').click(function(){
				if($(this).is(':checked')){
					$(this).prop('checked', false);
					$(this).parents('.line').removeClass('checked');
				}else{
					$(this).prop('checked', true);
					$(this).parents('.line').addClass('checked');
				}
			});


			$('.footer-links-btn').click(function(){
				$('.footer-links-btn').not(this).removeClass('active');
				$('.footer-links-btn').not(this).next().slideUp(250);
				$(this).next().slideToggle(250);
				$(this).toggleClass('active');
			});

			




		});

	script.
		var map1;
		var map2;
		function initMap() {
			map1 = new google.maps.Map(document.getElementById('map1'), {
				center: {lat: 55.754095, lng: 37.616722},
				zoom: 12,
				streetViewControl: false,
				mapTypeControl: false
			});
			map2 = new google.maps.Map(document.getElementById('map2'), {
				center: {lat: 55.754095, lng: 37.616722},
				zoom: 12,
				streetViewControl: false,
				mapTypeControl: false
			});
		}
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDKhp6yO-hzgForGQ3ZJrBGj-QrUCUbZeQ&callback=initMap" async defer></script>

	block scripts


