@font-face {
  font-family: "roboto-example";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/RobotoRegular/RobotoRegular.eot");
  src: url("../fonts/RobotoRegular/RobotoRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoRegular/RobotoRegular.woff") format("woff"), url("../fonts/RobotoRegular/RobotoRegular.ttf") format("truetype");
}

@font-face {
  font-family: "roboto-example";
  font-weight: bold;
  font-style: normal;
  src: url("../fonts/RobotoBold/RobotoBold.eot");
  src: url("../fonts/RobotoBold/RobotoBold.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoBold/RobotoBold.woff") format("woff"), url("../fonts/RobotoBold/RobotoBold.ttf") format("truetype");
}

@font-face {
  font-family: "roboto-light";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/RobotoLight/RobotoLight.eot");
  src: url("../fonts/RobotoLight/RobotoLight.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoLight/RobotoLight.woff") format("woff"), url("../fonts/RobotoLight/RobotoLight.ttf") format("truetype");
}

body .select2-container--default {
  z-index: 2;
}

body .select2-container--default .mk-sidebar-select2-dropdown {
  border: none;
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
}

body .select2-container--default .mk-sidebar-select2-dropdown .select2-results__group {
  padding-left: 12px;
}

body .select2-container--default .mk-sidebar-select2-dropdown .select2-results > .select2-results__options {
  -webkit-box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

body .select2-container--default .mk-sidebar-select2-dropdown .select2-results > .select2-results__options .select2-results__option {
  font-size: 13px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  padding-left: 14px;
}

body .select2-container--default .mk-sidebar-select2-dropdown .select2-results > .select2-results__options .select2-results__option[role=group] {
  padding-left: 0;
}

body .select2-container--default .mk-sidebar-select2-dropdown .select2-results > .select2-results__options .select2-results__option[role=group] .select2-results__option {
  padding-left: 28px;
}

body .select2-container--default .mk-sidebar-select2-dropdown .select2-results__option--highlighted[aria-selected] {
  background-color: #ddd;
  color: #000;
}

body .select2-container--default .mk-sidebar-select2-dropdown .select2-results__option[aria-selected=true] {
  background-color: #157EE1;
  color: #fff;
}

body main .container .main-content {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 14px;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
}

body main .container .main-content nav.sidebar {
  margin-right: 10px;
  padding: 5px 0;
  width: 252px;
  background-color: #fff;
  border-radius: 5px;
  -webkit-box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

body main .container .main-content nav.sidebar ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

body main .container .main-content nav.sidebar ul li {
  cursor: pointer;
  padding-left: 18px;
  position: relative;
  height: 35px;
  line-height: 35px;
  font-size: 13px;
  color: #000;
  opacity: 0.5;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

body main .container .main-content nav.sidebar ul li span.value {
  position: absolute;
  right: 0;
  top: 0;
  margin-right: 18px;
}

body main .container .main-content nav.sidebar ul li.active, body main .container .main-content nav.sidebar ul li:hover {
  opacity: 1;
  background-color: #E5E5E5;
}

body main .container .main-content nav.sidebar ul li.active::before, body main .container .main-content nav.sidebar ul li:hover::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  height: 100%;
  background-color: #c4c4c4;
  width: 3px;
}

body main .container .main-content .lk-section {
  width: 100%;
}

body main .container .main-content .lk-section .lk-article {
  border-radius: 5px;
  background-color: #fff;
  -webkit-box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  padding-left: 37px;
  padding-bottom: 34px;
}

body main .container .main-content .lk-section .lk-article p.head {
  margin-top: 0;
  margin-bottom: 19px;
  padding: 17.5px 0;
  font-size: 20px;
  font-weight: bold;
  color: #000;
}

body main .container .main-content .lk-section .lk-article .input-outer span, body main .container .main-content .lk-section .lk-article .checkbox-outer span {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

body main .container .main-content .lk-section .lk-article .input-outer:last-child {
  margin-bottom: 23px;
}

body main .container .main-content .lk-section .lk-article .input-outer {
  position: relative;
  margin-bottom: 26px;
}

body main .container .main-content .lk-section .lk-article .input-outer span.input-name {
  position: absolute;
  top: -17px;
  left: 13px;
  font-size: 10px;
  color: #B2B2B2;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

body main .container .main-content .lk-section .lk-article .input-outer span.input-name span.red {
  color: #ff0000;
}

body main .container .main-content .lk-section .lk-article .input-outer span.input-name.black {
  color: #000;
}

body main .container .main-content .lk-section .lk-article .input-outer select.day {
  width: 52px;
}

body main .container .main-content .lk-section .lk-article .input-outer select.month {
  width: 134px;
}

body main .container .main-content .lk-section .lk-article .input-outer select.year {
  width: 134px;
}

body main .container .main-content .lk-section .lk-article .input-outer .select2:hover ~ span.input-name {
  color: #000;
}

body main .container .main-content .lk-section .lk-article .input-outer .select2:checked ~ span.input-name {
  color: #000;
}

body main .container .main-content .lk-section .lk-article .input-outer .select2:not(:last-child) {
  margin-right: 0;
}

body main .container .main-content .lk-section .lk-article .input-outer .select2-container--default .select2-selection--single {
  border: 0.5px solid #B3B3B3;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

body main .container .main-content .lk-section .lk-article .input-outer .select2-container--default .select2-selection--single:hover {
  border-color: #157EE1;
}

body main .container .main-content .lk-section .lk-article .input-outer .select2-container--default .select2-selection--single:focus {
  outline: 0.5px auto #157EE1;
}

body main .container .main-content .lk-section .lk-article .input-outer .select2-container {
  z-index: 1;
}

body main .container .main-content .lk-section .lk-article .input-outer .select2-container .select2-selection--single {
  height: 30px;
}

body main .container .main-content .lk-section .lk-article .input-outer .select2-container .select2-selection--single .select2-selection__rendered {
  padding-left: 12px;
  font-size: 13px;
  color: #000;
}

body main .container .main-content .lk-section .lk-article input {
  outline: #000;
  width: 269px;
  height: 30px;
  padding-left: 13px;
  color: #000;
  line-height: 30px;
  font-size: 13px;
  background-color: #fff;
  border-radius: 5px;
  border: 0.5px solid #B3B3B3;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

body main .container .main-content .lk-section .lk-article input:focus, body main .container .main-content .lk-section .lk-article input:hover {
  border-color: #157EE1;
}

body main .container .main-content .lk-section .lk-article input:hover ~ span, body main .container .main-content .lk-section .lk-article input:focus ~ span {
  color: #000;
}

body main .container .main-content .lk-section .lk-article input::-moz-placeholder {
  font-size: 10px;
  color: #B2B2B2;
  -moz-transition: 0.3s;
  transition: 0.3s;
}

body main .container .main-content .lk-section .lk-article input::-ms-input-placeholder {
  font-size: 10px;
  color: #B2B2B2;
  -ms-transition: 0.3s;
  transition: 0.3s;
}

body main .container .main-content .lk-section .lk-article input::-webkit-input-placeholder {
  font-size: 10px;
  color: #B2B2B2;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

body main .container .main-content .lk-section .lk-article input:-ms-input-placeholder {
  font-size: 10px;
  color: #B2B2B2;
  -ms-transition: 0.3s;
  transition: 0.3s;
}

body main .container .main-content .lk-section .lk-article input::placeholder {
  font-size: 10px;
  color: #B2B2B2;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

body main .container .main-content .lk-section .lk-article input:focus::-moz-placeholder {
  color: #000;
}

body main .container .main-content .lk-section .lk-article input:focus::-ms-input-placeholder {
  color: #000;
}

body main .container .main-content .lk-section .lk-article input:focus::-webkit-input-placeholder {
  color: #000;
}

body main .container .main-content .lk-section .lk-article input:focus:-ms-input-placeholder {
  color: #000;
}

body main .container .main-content .lk-section .lk-article input:focus::placeholder {
  color: #000;
}

body main .container .main-content .lk-section .lk-article input:hover::-moz-placeholder {
  color: #000;
}

body main .container .main-content .lk-section .lk-article input:hover::-ms-input-placeholder {
  color: #000;
}

body main .container .main-content .lk-section .lk-article input:hover::-webkit-input-placeholder {
  color: #000;
}

body main .container .main-content .lk-section .lk-article input:hover:-ms-input-placeholder {
  color: #000;
}

body main .container .main-content .lk-section .lk-article input:hover::placeholder {
  color: #000;
}

body main .container .main-content .lk-section .lk-article .checkbox-outer {
  display: inline-block;
  padding-left: 42px;
}

body main .container .main-content .lk-section .lk-article .checkbox-outer span.name {
  font-size: 10px;
  color: #B2B2B2;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

body main .container .main-content .lk-section .lk-article .checkbox-outer span.name span.red {
  color: #ff0000;
}

body main .container .main-content .lk-section .lk-article .checkbox-outer span, body main .container .main-content .lk-section .lk-article .checkbox-outer label {
  vertical-align: middle;
}

body main .container .main-content .lk-section .lk-article .checkbox-outer input {
  display: none;
}

body main .container .main-content .lk-section .lk-article .checkbox-outer label {
  margin-left: 40px;
  margin-top: -3px;
  font-size: 13px;
  padding-left: 38px;
  color: #000;
  position: relative;
  display: inline-block;
  cursor: pointer;
}

body main .container .main-content .lk-section .lk-article .checkbox-outer label:hover::before {
  border-color: #157EE1;
}

body main .container .main-content .lk-section .lk-article .checkbox-outer label::before {
  content: '';
  position: absolute;
  display: inline-block;
  top: -2px;
  left: 0;
  width: 25px;
  height: 25px;
  border-radius: 5px;
  border: 0.5px solid #000;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

body main .container .main-content .lk-section .lk-article .checkbox-outer label::after {
  content: '';
  display: inline-block;
  position: absolute;
  display: none;
  left: 4px;
  top: 3px;
  width: 18px;
  height: 18px;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../img/checkbox-img.svg");
}

body main .container .main-content .lk-section .lk-article .checkbox-outer input:checked + label::after {
  display: block;
}

body main .container .main-content .lk-section .lk-article .checkbox-outer input:checked + label::before {
  border-color: #157EE1;
}

body main .container .main-content .lk-section .lk-article .checkbox-outer:hover span.name {
  color: #000;
}

body main .container .main-content .lk-section .lk-article .pp-outer {
  margin-bottom: 23px;
}

body main .container .main-content .lk-section .lk-article .pp-outer input {
  display: none;
}

body main .container .main-content .lk-section .lk-article .pp-outer label {
  font-size: 10px;
  padding-left: 35px;
  color: #000;
  position: relative;
  display: inline-block;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

body main .container .main-content .lk-section .lk-article .pp-outer label:before {
  content: '';
  position: absolute;
  display: inline-block;
  top: -3px;
  left: 0;
  width: 20px;
  height: 20px;
  border-radius: 5px;
  border: 0.5px solid #000;
}

body main .container .main-content .lk-section .lk-article .pp-outer label::after {
  content: '';
  display: inline-block;
  position: absolute;
  display: none;
  left: 3px;
  top: 0px;
  width: 15px;
  height: 15px;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../img/checkbox-img.svg");
}

body main .container .main-content .lk-section .lk-article .pp-outer input:checked + label::after {
  display: block;
}

body main .container .main-content .lk-section .lk-article a.btn {
  display: inline-block;
  width: 188px;
  height: 30px;
  line-height: 28px;
  text-align: center;
  background-color: #157EE1;
  border-radius: 5px;
  color: #fff;
  font-size: 13px;
  font-weight: bold;
}

body main .container .main-content .lk-section .lk-article.passChange input {
  display: block;
  margin-bottom: 26px;
}

body main .container .main-content .lk-section .lk-article:not(:last-child) {
  margin-bottom: 15px;
}
