@font-face {
  font-family: "roboto-example";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/RobotoRegular/RobotoRegular.eot");
  src: url("../fonts/RobotoRegular/RobotoRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoRegular/RobotoRegular.woff") format("woff"), url("../fonts/RobotoRegular/RobotoRegular.ttf") format("truetype");
}

@font-face {
  font-family: "roboto-example";
  font-weight: bold;
  font-style: normal;
  src: url("../fonts/RobotoBold/RobotoBold.eot");
  src: url("../fonts/RobotoBold/RobotoBold.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoBold/RobotoBold.woff") format("woff"), url("../fonts/RobotoBold/RobotoBold.ttf") format("truetype");
}

@font-face {
  font-family: "roboto-light";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/RobotoLight/RobotoLight.eot");
  src: url("../fonts/RobotoLight/RobotoLight.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoLight/RobotoLight.woff") format("woff"), url("../fonts/RobotoLight/RobotoLight.ttf") format("truetype");
}

body section.main-content .search-items-outer {
  padding: 0 15px;
  display: none;
}

body section.main-content .search-items-outer .search-items {
  width: 100%;
  position: relative;
  margin: 34px 0;
}

body section.main-content .search-items-outer .search-items input {
  width: 100%;
  height: 60px;
  padding-left: 49px;
  background-color: transparent;
  border: 0.5px solid #000000;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  font-size: 19px;
  color: #000;
}

body section.main-content .search-items-outer .search-items input::-webkit-input-placeholder {
  font-size: 19px;
  color: #000;
  opacity: 0.5;
}

body section.main-content .search-items-outer .search-items input:-moz-placeholder {
  font-size: 19px;
  color: #000;
  opacity: 0.5;
}

body section.main-content .search-items-outer .search-items input::-moz-placeholder {
  font-size: 19px;
  color: #000;
  opacity: 0.5;
}

body section.main-content .search-items-outer .search-items input:-ms-input-placeholder {
  font-size: 19px;
  color: #000;
  opacity: 0.5;
}

body section.main-content .search-items-outer .search-items img.search {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  left: 0;
  margin-left: 18px;
  width: 19px;
}

body section.main-content .search-items-outer .search-items .filter-btn {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  border-left: 0.5px solid #000000;
  cursor: pointer;
  text-align: center;
}

body section.main-content .search-items-outer .search-items .filter-btn img {
  opacity: 0.5;
  padding: 13px 28px 14px 26px;
}

body section.main-content .navbar {
  -webkit-box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  margin: 15px 0;
  padding: 10px 0;
  position: relative;
  text-align: center;
  background-color: #fff;
  -webkit-border-radius: 5px;
          border-radius: 5px;
}

body section.main-content .navbar .buttonSwitch {
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
  display: inline-block;
  text-align: center;
  height: 30px;
  line-height: 26px;
  width: 123px;
  margin: 0 5px;
  border: 0.5px solid #ededed;
  -webkit-border-radius: 5px;
          border-radius: 5px;
}

body section.main-content .navbar .buttonSwitch span {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  opacity: 0.75;
  font-size: 13px;
  font-weight: bold;
  color: #333;
}

body section.main-content .navbar .buttonSwitch.active {
  -webkit-box-shadow: inset 0px 4px 4px #bfbfbf;
          box-shadow: inset 0px 4px 4px #bfbfbf;
  background-color: #F0F0F0;
}

body section.main-content .navbar .buttonSwitch.active span {
  color: #000;
  opacity: 1;
}

body section.main-content .navbar .buttonSwitch.disabled {
  pointer-events: none;
}

body section.main-content .navbar .buttonSwitch:hover {
  -webkit-box-shadow: inset 0px 4px 4px #bfbfbf;
          box-shadow: inset 0px 4px 4px #bfbfbf;
  background-color: #F0F0F0;
}

body section.main-content .navbar .buttonSwitch:hover span {
  color: #000;
  opacity: 1;
}

body section.main-content .navbar .input-outer {
  display: none;
  position: absolute;
  width: 240px;
  height: 30px;
  top: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  margin-right: 17px;
}

body section.main-content .navbar .input-outer input.input-search {
  width: 100%;
  height: 100%;
  padding-left: 14px;
  padding-right: 25px;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  border: none;
  background-color: #e6e6e6;
}

body section.main-content .navbar .input-outer a.buttonSearch {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  padding-left: 5px;
  padding-right: 7px;
}

body section.main-content .navbar .input-outer a.buttonSearch img.icon {
  vertical-align: middle;
  width: 14px;
  height: auto;
}

body section.main-content .navbar .input-outer input.input-search::-webkit-input-placeholder {
  font-size: 12px;
  color: #808080;
  opacity: 0.5;
}

body section.main-content .navbar .input-outer input.input-search:-moz-placeholder {
  font-size: 12px;
  color: #808080;
  opacity: 0.5;
}

body section.main-content .navbar .input-outer input.input-search::-moz-placeholder {
  font-size: 12px;
  color: #808080;
  opacity: 0.5;
}

body section.main-content .navbar .input-outer input.input-search:-ms-input-placeholder {
  font-size: 12px;
  color: #808080;
  opacity: 0.5;
}

body section.main-content .main-block {
  display: none;
}

body section.main-content .main-block .flex-table {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

body section.main-content .main-block .btn-more.mob {
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  display: none;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  border: 0.5px solid rgba(0, 0, 0, 0.3);
  width: 200px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  cursor: pointer;
  margin: 0 auto;
}

body section.main-content .main-block .btn-more.mob span {
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  font-weight: bold;
  font-size: 21px;
  color: #000;
}

body section.main-content .main-block .btn-more.mob:hover {
  background-color: #157EE1;
  border-color: #157EE1;
}

body section.main-content .main-block .btn-more.mob:hover span {
  color: #fff;
}

body section.main-content .publications .flex-table {
  padding: 0 136px;
}

body section.main-content .publications .flex-table a.item {
  width: -webkit-calc((100% / 4) - 12px);
  width: calc((100% / 4) - 12px);
  margin: 0 6px 15px 6px;
  display: inline-block;
}

body section.main-content .publications .flex-table a.item img {
  -webkit-box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  vertical-align: bottom;
  -webkit-border-radius: 5px;
          border-radius: 5px;
}

body section.main-content .models {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

body section.main-content .models .flex-table {
  margin-left: -25px;
}

body section.main-content .models .flex-table .model-item::before {
  content: '';
  position: absolute;
  z-index: -1;
  width: -webkit-calc(100% - 39px);
  width: calc(100% - 39px);
  right: 0;
  height: 100%;
  background-color: #fff;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  -webkit-box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

body section.main-content .models .flex-table .model-item {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  width: -webkit-calc((100% / 2) - 25px);
  width: calc((100% / 2) - 25px);
  margin-left: 25px;
  margin-bottom: 15px;
  cursor: pointer;
  background-color: transparent;
}

body section.main-content .models .flex-table .model-item img.model-icon {
  width: 80px;
  height: auto;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  vertical-align: bottom;
}

body section.main-content .models .flex-table .model-item .text-block {
  margin-left: 31px;
}

body section.main-content .models .flex-table .model-item .text-block .name {
  font-size: 14px;
  font-weight: bold;
  padding: 9.5px 0;
  line-height: 1.2;
}

body section.main-content .models .flex-table .model-item .text-block .login {
  font-size: 10px;
  color: #999999;
  margin-top: 3px;
}

body section.main-content .models .flex-table .model-item .mGallery {
  margin-left: auto;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 11px 0;
}

body section.main-content .models .flex-table .model-item .mGallery img {
  display: inline-block;
  vertical-align: middle;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  width: 50px;
  height: 50px;
  margin-left: 8px;
}

body section.main-content .models .flex-table .model-item .mGallery img.mob {
  display: none;
}

body section.main-content .models .flex-table .model-item a.btn-subscribe {
  background-color: #157EE1;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  text-align: center;
  width: 130px;
  height: 30px;
  line-height: 30px;
  color: #fff;
  font-size: 13px;
  font-weight: bold;
  margin: 21px 20px;
}

body section.main-content .models .main-navbar-bottom {
  -webkit-box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  position: relative;
  margin-bottom: 35px;
  padding-top: 16px;
  padding-bottom: 13px;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  margin-left: -15px;
  margin-right: -15px;
  text-align: center;
  background-color: #fff;
}

body section.main-content .models .main-navbar-bottom .button {
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
  width: 92px;
  height: 30px;
  border: 0.5px solid rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 5px;
          border-radius: 5px;
  text-align: center;
}

body section.main-content .models .main-navbar-bottom .button span {
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  line-height: 30px;
  font-size: 9.5px;
  color: #000;
  font-weight: bold;
}

body section.main-content .models .main-navbar-bottom .button:hover {
  background-color: #157EE1;
  border-color: #157EE1;
}

body section.main-content .models .main-navbar-bottom .button:hover span {
  color: #fff;
}

body section.main-content .models .main-navbar-bottom .buttonsPN {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  padding-right: 23px;
}

body section.main-content .models .main-navbar-bottom .buttonsPN .buttonPrev, body section.main-content .models .main-navbar-bottom .buttonsPN .buttonNext {
  margin: auto;
  margin-left: 16px;
}

body section.main-content .models .main-navbar-bottom .buttonMore {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  left: 261px;
}

body section.main-content .models .main-navbar-bottom .pages {
  position: relative;
  font-size: 0;
  display: inline-block;
  -webkit-border-radius: 5px;
          border-radius: 5px;
}

body section.main-content .models .main-navbar-bottom .pages .page {
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
  border: 0.5px solid #ededed;
  border-left: none;
  width: 29px;
  height: 30px;
  display: inline-block;
}

body section.main-content .models .main-navbar-bottom .pages .page span {
  font-size: 10.5px;
  line-height: 30px;
  color: #b3b3b3;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  font-weight: bold;
}

body section.main-content .models .main-navbar-bottom .pages .page:first-child {
  -webkit-border-top-left-radius: 5px;
          border-top-left-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
          border-bottom-left-radius: 5px;
  border-left: 0.5px solid #ededed;
}

body section.main-content .models .main-navbar-bottom .pages .page:nth-last-child(1) {
  -webkit-border-top-right-radius: 5px;
          border-top-right-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
          border-bottom-right-radius: 5px;
}

body section.main-content .models .main-navbar-bottom .pages .page.active {
  -webkit-box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  background-color: #ededed;
  border-color: white;
  margin: 1px 0;
}

body section.main-content .models .main-navbar-bottom .pages .page.active span {
  color: #000;
}

body section.main-content .models .main-navbar-bottom .pages .page:hover {
  -webkit-box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  background-color: #ededed;
  border-color: white;
  margin: 1px 0;
}

body section.main-content .models .main-navbar-bottom .pages .page:hover span {
  color: #000;
}

@media only screen and (max-width: 1140px) {
  body main section.main-content .main-block {
    padding: 0 15px;
  }
}

@media only screen and (max-width: 1024px) {
  body main section.main-content .navbar {
    margin: 34px 0;
    padding: 19px 0;
  }
  body main section.main-content .navbar .input-outer {
    display: none !important;
  }
  body main section.main-content .navbar .buttonSwitch {
    height: 60px;
    line-height: 60px;
    margin: 0 28px;
    width: 165px;
  }
  body main section.main-content .navbar .buttonSwitch span {
    font-size: 20px;
  }
  body main section.main-content .navbar .buttonSwitch.mob {
    display: inline-block;
  }
  body main section.main-content .navbar .buttonSwitch.active span {
    color: #000;
  }
  body main section.main-content .navbar .buttonSwitch:hover span {
    color: #000;
  }
  body main section.main-content .main-block .btn-more.mob {
    display: block;
    margin-top: 0;
    margin-bottom: 25px;
  }
  body main section.main-content .publications .flex-table {
    margin-left: -15px;
    padding: 0;
  }
  body main section.main-content .publications .flex-table a.item {
    width: -webkit-calc((100% / 3) - 15px);
    width: calc((100% / 3) - 15px);
    margin-left: 15px;
    margin-right: 0px;
    margin-bottom: 15px;
  }
  body main section.main-content .publications .flex-table a.item img {
    -webkit-box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
            box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  }
  body main section.main-content .models .flex-table {
    margin-left: 0;
  }
  body main section.main-content .models .flex-table .model-item::before {
    width: -webkit-calc(100% - 78px);
    width: calc(100% - 78px);
  }
  body main section.main-content .models .flex-table .model-item {
    width: 100%;
    margin-left: 0;
    margin-bottom: 34px;
  }
  body main section.main-content .models .flex-table .model-item img.model-icon {
    width: 156px;
  }
  body main section.main-content .models .flex-table .model-item .text-block {
    margin-left: 56px;
  }
  body main section.main-content .models .flex-table .model-item .text-block .name {
    font-size: 33px;
    padding: 8px 0;
    margin-top: 7px;
  }
  body main section.main-content .models .flex-table .model-item .text-block .login {
    font-size: 25px;
    margin: 0;
  }
  body main section.main-content .models .flex-table .model-item .mGallery {
    padding: 0;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
  }
  body main section.main-content .models .flex-table .model-item .mGallery img {
    width: 89px;
    height: 89px;
    margin-left: 24px;
  }
  body main section.main-content .models .flex-table .model-item a.btn-subscribe {
    margin-top: 0;
    margin-bottom: 0;
    -webkit-align-self: center;
        -ms-flex-item-align: center;
            align-self: center;
    margin-left: 19px;
    margin-right: 19px;
    height: 60px;
    line-height: 60px;
    width: 197px;
    font-size: 17px;
  }
  body main section.main-content .models .main-navbar-bottom {
    display: none;
  }
}

@media only screen and (max-width: 900px) {
  body main section.main-content .models .flex-table .model-item:before {
    content: none;
  }
  body main section.main-content .models .flex-table .model-item {
    background-color: #fff;
    padding: 10px 15px 30px 15px;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-border-radius: 5px;
            border-radius: 5px;
  }
  body main section.main-content .models .flex-table .model-item .text-block {
    max-width: 30%;
  }
  body main section.main-content .models .flex-table .model-item .mGallery {
    padding-top: 29px;
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
        -ms-flex-order: 1;
            order: 1;
    width: 100%;
    margin: 0;
    text-align: center;
  }
  body main section.main-content .models .flex-table .model-item .mGallery img {
    margin: 0 auto;
    width: -webkit-calc((100% / 4) - 10px);
    width: calc((100% / 4) - 10px);
    height: auto;
  }
  body main section.main-content .models .flex-table .model-item .mGallery img.mob {
    display: inline-block;
  }
  body main section.main-content .models .flex-table .model-item a.btn-subscribe {
    margin-left: auto;
  }
}

@media only screen and (max-width: 768px) {
  body main section.main-content .navbar .buttonSwitch {
    margin: 0 15px;
  }
}

@media only screen and (max-width: 700px) {
  body main section.main-content .models .flex-table .model-item {
    position: relative;
  }
  body main section.main-content .models .flex-table .model-item img.model-icon {
    position: absolute;
    top: 10px;
    left: 15px;
  }
  body main section.main-content .models .flex-table .model-item .text-block, body main section.main-content .models .flex-table .model-item a.btn-subscribe {
    margin-left: 171px;
  }
  body main section.main-content .models .flex-table .model-item a.btn-subscribe {
    width: 100%;
    font-size: 19px;
    margin-top: 19px;
    height: 52px;
    line-height: 52px;
  }
  body main section.main-content .models .flex-table .model-item .text-block {
    max-width: none;
  }
  body main section.main-content .models .flex-table .model-item .text-block .name {
    padding: 0;
    margin-top: 20px;
  }
  body main section.main-content .models .flex-table .model-item .text-block .login, body main section.main-content .models .flex-table .model-item .text-block .name {
    font-size: 19px;
  }
}

@media only screen and (max-width: 600px) {
  body main section.main-content .search-items-outer .search-items {
    margin-bottom: 15px;
  }
  body main section.main-content .search-items-outer .search-items input {
    height: 54px;
  }
  body main section.main-content .search-items-outer .search-items .filter-btn img {
    padding: 15px 20px;
    width: 63px;
  }
  body main section.main-content .navbar {
    margin: 15px 0;
    padding: 15px 0;
  }
  body main section.main-content .main-block .btn-more.mob {
    height: 54px;
    line-height: 50px;
  }
  body main section.main-content .main-block .btn-more.mob span {
    font-size: 20px;
  }
}

@media only screen and (max-width: 500px) {
  body main section.main-content .navbar .buttonSwitch {
    width: 46%;
    margin: 0 1%;
    height: 52px;
    line-height: 52px;
  }
  body main section.main-content .main-block .btn-more.mob {
    width: 100%;
    margin-top: 15px;
    margin-bottom: 2px;
  }
  body main section.main-content .publications .flex-table {
    margin-left: -10px;
  }
  body main section.main-content .publications .flex-table a.item {
    width: -webkit-calc((100% / 3) - 10px);
    width: calc((100% / 3) - 10px);
    margin-left: 10px;
  }
  body main section.main-content .publications .flex-table a.item img {
    -webkit-box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
            box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  }
  body main section.main-content .models .flex-table .model-item {
    margin-bottom: 15px;
  }
  body main section.main-content .models .flex-table .model-item img.model-icon {
    width: 106px;
  }
  body main section.main-content .models .flex-table .model-item .text-block, body main section.main-content .models .flex-table .model-item a.btn-subscribe {
    margin-left: 121px;
  }
  body main section.main-content .models .flex-table .model-item .text-block .name {
    margin-top: 0;
  }
  body main section.main-content .models .flex-table .model-item .text-block .login {
    font-size: 13px;
  }
  body main section.main-content .models .flex-table .model-item a.btn-subscribe {
    margin-right: 0;
    margin-top: 2px;
  }
}

@media only screen and (max-width: 400px) {
  body main section.main-content .search-items-outer .search-items .filter-btn img {
    padding: 8px 15px;
    width: 53px;
  }
  body main section.main-content .search-items-outer .search-items img.search {
    margin-left: 16px;
  }
  body main section.main-content .search-items-outer .search-items input {
    font-size: 16px;
    height: 40px;
  }
  body main section.main-content .search-items-outer .search-items input::-webkit-input-placeholder {
    font-size: 16px;
  }
  body main section.main-content .search-items-outer .search-items input:-moz-placeholder {
    font-size: 16px;
  }
  body main section.main-content .search-items-outer .search-items input::-moz-placeholder {
    font-size: 16px;
  }
  body main section.main-content .search-items-outer .search-items input:-ms-input-placeholder {
    font-size: 16px;
  }
  body main section.main-content .navbar .buttonSwitch {
    width: 140px;
    margin: 0 5px;
  }
  body main section.main-content .navbar .buttonSwitch span {
    font-size: 16px;
  }
  body main section.main-content .main-block .btn-more.mob {
    margin-top: 24px;
    margin-bottom: 8px;
    height: 40px;
    line-height: 40px;
  }
  body main section.main-content .main-block .btn-more.mob span {
    font-size: 16px;
  }
  body main section.main-content .publications .flex-table {
    margin-left: -4px;
  }
  body main section.main-content .publications .flex-table a.item {
    width: -webkit-calc((100% / 3) - 4px);
    width: calc((100% / 3) - 4px);
    margin-left: 4px;
    margin-bottom: 4px;
  }
  body main section.main-content .models .flex-table .model-item {
    padding-bottom: 13px;
  }
  body main section.main-content .models .flex-table .model-item img.model-icon {
    width: 80px;
  }
  body main section.main-content .models .flex-table .model-item .text-block, body main section.main-content .models .flex-table .model-item a.btn-subscribe {
    margin-left: 95px;
  }
  body main section.main-content .models .flex-table .model-item .text-block .name {
    font-size: 16px;
  }
  body main section.main-content .models .flex-table .model-item a.btn-subscribe {
    height: 30px;
    line-height: 30px;
    font-size: 16px;
    margin-top: 3px;
  }
  body main section.main-content .models .flex-table .model-item .mGallery {
    padding-top: 15px;
  }
  body main section.main-content .models .flex-table .model-item .mGallery img {
    width: -webkit-calc((100% / 3) - 2px);
    width: calc((100% / 3) - 2px);
  }
  body main section.main-content .models .flex-table .model-item .mGallery img.mob {
    display: none;
  }
}
