extends _layouts/home

block styles
	link(rel="stylesheet", href="css/select2.css")
	link(rel="stylesheet", href="css/moll-page.css")
block content

	include _partials/header.pug

	main
		.container
			section.shop-card
				.card-item
					img.img-shop-preview(src="img/shop-page/shop-preview.jpg", alt="shop-preview.jpg")
					.content
						.text-name Gucci
						.text-adress Russia, Moscow, Ходынский бульвар, д. 4 
						.counters
							.counter
								span #[span.b 17] магазинов
							.counter
								span #[span.b 42,4] подписчиков
							.counter
								span #[span.b 1] подписка
					.semiposition
						a(href="#").img-map-link#shop-page-map-popup-btn
							img.img-map(src="img/shop-page/card-item-map.jpg", alt="card-item-map.jpg")
						a(href="#").btn-subscribe
							span Подписаться
			section.marketing-table
				.marketing-navbar
					.input-outer.mk-block-products-input-outer
						input.input-search(type="search" placeholder="Поиск по магазинам")
						a(href="#").buttonSearch
							img.icon(src="img/search.svg", alt="search.svg")
					.mknav-buttonSwitch.products.buttonSwitch.active
						span Магазины
					.mknav-buttonSwitch.info.buttonSwitch
						span Информация
					.mknav-buttonSwitch.feedback.buttonSwitch
						span Отзывы
				.mk-block.mk-products.active(style="display: block")
					.main-content
						.sidebar
							.number
								span.name Количество:
								span.value 2328
							.options
								.line
									span Торговые центры
									.buttonOpSw.r
										input.option-checkbox(type="checkbox")
										.knobs
										.layer
								.line
									span Торговые комплексы
									.buttonOpSw.r
										input.option-checkbox(type="checkbox")
										.knobs
										.layer
								.line.checked
									span Универмаги
									.buttonOpSw.r
										input.option-checkbox(type="checkbox" checked)
										.knobs
										.layer
						.items-table
							.content
								.search-items.mob
									input(type="search" placeholder="Поиск по моллам")
									img.search(src="img/search.svg", alt="search.svg")
									.filter-btn.mk-filter-btn-molls
										img(src="img/filter-settings.svg", alt="filter-settings.svg")
								- for(var i = 1; i <= 20; i++)
									.item
										img.shop-preview(src="img/index/shop-preview.jpg", alt="shop-preview.jpg")
										.content
											.head
												span.name Affiction
												.category-text Монобрендовый
												span.desc Russia, Moscow, Ходынский бульвар, д. 4
											.tags
												img.tag-img(src="img/index/tag1.svg", alt="tag1.svg")
												img.tag-img(src="img/index/tag2.svg", alt="tag2.svg")
												img.tag-img(src="img/index/tag3.svg", alt="tag3.svg")
								.btn-more.mob
									span Показать ещё
					.marketing-navbar-bottom
						.button.buttonMore
							span Показать ещё
						.pages
							.page.active
								span 1
							.page
								span 2
							.page
								span 3
							.page
								span 4
							.page
								span 5
							.page
								span 6
							.page
								span 7
							.page
								span 8
							.page
								span 8
							.page
								span 99
						.buttonsPN
							.button.buttonPrev
								span Предыдущая
							.button.buttonNext
								span Следующая
				.mk-block.mk-info
					.main-content
						.about-shop.mk-info-section
							h2 О магазине
							.main-info
								.headblock
									span.headname Общая информация
								a.site(href="#") gucci.com
								.secure-tr
									img(src="img/shop-page/secure-tr.svg", alt="secure-tr.svg")
									span Безопасная сделка
								.contacts
									.undgr
										.undgr-item
											.circle.c1
											span ЦСКА
										.undgr-item
											.circle.c2
											span ЦСКА
										.undgr-item
											.circle.c3
											span Аэропорт
									span.adress Россия, Москва, Ходынский бульвар, д. 4
									br
									span.phone 8 (495) 725-42-08
									br
									span.time Время работы с 8:00 до 22:00
								.delivery-inf
									img(src="img/shop-page/delivery.svg", alt="delivery.svg")
									span Возможна доставка
							.categories
								.headblock
									span.headname Категории товаров
								.content
									.category-column
										.item.head Мужское
										a(href="#").item Одежда
										a(href="#").item Обувь
										a(href="#").item Сумки
										a(href="#").item Аксессуары
										a(href="#").item Подарки
									.category-column
										.item.head Женское 
										a(href="#").item Одежда
										a(href="#").item Обувь
										a(href="#").item Сумки
										a(href="#").item Аксессуары
										a(href="#").item Подарки
									.category-column
										.item.head Детское
										a(href="#").item Новорожденные
										a(href="#").item Мальчики
										a(href="#").item Девочки
							.brands
								.headblock
									span.headname Бренды магазина
								.content
									.brands-column
										a(href="#").item A.M.N.
										a(href="#").item Bosco Sport
										a(href="#").item L’occitane
										a(href="#").item Top Shop
										.item Белорусская обувь
									.brands-column
										a(href="#").item Большевичка
										a(href="#").item Иль де Боте
										a(href="#").item A.M.N.
										a(href="#").item Bosco Sport
										a(href="#").item L’occitane
									.brands-column
										a(href="#").item Top Shop
										a(href="#").item Белорусская обувь
										a(href="#").item Большевичка
										a(href="#").item Иль де Боте
										a(href="#").item A.M.N.
				.mk-block.mk-feedback
					.main-content
						.anchors-section
							a.anchor-btn.mk-feedback-anchor-btn.active.review-all(href="#") Все
							a.anchor-btn.mk-feedback-anchor-btn.review-positive(href="#") Положительные
							a.anchor-btn.mk-feedback-anchor-btn.review-negative(href="#") Отрицательные
							a(href="#").btn-send.feedback-form-btn
								span Оставить отзыв
						.reviews-list.review-all.active(style='display: block')
							h2 Отзывы (все)
							- for(var i = 1; i <= 17; i++)
								.review-item
									.photo-profile.circle
									.content
										span.name Екатерина
										span.review-date 21 октября 2019
										.rating
											img(src="img/shop-page/star-active.svg", alt="star-active.svg")
											img(src="img/shop-page/star-active.svg", alt="star-active.svg")
											img(src="img/shop-page/star-active.svg", alt="star-active.svg")
											img(src="img/shop-page/star-active.svg", alt="star-active.svg")
											img(src="img/shop-page/star-active.svg", alt="star-active.svg")
										span.login ekaterina777
										p.review-text Отличный магазин. Качественные товары, быстрая доставка. Рекомендую
								if i != 17
									img.separ(src="img/index/separ.svg", alt="separ.svg")
						.reviews-list.review-positive
							h2 Отзывы (положительные)
							- for(var i = 1; i <= 17; i++)
								.review-item
									.photo-profile.circle
									.content
										span.name Екатерина
										span.review-date 21 октября 2019
										.rating
											img(src="img/shop-page/star-active.svg", alt="star-active.svg")
											img(src="img/shop-page/star-active.svg", alt="star-active.svg")
											img(src="img/shop-page/star-active.svg", alt="star-active.svg")
											img(src="img/shop-page/star-active.svg", alt="star-active.svg")
											img(src="img/shop-page/star-active.svg", alt="star-active.svg")
										span.login ekaterina777
										p.review-text Отличный магазин. Качественные товары, быстрая доставка. Рекомендую
								if i != 17
									img.separ(src="img/index/separ.svg", alt="separ.svg")
						.reviews-list.review-negative
							h2 Отзывы (отрицательные)
							- for(var i = 1; i <= 17; i++)
								.review-item
									.photo-profile.circle
									.content
										span.name Екатерина
										span.review-date 21 октября 2019
										.rating
											img(src="img/shop-page/star-active.svg", alt="star-active.svg")
											img(src="img/shop-page/star-active.svg", alt="star-active.svg")
											img(src="img/shop-page/star-active.svg", alt="star-active.svg")
											img(src="img/shop-page/star-active.svg", alt="star-active.svg")
											img(src="img/shop-page/star-active.svg", alt="star-active.svg")
										span.login ekaterina777
										p.review-text Отличный магазин. Качественные товары, быстрая доставка. Рекомендую
								if i != 17
									img.separ(src="img/index/separ.svg", alt="separ.svg")
						.btn-more.mob
							span Показать ещё


									

	include _partials/footer.pug

block scripts
	script(src="js/jquery.maskedinput.min.js")
	script(src="js/jquery.scrollTo.min.js")
	script(src="js/select2.full.min.js")
	script.
		$(document).ready(function(){
			$('.buttonOpSw').click(function(){
				if($(this).parents('.line').hasClass('checked')){
					$(this).parents('.line').removeClass('checked')
				}else{
					$(this).parents('.line').addClass('checked')
				}
			});
			$('.mknav-buttonSwitch').click(function(){
				$(this).addClass('active');
				$('.mknav-buttonSwitch').not(this).removeClass('active');
				$('.mknav-buttonSwitch').addClass('disabled');
				setTimeout(function(){
					$('.mknav-buttonSwitch').removeClass('disabled');
				}, 350);
			});
			$('.mknav-buttonSwitch.products').click(function(){
				$('.marketing-table .mk-block').removeClass('active');
				$('.marketing-table .mk-block').fadeOut(250);
				$('.mk-block-products-input-outer').fadeIn(250);
				setTimeout(function(){
					$('.marketing-table .mk-products').addClass('active');
					$('.marketing-table .mk-products').fadeIn(250);
				}, 250);
			});
			$('.mknav-buttonSwitch.info').click(function(){
				$('.marketing-table .mk-block').removeClass('active');
				$('.marketing-table .mk-block').fadeOut(250);
				$('.mk-block-products-input-outer').fadeOut(250);
				setTimeout(function(){
					$('.marketing-table .mk-info').addClass('active');
					$('.marketing-table .mk-info').fadeIn(250);
				}, 250);
			});
			$('.mknav-buttonSwitch.feedback').click(function(){
				$('.marketing-table .mk-block').removeClass('active');
				$('.marketing-table .mk-block').fadeOut(250);
				$('.mk-block-products-input-outer').fadeOut(250);
				setTimeout(function(){
					$('.marketing-table .mk-feedback').addClass('active');
					$('.marketing-table .mk-feedback').fadeIn(250);
				}, 250);
			});

			$('.mk-feedback-anchor-btn').click(function(){
				$(this).addClass('active');
				$('.mk-feedback-anchor-btn').not(this).removeClass('active');
				$('.mk-feedback-anchor-btn').addClass('disabled');
				setTimeout(function(){
					$('.mk-feedback-anchor-btn').removeClass('disabled');
				}, 350);
			});
			$('.mk-feedback-anchor-btn.review-all').click(function(){
				$('.mk-feedback .reviews-list').removeClass('active');
				$('.mk-feedback .reviews-list').fadeOut(250);
				setTimeout(function(){
					$('.mk-feedback .review-all').addClass('active');
					$('.mk-feedback .review-all').fadeIn(250);
				}, 250);
			});
			$('.mk-feedback-anchor-btn.review-positive').click(function(){
				$('.mk-feedback .reviews-list').removeClass('active');
				$('.mk-feedback .reviews-list').fadeOut(250);
				setTimeout(function(){
					$('.mk-feedback .review-positive').addClass('active');
					$('.mk-feedback .review-positive').fadeIn(250);
				}, 250);
			});
			$('.mk-feedback-anchor-btn.review-negative').click(function(){
				$('.mk-feedback .reviews-list').removeClass('active');
				$('.mk-feedback .reviews-list').fadeOut(250);
				setTimeout(function(){
					$('.mk-feedback .review-negative').addClass('active');
					$('.mk-feedback .review-negative').fadeIn(250);
				}, 250);
			});


			$('.mk-info-radio-item').click(function(){
				if($(this).children('input').is(':checked')){
					$('.mk-info-radio-item').removeClass('checked')
					$(this).addClass('checked');
				}else{
					$(this).removeClass('checked')
				}
			});

			$('.mk-info-reimb-question').click(function(){
				$('.mk-info-reimb-question').not(this).removeClass('active');
				$('.mk-info-reimb-question').not(this).next().slideUp(250);
				$(this).next().slideToggle(250);
				$(this).toggleClass('active');
			});

			$('.mk-info-credit-contacts-input').focus(function(){
				$(this).next('.placeholder').hide();
			});

			var i = 0

			$('input.mk-info-credit-contacts-input[type=tel]').change(function(){
				if ($(this).val() != ''){
					i = 1;
					$(this).next('.placeholder').hide();
				}else{
					i = 0;
					$(this).next('.placeholder').show();
				}
			});

			$('.mk-info-credit-contacts-input').blur(function(){
				if($(this).val() == ''){
					$(this).next('.placeholder').show();
				}
			});
			$('input.mk-info-credit-contacts-input[type=tel]').blur(function(){
				if(i == 0){
					$(this).next('.placeholder').show();
				}

			})
			
			$(function($) {
				$('input[type="tel"]').mask("+7 (999) 999-99-99")
			});

			//- Mobile Input range .mk-info > .credit 

			if($(window).width() <= 768){
				$('#mk-info-credit-input-range1').change(function(){
					$('.range1-range-point').hide();
					$('.range1-range-point' + this.value).show();
				});
				$('#mk-info-credit-input-range2').change(function(){
					$('.range2-range-point').hide();
					$('.range2-range-point' + this.value).show();
				});
			}

			$(window).resize(function(){
				if($(window).width() > 768){
					$('.range1-range-point').show();
					$('.range2-range-point').show();
					$('#mk-info-credit-input-range1').unbind('change');
					$('#mk-info-credit-input-range2').unbind('change');

					$('.mk-sidebar-select2').select2({
						minimumResultsForSearch: Infinity,
						dropdownCssClass: 'mk-sidebar-select2-dropdown'
					});
				}else{
					$('.range1-range-point').hide();
					$('.range2-range-point').hide();
					$('.range1-range-point0').show();
					$('.range2-range-point0').show();
					$('input[type=range]').val('0');

					$('#mk-info-credit-input-range1').change(function(){
						$('.range1-range-point').hide();
						$('.range1-range-point' + this.value).show();
					});
					$('#mk-info-credit-input-range2').change(function(){
						$('.range2-range-point').hide();
						$('.range2-range-point' + this.value).show();
					});
				}
			});

			//- Send feedback popup

			$('.feedback-form-btn').click(function(){
				$('#feedback-form').bPopup({
					positionStyle: 'fixed',
					closeClass: 'feedback-form_close-btn',
					onOpen: function() { $('body').addClass('fixed'); },
					onClose: function() { $('body').removeClass('fixed') }			
				});
			});

			//- mk sidebar filters Select2 
			$('.mk-sidebar-select2').select2({
				minimumResultsForSearch: Infinity,
				dropdownCssClass: 'mk-sidebar-select2-dropdown'
			});

			
		});