footer
	.footer-content
		.container
			.footer-content-wrapper
				.banners
					img.b1(src="img/banner1.jpg", alt="banner1.jpg")
					img.b2(src="img/banner2.jpg", alt="banner2.jpg")
				.links
					span.linkHead О компании 
					.list
						a(href="#") О нас 
						br
						a(href="#") Оферта 
						br
						a(href="#") Политика конфидециальности 
						br
						a(href="#") Бонусные баллы 
						br
						a(href="#") Подарочные сертификаты 
						br
						a(href="#") Карта сайта 
						br
						a(href="#") Контакты 
				.links
					span.linkHead Оформление заказа 
					.list
						a(href="#") Доставка и оплата 
						br
						a(href="#") Возврат 
						br
						a(href="#") Способы оплаты 
						br
						a(href="#") Вопросы и ответы 
					br
				.links
					span.linkHead Партнёрам 
					.list
						a(href="#") Магазинам 
						br
						a(href="#") Моллам 
						br
						a(href="#") Веб мастерам 
						br
						a(href="#") Войти как партнер 
				.applinks
					a(href="#")
						img(src="img/googleplay.jpg", alt="googleplay.jpg")
					a(href="#")
						img(src="img/appstore.jpg", alt="appstore.jpg")
	.footer-bottomLine
		span &copy; 2010 - 2019 GoGroup.  Платформа для интернет-магазинов
		.payments
			img.payment-img(src="img/paypal.jpg", alt="paypal.jpg")
			img.payment-img(src="img/mastercard.jpg", alt="mastercard.jpg")
			img.payment-img(src="img/visa.jpg", alt="visa.jpg")