header
	.container
		.headerLine
			a.menu
				button.hamburger.hamburger--elastic#header-menu-button(type="button")
					span.hamburger-box
						span.hamburger-inner
			a(href="#").button-like.mob
					img(src="img/like.svg", alt="like.svg")
			a(href="index.html").logo
				img.img-logo(src="img/logo.svg", alt="logo.svg")
			a(href="#").button-shopCart.mob
					img(src="img/shopCart.svg", alt="shopCart.svg")
			.languageSettings
				.languageSettings-button#languageSettings-button
					img.flag(src="img/flag-russia.jpg", alt="flag-russia.jpg")
					span.cityName Москва
					.buttonOpen
						.circle
						.circle
						.circle
				.dropmenu#languageSettings-dropmenu.hide
					.line#header-popup-map1
						span #[span.black Город:] Москва
						img.img-arrow(src="img/index/drop-menu-arrow.svg", alt="drop-menu-arrow.svg")
					img.separ(src="img/index/separ.svg", alt="separ.svg")
					.line#header-popup-map2
						span #[span.black Доставка:] Москва
						img.img-arrow(src="img/index/drop-menu-arrow.svg", alt="drop-menu-arrow.svg")
					img.separ(src="img/index/separ.svg", alt="separ.svg")
					.line#header-language-popup
						span #[span.black Язык:] Русский
						img.img-arrow(src="img/index/drop-menu-arrow.svg", alt="drop-menu-arrow.svg")
					img.separ(src="img/index/separ.svg", alt="separ.svg")
					.line#header-currency-popup
						span #[span.black Валюта:] RUB (Russian Rouble)
						img.img-arrow(src="img/index/drop-menu-arrow.svg", alt="drop-menu-arrow.svg")
			.input-outer
				input.input-search(type="search" placeholder="Поиск по товарам")
				a(href="#").buttonSearch
					img.icon(src="img/search.svg", alt="search.svg")
			.options
				a(href="#").button-like
					img(src="img/like.svg", alt="like.svg")
				a(href="#").button-shopCart
					img(src="img/shopCart.svg", alt="shopCart.svg")
				a(href="#").buttonLogIn#header-btnLogIn
					span Войти

