@import "vars"
@import "fonts"

*
	box-sizing: border-box
body
	section.category-links
		position: relative
		background-color: #fff
		border-radius: 5px
		padding-top: 18px
		padding-bottom: 19px
		line-height: 1
		.category-h1
			text-align: center
			a
				margin: 0 18px
				color: #808080
				font-size: 15px
				transition: 0.5s
				font-weight: bold
			a:hover
				color: #000
			a.active
				color: #000
		.category-h2
			margin-top: 20px
			text-align: center
			a.btn-category
				cursor: pointer
				transition: 0.3s
				border-radius: 5px
				height: 24px
				padding: 0 13px
				text-align: center
				line-height: 24px
				span
					font-size: 15px
				span.g
					color: #55BB00
				span.r
					color: #DB3727
			a.btn-category:hover
				background-color: rgba(0, 0, 0, 0.1)
				box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25)
			a.btn-category.active
				background-color: rgba(0, 0, 0, 0.1)
				box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25)
			.subCategory-popup
				display: none
				margin-top: -20px
				padding-top:  4px
				position: absolute
				z-index: 300
				top: 100%
				left: 0
				width: 100%
				span.popup-head
					width: 100%
					font-weight: bold
					font-size: 20px
				.contentblock
					text-align: left
					border-radius: 5px
					box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25)
					background-color: #fff
					padding-top: 20px
					padding-left: 29px
					padding-right: 28px
					display: -webkit-flex
					display: -moz-flex
					display: -ms-flex
					display: -o-flex
					display: flex	
					.subCategory-outer
						width: 61%
						.subCategory-section
							padding-top: 30px
							padding-bottom: 15px
							display: -webkit-flex
							display: -moz-flex
							display: -ms-flex
							display: -o-flex
							display: flex
							.subCategory-column
								width: 37%
								.section-item.section-head
									font-weight: bold
									display: inline-block
								.section-item
									font-size: 13px
									padding: 11px 0
									width: 100%
								.section-links
									max-height: 320px
									display: -webkit-flex
									display: -moz-flex
									display: -ms-flex
									display: -o-flex
									display: flex
									flex-direction: column
									flex-wrap: wrap
					.offer-section
						padding-top: 8px
						.desctext
							.text
								font-size: 13px
								margin-top: 15px
							.headtext
								color: #808080
							.name
								font-weight: bold
	section.swiper-block
		display: -webkit-flex
		display: -moz-flex
		display: -ms-flex
		display: -o-flex
		display: flex
		justify-content: space-between
		padding-top: 15px
		padding-bottom: 15px
		.slide
			transition: 0.3s
			cursor: pointer
			outline: none
			vertical-align: top
			display: inline-block
			height: 150px
			width: 150px
			border-radius: 5px
		.slide:hover
			box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25)
		.slide-more
			display: -webkit-inline-flex
			display: -moz-inline-flex
			display: -ms-inline-flex
			display: -o-inline-flex
			display: inline-flex
			justify-content: center
			align-items: center
			text-align: center
			font-weight: bold
			font-size: 15px
			line-height: 1.4
			color: #808080
			background-color: #f2f2f2
	section.marketing-table
		.marketing-navbar
			padding-top: 14px
			padding-bottom: 15px
			position: relative
			text-align: center
			background-color: #fff
			border-radius: 5px
			.buttonSwitch
				transition: 0.3s
				cursor: pointer
				display: inline-block
				text-align: center
				padding-top: 6px
				padding-bottom: 7px
				width: 123px
				margin: 0 5px
				border: 0.5px solid #ededed
				border-radius: 5px
				line-height: 15px
				span
					opacity: 0.75
					font-size: 13px
					font-weight: bold
					color: #333
			.buttonSwitch.active
				box-shadow: inset 0px 4px 4px #bfbfbf
				background-color: #F0F0F0
			.buttonSwitch:hover
				box-shadow: inset 0px 4px 4px #bfbfbf
				background-color: #F0F0F0
			.input-outer
				position: absolute
				width: 240px
				height: 30px
				top: 0
				bottom: 0
				right: 0
				margin: auto
				margin-right: 17px
				input.input-search
					width: 100%
					height: 100%
					padding-left: 14px
					padding-right: 25px
					border-radius: 3px
					border: none
					background-color: #e6e6e6
				a.buttonSearch
					position: absolute
					top: 0
					right: 0
					bottom: 0
					padding-left: 5px
					padding-right: 7px
					img.icon
						vertical-align: middle
						width: 14px
						height: auto
				input.input-search::-webkit-input-placeholder
					font-size: 12px
					color: #808080
					opacity: 0.5
				input.input-search:-moz-placeholder
					font-size: 12px
					color: #808080
					opacity: 0.5
				input.input-search::-moz-placeholder
					font-size: 12px
					color: #808080
					opacity: 0.5
				input.input-search:-ms-input-placeholder
					font-size: 12px
					color: #808080
					opacity: 0.5
		.main-content
			display: -webkit-flex
			display: -moz-flex
			display: -ms-flex
			display: -o-flex
			display: flex
			align-items: flex-start
			padding-top: 15px
			padding-bottom: 10px
			.sidebar
				.number, .options
					width: 252px
					border-radius: 5px
					background-color: #fff
				.number
					display: -webkit-flex
					display: -moz-flex
					display: -ms-flex
					display: -o-flex
					display: flex
					padding-left: 15px
					padding-right: 25px
					height: 35px
					align-items: center
					span.name, .value
						font-size: 10px
						color: #808080
					span.value
						font-weight: bold
						margin-left: auto
				.options
					margin-top: 15px
					padding-top: 14px
					padding-left: 15px
					padding-bottom: 1px
					.line.checked
						span
							color: #000
					.line
						display: -webkit-flex
						display: -moz-flex
						display: -ms-flex
						display: -o-flex
						display: flex
						line-height: 14px
						margin-bottom: 17px
						span
							font-size: 12px
							color: #808080
							transition: 0.3s ease all
						.buttonOpSw
							display: inline-block
							position: relative
							width: 32px
							height: 15px
							margin-left: auto
							margin-right: 16px
							overflow: hidden
							.layer
								width: 100%
								background-color: #808080
								z-index: 1
							.knobs
								z-index: 2
							.knobs::before
								content: ''
								position: absolute
								top: 2px
								left: 2px
								width: 11px
								height: 11px
								background-color: #fff
								border-radius: 50%
							.knobs, .layer
								position: absolute
								top: 0
								right: 0
								bottom: 0
								left: 0
							.knobs, .knobs::before, .layer
								transition: 0.3s ease all
							.option-checkbox
								position: relative
								width: 100%
								height: 100%
								padding: 0
								margin: 0
								opacity: 0
								cursor: pointer
								z-index: 3
							.option-checkbox:checked + .knobs::before
								content: ''
								left: 19px
							.option-checkbox:checked ~ .layer
								background-color: $accent-blue
						.buttonOpSw.r, .layer
							border-radius: 100px
			.items-table
				display: -webkit-flex
				display: -moz-flex
				display: -ms-flex
				display: -o-flex
				display: flex
				width: 100%
				flex-wrap: wrap
				.item
					transition: 0.3s
					display: -webkit-flex
					display: -moz-flex
					display: -ms-flex
					display: -o-flex
					display: flex
					position: relative
					cursor: pointer
					background-color: #fff
					border-radius: 5px
					margin-left: 1%
					margin-bottom: 10px
					width: 49%
					img.shop-preview
						border-top-left-radius: 5px
						border-bottom-left-radius: 5px
						vertical-align: bottom
					.head
						padding-left: 23px
						span
							display: block
							line-height: 1.4
						span.name
							padding: 11px 0
							font-size: 14px
							font-weight: bold
							color: #000
						span.desc
							margin-top: 5px
							font-size: 10px
							color: #999
					.tags
						padding-right: 17px
						margin-left: auto
						.category-text
							font-size: 10px
							color: #808080
							opacity: 0.75
							padding: 8px 0
							margin-bottom: 6px
						.tag-img
							width: 25px
							height: 25px
							margin-right: 3px
				.item:hover
					box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25)
		.marketing-navbar-bottom
			position: relative
			margin-bottom: 35px
			padding-top: 16px
			padding-bottom: 13px
			border-radius: 5px
			text-align: center
			background-color: #fff
			.button
				transition: 0.3s
				cursor: pointer
				width: 92px
				height: 30px
				border: 0.5px solid #000
				border-radius: 5px
				text-align: center
				span
					transition: 0.3s
					line-height: 30px
					font-size: 9.5px
					color: #000
					font-weight: bold
			.button:hover
				background-color: $accent-blue
				border-color: $accent-blue
				span
					color: #fff
			.buttonsPN
				display: -webkit-flex
				display: -moz-flex
				display: -ms-flex
				display: -o-flex
				display: flex
				position: absolute
				top: 0
				bottom: 0
				right: 0
				padding-right: 23px
				.buttonPrev, .buttonNext
					margin: auto
					margin-left: 16px
			.buttonMore
				position: absolute
				top: 0
				bottom: 0
				margin: auto
				left: 261px
			.pages
				position: relative
				font-size: 0
				display: inline-block
				border-radius: 5px
				.page
					transition: 0.3s
					cursor: pointer
					border: 0.5px solid #ededed
					border-left: none
					width: 29px
					height: 30px
					display: inline-block
					span
						font-size: 10.5px
						line-height: 30px
						color: #b3b3b3
						transition: 0.3s
						font-weight: bold
				.page:first-child
					border-top-left-radius: 5px
					border-bottom-left-radius: 5px
					border-left: 0.5px solid #ededed
				.page:nth-last-child(1)
					border-top-right-radius: 5px
					border-bottom-right-radius: 5px
				.page.active
					box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25)
					background-color: #ededed
					border-color: white
					margin: 1px 0
					span
						color: #000
				.page:hover
					box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25)
					background-color: #ededed
					border-color: white
					margin: 1px 0
					span
						color: #000


