@import "vars"
@import "fonts"


// ::selection
// 	background-color: $accent
// 	color: #fff
*
	box-sizing: border-box
html, body
	margin: 0
	padding: 0
.fixed
	position: fixed
	overflow-y: scroll
body
	font-size: 16px
	width: 100%
	min-width: 320px
	position: relative
	margin: 0
	padding: 0
	line-height: 1.65
	font-family: $default-font
	overflow-x: hidden
	color: #000
	background-color: #F0F2F5
	.select2-container--default
		z-index: 5003
		.mk-filter-products-select2-dropdown
			border: none
			box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25)
			.select2-results__group
				padding-left: 14px
			.select2-results > .select2-results__options
				max-height: 350px
				.select2-results__option
					font-size: 17px
					transition: 0.3s
					padding: 17.5px 0 17.5px 14px
				.select2-results__option[role=group]
					padding-left: 0
					.select2-results__option
						padding-left: 28px
			.select2-results__option--highlighted[aria-selected]
				background-color: #ddd
				color: #000
			.select2-results__option[aria-selected=true]
				background-color: $accent-blue
				color: #fff
	img
		user-select: none
	a
		text-decoration: none
		outline: none
		color: #000
	input, textarea
		border: #000 1px solid
		outline: none
	input:not([type=checkbox]):not([type=radio]), textarea, select
		-webkit-appearance: none
		-moz-appearance: none
		appearance: none
	input[type=text]::-ms-clear
		display: none
		width : 0
		height: 0
	input[type=text]::-ms-reveal
		display: none
		width : 0
		height: 0
	input[type=text]::-ms-clear
		display: none
		width : 0
		height: 0
	input[type=text]::-ms-reveal
		display: none
		width : 0
		height: 0
	input::-webkit-search-decoration, input::-webkit-search-cancel-button, input::-webkit-search-results-button, input::-webkit-search-results-decoration
		display: none
	.container
		width: 1140px
		margin-left: auto
		margin-right: auto
	
	.popup-container
		position: fixed
		z-index: 4000
		display: none
		top: 0
		left: 0
		right: 0
		bottom: 0
		width: 100%
		height: 100%
		.wrap
			cursor: pointer
			width: 100%
			height: 100%
			background-color: rgba(0, 0, 0, 0.5)
			display: -webkit-flex
			display: -moz-flex
			display: -ms-flex
			display: -o-flex
			display: flex
			align-items: center
			justify-content: center
			.popup-content
				cursor: auto
				.popup-close
					cursor: pointer
	.Log-form::-webkit-scrollbar
		width: 0px
		background: transparent
	.Log-form
		border-radius: 5px
		position: relative
		max-height: 100%
		margin: auto
		overflow-y: scroll
		-ms-overflow-style: none
		scrollbar-width: none
		display: none
		background-color: #fff
		img.img-close
			position: absolute
			width: 17px
			top: 0
			right: 0
			cursor: pointer
			margin-top: 26px
			margin-right: 25px
		.topline
			text-align: center
			padding: 23px 0
			line-height: 1
			span
				font-size: 20px
				font-weight: bold
				color: #000
				line-height: 23px
		img.separ
			width: 100%
			display: block
		form.form-block
			padding: 0 25px
			padding-bottom: 27px
			.input-item
				margin-bottom: 28px
				.input-head
					padding: 4px 0
					display: -webkit-flex
					display: -moz-flex
					display: -ms-flex
					display: -o-flex
					display: flex
					align-items: center
					span
						font-size: 13px
					span.red
						color: #FF0000
				input
					height: 31px
					border: 0.5px solid rgba(0, 0, 0, 0.3)
					background-color: #FFF
					width: 100%
					border-radius: 5px
					padding-left: 9px
				input::-webkit-input-placeholder, input:-moz-placeholder, input::-moz-placeholder, input:-ms-input-placeholder
					font-size: 12px
					color: #808080
		.form-buttons, .map-buttons
			.form-btn, .map-btn
				display: -webkit-flex
				display: -moz-flex
				display: -ms-flex
				display: -o-flex
				display: flex
				align-items: center
				justify-content: center
				border-radius: 5px
				background-color: $accent-blue
				width: 100%
				height: 34px
				span
					font-size: 15px
					font-weight: bold
					color: #fff
			input[type=submit]
				background-color: $accent-blue
				width: 100%
				height: 34px
				border: none
				border-radius: 5px
				font-size: 15px
				font-weight: bold
				color: #fff
	.LogIn-form
		box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25)
		width: 331px
		form.form-block
			.input-item
				a.mob
					display: none
				a, a.mob
					font-size: 11px
					color: #808080
					margin-left: auto
				a.a-logup
					color: $accent-blue
			.form-options
				display: -webkit-flex
				display: -moz-flex
				display: -ms-flex
				display: -o-flex
				display: flex
				align-items: center
				margin-top: 2px
				input
					display: none
				label
					font-size: 11px
					padding-left: 30px
					color: #000
					position: relative
					display: inline-block
					cursor: pointer
				label:before
					content: ''
					position: absolute
					display: inline-block
					top: -1px
					left: 0
					width: 20px
					height: 20px
					border-radius: 5px
					border: 0.5px solid #000
				label::after
					content: ''
					display: inline-block
					position: absolute
					display: none
					left: 3px
					top: 2px
					width: 15px
					height: 15px
					background-repeat: no-repeat
					background-size: cover
					background-image: url('../img/checkbox-img.svg')
				input:checked + label::after
					display: block
			.form-buttons
				margin-top: 30px
	.LogUp-form
		width: 738px
		form.form-block
			.input-item
				margin-bottom: 28px
				input
					width: 270px
				.radio
					padding-top: 11px
					margin-bottom: -25px
					input
						display: none
					label
						transition: 0.3s
						font-size: 13px
						color: #808080
						padding-left: 54px
						margin-right: 75px
						margin-bottom: 25px
						position: relative
						display: inline-block
						cursor: pointer
					label::before
						transition: 0.3s
						content: ''
						position: absolute
						display: inline-block
						top: -4px
						left: 0
						width: 29px
						height: 29px
						border-radius: 5px
						border: 0.5px solid #808080
					label::after
						content: ''
						position: absolute
						display: inline-block
						display: none
						top: -1px
						left: 3px
						width: 24px
						height: 24px
						background-repeat: no-repeat
						background-size: cover
						background-image: url('../img/checkbox-img.svg')
					input:checked + label::after
						display: block
					input:checked + label::before
						border-color: #000
					input:checked + label
						color: #000
			.form-buttons
				.form-btn
					margin-top: 35px
	
	.dd-popup::-webkit-scrollbar
		width: 0px
		background: transparent
	.dd-popup
		position: relative
		display: none
		width: 330px
		box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25)
		border-radius: 5px
		background-color: #fff
		overflow-y: scroll
		-ms-overflow-style: none
		scrollbar-width: none
		max-height: 100%
		img.img-close
			position: absolute
			width: 15px
			top: 0
			right: 0
			margin-top: 21px
			margin-right: 24px
		.topline
			text-align: center
			padding: 20px 0
			line-height: 1
			span
				font-size: 18px
				font-weight: bold
		.input-outer
			position: relative
			margin-bottom: 12px
			margin-left: 25px
			margin-right: 25px
			img.img-search
				position: absolute
				top: 0
				bottom: 0
				left: 0
				margin: auto
				margin-left: 10px
				width: 16px
			input.input-search
				padding-left: 42px
				height: 31px
				width: 100%
				border: 0.5px solid rgba(0, 0, 0, 0.3)
				border-radius: 5px
			input.input-search::-webkit-input-placeholder, input.input-search:-moz-placeholder, input.input-search::-moz-placeholder, input.input-search:-ms-input-placeholder
				font-size: 12px
				color: #808080
		.search-items
			position: relative
			.search-item
				position: relative
				height: 43px
				line-height: 40px
				padding-left: 25px
				cursor: pointer
				span
					font-size: 13px
				img.separ
					position: absolute
					display: block
					width: 100%
					left: 0
					right: 0
					max-height: 2px

	.popup-map
		width: 738px
		img.img-close
			margin-top: 28px
			margin-right: 25px
			z-index: 11
		.topline
			position: relative
			padding: 25px 0
			a.hmenu-popup-inner-close
				position: absolute
				left: 0
				margin-top: 2px
				display: none
			span
				font-size: 18px
				font-weight: bold
		.input-outer
			position: relative
			margin-top: 7.5px
			margin-bottom: 23px
			margin-left: 28px
			margin-right: 28px
			img.img-search
				position: absolute
				top: 0
				bottom: 0
				left: 0
				margin: auto
				margin-left: 10px
				width: 16px
			input.input-search
				padding-left: 42px
				height: 31px
				width: 100%
				border: 0.5px solid rgba(0, 0, 0, 0.3)
				border-radius: 5px
			input.input-search::-webkit-input-placeholder
				font-size: 12px
				color: #808080
			input.input-search:-moz-placeholder
				font-size: 12px
				color: #808080
			input.input-search::-moz-placeholder
				font-size: 12px
				color: #808080
			input.input-search:-ms-input-placeholder
				font-size: 12px
				color: #808080
			.search-results
				position: absolute
				top: 100%
				left: 0
				right: 0
				z-index: 11
				background-color: #fff
				box-shadow: 0px -10px 10px rgba(0, 0, 0, 0.1)
				display: none
				.search-item
					cursor: pointer
					padding: 9px 0 9px 42px
					span
						font-size: 19px
				img.separ
					display: block
					width: 100%
					max-height: 2px
		.mapOuter
			width: 100%
			margin-top: 5px
			.map
				width: 100%
				height: 520px
		.map-buttons
			margin-top: 38px
			margin-bottom: 28px
			padding: 0 25px

	.popup-profile-mob::-webkit-scrollbar
		width: 0px
		background: transparent
	.popup-profile-mob
		overflow-x: hidden
		-ms-overflow-style: none
		scrollbar-width: none
		overflow-y: scroll
		width: 100%
		height: 100%
		img.img-close
			width: 20px
			height: 20px
			margin-top: 24px
			margin-right: 60px
		.topline
			padding: 35px 0
			span
				font-size: 25px
		.links
			padding: 0 60px
			a.link
				font-size: 18px
				width: 100%
				display: inline-block
				padding: 19.5px 0
			a.link.g
				color: #55BB00
			img.separ
				width: 100%
				max-height: 2px
				display: block
			.track-input
				padding-bottom: 30px
				input.track-search
					padding: 0 32px
					width: 100%
					height: 42px
					border: 0.5px solid rgba(0, 0, 0, 0.3)
					border-radius: 5px
				input.track-search::-webkit-input-placeholder
					font-size: 15px
					color: #808080
				input.track-search:-moz-placeholder
					font-size: 15px
					color: #808080
				input.track-search::-moz-placeholder
					font-size: 15px
					color: #808080
				input.track-search:-ms-input-placeholder
					font-size: 15px
					color: #808080


	// публикации
	.publications-popup::-webkit-scrollbar
		width: 0px
		background: transparent
	.publications-popup
		width: 1140px
		padding: 13px 21px 17px 21px
		border-radius: 5px
		position: relative
		max-height: 100%
		overflow-y: scroll
		-ms-overflow-style: none
		scrollbar-width: none
		display: none
		background-color: #fff
		img.img-close
			position: absolute
			z-index: 1
			width: 17px
			top: 0
			right: 0
			margin-top: 26px
			margin-right: 25px
		.topline
			width: 50%
			display: -webkit-flex
			display: -moz-flex
			display: -ms-flex
			display: -o-flex
			display: flex
			align-items: center	
			margin-bottom: 14px
			img.model-icon
				border-radius: 50%
				width: 68px
				height: auto
			.text-block
				margin-left: 30px
				.name
					font-size: 14px
					font-weight: bold
					color: #000
					padding: 6px 0
					margin-top: -10px
				.login
					font-size: 10px
					color: #999
			a.btn-subscribe
				margin-left: auto
				vertical-align: middle
				width: 130px
				height: 30px
				line-height: 30px
				text-align: center
				background-color: $accent-blue
				font-size: 13px
				font-weight: bold
				color: #fff
				border-radius: 5px
			.btn-burger
				margin-left: 25px
				cursor: pointer
				.circle
					width: 6px
					height: 6px
					background-color: #C4C4C4
					border-radius: 50%
					margin: 5px 0
		.main-content
			display: -webkit-flex
			display: -moz-flex
			display: -ms-flex
			display: -o-flex
			display: flex
			position: relative
		.pbPhoto-outer
			width: 50%
			position: relative
			.tag-button
				width: 28px
				height: 28px
				position: absolute
				z-index: 1
				border-radius: 50%
			.tag-button:hover::after, .tag-button.anim::after
				content: ''
			.tag-button::after
				position: absolute
				width: inherit
				height: inherit
				border-radius: inherit
				background-color: inherit
				animation: pulse 1.5s infinite
			.tag-button1
				top: 62%
				left: 17%
			.tag-button2
				top: 33%
				left: 60%
			@keyframes pulse
				0%
					opacity: 0.9
				70%
					transform: scale(2.7)
					opacity: 0
				100%
					opacity: 0
			img.pbPhoto
				vertical-align: top
				width: 100%
				border-radius: 5px
				box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1)

		.list::-webkit-scrollbar-track 
			background-color: #E6E6E6
			-webkit-border-radius: 5px
			border-radius: 5px

		.list::-webkit-scrollbar-thumb
			-webkit-border-radius: 5px
			border-radius: 5px
			background-color: #BDBDBD

		.list::-webkit-scrollbar-thumb:hover
			opacity: 0.5

		.list::-webkit-scrollbar
			width: 8px

		.list
			width: 50%
			height: 100%
			padding: 5px 15px 0px 15px
			position: absolute
			top: 0
			right: 0
			overflow-x: hidden
			overflow-y: scroll
			.item:hover, .item.hovered
				transform: scale(1.03)
			.item.out
				.item-content
					.buy-block
						.price
							font-size: 13px
							text-align: center
						a.btn-buy
							border: 0.5px solid rgba(0, 0, 0, 0.3)
							color: #000
							transition: 0.3s
							background-color: #fff
						a.btn-buy:hover
							background-color: $accent-blue
							border-color: $accent-blue
							color: #fff

			.item
				transition: 0.3s
				margin-bottom: 15px
				box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1)
				background-color: #fff
				border-radius: 5px
				.item-content
					cursor: pointer
					padding-right: 13px
					border-radius: 5px
					box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1)
					display: -webkit-flex
					display: -moz-flex
					display: -ms-flex
					display: -o-flex
					display: flex
					align-items: center
					img
						border-top-left-radius: 5px
						border-bottom-left-radius: 5px
					img.preview
						width: 80px
						height: auto
						vertical-align: top
					img.preview-mob
						display: none
					.text-block
						margin-left: 38px
						line-height: 1.4
						.name
							font-size: 18px
							font-weight: bold
							color: #000
							margin-top: 11px
							line-height: 1.2
						.desc
							font-size: 14px
							color: #000
							margin-top: 4px
							margin-bottom: 3px
						.author
							line-height: 1
							margin-bottom: 5px
							.author-name, img.icon
								display: inline-block
								vertical-align: middle
							.author-name
								font-size: 11px
								color: #000
								opacity: 0.65
							img.icon
								width: 14px
								height: 16px
								margin-left: 2px
								margin-top: -2px
					.buy-block
						text-align: right
						margin-left: auto
						.price
							line-height: 1
							font-size: 17px
							font-weight: bold
							color: #000
							padding: 11px 0 8px 0
						a.btn-buy
							display: inline-block
							width: 97px
							height: 30px
							line-height: 30px
							border-radius: 5px
							background-color: $accent-blue
							text-align: center
							font-size: 13px
							font-weight: bold
							color: #fff
				.withThis
					padding: 0 13px 11px 13px
					.subhead
						padding: 5px 0
						font-weight: bold
						font-size: 18px
						color: #000
					.mGallery, .btn-more	
						display: inline-block
						vertical-align: middle
					.mGallery
						img
							display: inline-block
							vertical-align: middle
						img
							width: 39px
							height: 39px
							margin-right: 12px
							border-radius: 5px
					.btn-more
						cursor: pointer
						transition: 0.3s
						margin-left: 3px
						width: 97px
						height: 30px
						line-height: 26px
						text-align: center
						border-radius: 5px
						border: 0.5px solid rgba(0, 0, 0, 0.3)
						span
							font-weight: bold
							font-size: 13px
							color: #000
							transition: 0.3s
					.btn-more:hover
						background-color: $accent-blue
						border-color: $accent-blue
						span
							color: #fff
								

	// карта страница магазина
	.shop-map-outer
		position: relative
		z-index: 9999
		display: none
		width: 100%
		height: 100%
		padding: 40px
		.back-close-btn
			position: absolute
			z-index: -1
			top: 0
			left: 0
			width: 100%
			height: 100%
		.shop-map
			width: 100%
			height: 100%
			overflow: hidden
			position: relative
			a.close-btn
				position: absolute
				top: 0
				right: 0
				margin-top: 15px
				margin-right: 5px
				z-index: 5
				width: 50px
				height: 50px
				line-height: 57px
				text-align: center
				background-color: #fff
				border-radius: 50%
			.map
				width: 100%
				height: 100%
				.gm-control-active.gm-fullscreen-control
					top: 70px !important

	.feedback-form
		width: 738px
		form.form-block
			.input-item
				margin-bottom: 28px
				input
					max-width: 270px
				.rating
					padding-bottom: 10px
					img
						width: 21px
						cursor: pointer
						margin-right: 1px
				textarea
					width: 470px
					height: 121px
					border: 0.5px solid rgba(0, 0, 0, 0.3)
					border-radius: 5px
					resize: none
					padding-left: 9px
					padding-top: 5px
			.form-buttons
				margin-top: 28px
	.feedback-form, .LogUp-form
		form.form-block
			.p-policy
				position: relative
				input
					display: none
				label
					font-size: 11px
					padding-left: 32px
					margin-top: 5px
					color: #000
					position: absolute
					top: 0
					left: 0
					display: inline-block
					max-height: 20px
					cursor: pointer
				label:before
					content: ''
					position: absolute
					display: inline-block
					top: -1px
					left: 0
					width: 20px
					height: 20px
					border-radius: 5px
					border: 0.5px solid #000
				label::after
					content: ''
					display: inline-block
					position: absolute
					display: none
					left: 3px
					top: 2px
					width: 15px
					height: 15px
					background-repeat: no-repeat
					background-size: cover
					background-image: url('../img/checkbox-img.svg')
				input:checked + label::after
					display: block
				.textblock
					line-height: 1.2
					padding-right: 35px
					padding-left: 32px
				.headtext
					font-size: 15px
					span.red
						color: #FF0000
				.desctext
					margin-top: 5px
					font-size: 13px
					color: #808080
					a
						color: $accent-blue
						text-decoration: underline

	.mk-filter-popup::-webkit-scrollbar //, .mk-filter-drop-popup::-webkit-scrollbar
		width: 0px
		background: transparent
	.mk-filter-popup //, .mk-filter-drop-popup
		overflow-x: hidden
		-ms-overflow-style: none
		scrollbar-width: none
		overflow-y: scroll
		width: 100%
		height: 100%
		img.img-close
			z-index: 20
			width: 20px
			height: 20px
			margin-top: 24px
			margin-right: 60px
		.topline
			padding: 35px 0
			span
				font-size: 25px
		.links, .btn-outer
			padding-left: 50px
			padding-right: 50px
		.btn-outer
			a.btn
				display: block
				margin-top: 31px
				width: 180px
				height: 60px
				line-height: 60px
				margin-left: auto
				margin-right: auto
				border-radius: 3px
				background-color: #157EE1
				text-align: center
				span
					font-size: 17px
					font-weight: bold
					color: #fff
	.mk-filter-popup
		.links
			.line
				position: relative
				cursor: pointer
				width: 100%
				height: 68px
				line-height: 66px
				text-align: right
				span.span-link
					position: absolute
					z-index: 5002
					left: 0
					font-size: 20px
					display: inline-block
				span.value
					font-size: 15px
					color: #808080
					margin-right: 46px
				.img-arrow
					position: absolute
					top: 0
					bottom: 0
					right: 0
					margin: auto
					display: block
					background-image: url('../img/index/drop-menu-arrow.svg')
					background-repeat: no-repeat
					background-position: center
					background-size: cover
					width: 11px
					height: 19px
				.buttonOpSw
					margin: 22.5px 0
					display: inline-block
					position: relative
					width: 52px
					height: 23px
					margin-left: auto
					margin-right: 20px
					overflow: hidden
					.layer
						width: 100%
						background-color: #808080
						z-index: 1
					.knobs
						z-index: 2
					.knobs::before
						content: ''
						position: absolute
						top: 2px
						left: 2px
						width: 19px
						height: 19px
						background-color: #fff
						border-radius: 50%
					.knobs, .layer
						position: absolute
						top: 0
						right: 0
						bottom: 0
						left: 0
					.knobs, .knobs::before, .layer
						transition: 0.3s ease all
					.option-checkbox
						position: relative
						width: 100%
						height: 100%
						padding: 0
						margin: 0
						opacity: 0
						cursor: pointer
						z-index: 3
					.option-checkbox:checked + .knobs::before
						content: ''
						left: 31px
					.option-checkbox:checked ~ .layer
						background-color: $accent-blue
				.buttonOpSw.r, .layer
					border-radius: 100px
				select
					width: 100%
				.select2.select2-container
					font-size: 15px
					height: 68px
					z-index: 5001
				.select2-container--default
					.select2-selection--single
						border: none
						outline: none
				.select2-container--default
					.select2-selection--single
						.select2-selection__rendered
							color: #808080
							text-align: right
				.select2-container
					.select2-selection--single
						.select2-selection__rendered
							padding-right: 46px
							padding-left: 50px
							height: 68px
							line-height: 66px
				.select2-container--default
					.select2-selection--single
						.select2-selection__arrow
							transition: 0.3s
							background-image: url('../img/index/drop-menu-arrow.svg')
							background-repeat: no-repeat
							background-position: center
							background-size: cover
							width: 11px
							height: 19px
							top: 0
							right: 0
							bottom: 0
							margin: auto
							b
								display: none
				.select2-container--default.select2-container--open
					.select2-selection--single
						.select2-selection__arrow
							transform: rotate(90deg)
				.input-outer
					margin-right: 46px
					margin-left: auto
					input.value
						border: 0
						background-color: transparent
						text-align: right
						font-size: 15px
						color: #808080
					span.rouble
						font-size: 15px
						color: #808080
						margin-left: 5px
				img.separ
					width: 100%
					max-height: 2px
					display: block
		.g-separ-block
			width: 100%
			height: 15px
			background-color: #f7f7f7
	// .mk-filter-drop-popup
	// 	.topline
	// 		position: relative
	// 		img.img-inner-close
	// 			position: absolute
	// 			top: 0
	// 			bottom: 0
	// 			left: 0
	// 			margin: auto
	// 			margin-left: 60px
	// 			transform: rotate(90deg)
	// 			padding: 10px
	// 			width: 39px
	// 			height: auto
	// 	.links
	// 		img.separ
	// 			width: 100%
	// 			max-height: 2px
	// 			display: block
	// 		a.link
	// 			width: 100%
	// 			display: inline-block
	// 			font-size: 20px
	// 			padding: 17.5px 0
	
	.hmenu-popup
		overflow-y: scroll
		display: none
		background-color: #fff
		position: absolute
		top: 0
		left: 0
		right: 0
		bottom: 0
		width: 100%
		.outer::-webkit-scrollbar
			width: 0px
			background: transparent
		.outer
			position: relative
			height: 100%
			overflow-x: hidden
			-ms-overflow-style: none
			scrollbar-width: none
			overflow-y: scroll
			padding: 0 50px
			padding-bottom: 15px
			img.hmenu-popup-close
				position: absolute
				top: 0
				right: 0
				margin-top: 24px
				margin-right: 50px
				width: 20px
				cursor: pointer
			.head
				padding: 22px 0
				text-align: center
				span
					font-size: 30px
					font-weight: bold
			.links
				a.link
					position: relative
					width: 100%
					font-size: 25px
					display: inline-block
					padding: 13px 0
					span.val
							opacity: 0.5
					img.img-arrow
						position: absolute
						top: 0
						bottom: 0
						right: 0
						margin: auto
						width: 11px
				a.link.r
					color: #ED1C24
				a.link.g
					color: #55BB00
				img.separ
					display: block
					width: 100%
					max-height: 2px
	.hmenu-popup-category1, .hmenu-popup-category2, .hmenu-popup-lSettings
		.outer
			.head	
				a.hmenu-popup-inner-close
					float: left
					margin: 15px 0
					line-height: 0
				span
					margin-left: -14px
	.hmenu-popup-category2
		z-index: 300
		.outer
			.offer-section
				margin-top: 86px
				.desctext
					.text
						font-size: 20px
					.headtext
						color: #808080
					.name
						font-size: 25px
						font-weight: bold
	.hmenu-popup-category1
		z-index: 200
	.hmenu-popup-main
		z-index: 100
		.outer
			height: auto
	.hmenu-popup-lSettings
		z-index: 400
		.outer
			.input-outer
				position: relative
				margin-bottom: 31px
				img.img-search
					position: absolute
					top: 0
					bottom: 0
					left: 0
					margin: auto
					margin-left: 19px
					width: 18px
				input.input-search
					padding-left: 53px
					height: 50px
					width: 100%
					border: 0.5px solid rgba(0, 0, 0, 0.3)
					border-radius: 5px
					font-size: 19px
				input.input-search::-webkit-input-placeholder, input.input-search:-moz-placeholder, input.input-search::-moz-placeholder, input.input-search:-ms-input-placeholder
					font-size: 12px
					color: #808080
			a.btn-submit
				margin-left: auto
				margin-right: auto
				margin-top: 15px
				width: 180px
				height: 60px
				line-height: 60px
				display: -webkit-flex
				display: -moz-flex
				display: -ms-flex
				display: -o-flex
				display: flex
				align-items: center
				justify-content: center
				border-radius: 5px
				background-color: $accent-blue
				span
					font-size: 17px
					font-weight: bold
					color: #fff
	header
		box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1)
		background-color: #fff
		.headerLine
			position: relative
			display: -webkit-flex
			display: -moz-flex
			display: -ms-flex
			display: -o-flex
			display: flex
			height: 50px
			align-items: center
			a.menu
				display: none
				margin-top: 13px
				button.hamburger
					margin-left: 19px
					padding: 0
					outline: none
					span.hamburger-box
						width: 39px
						height: 33px
						span.hamburger-inner, span.hamburger-inner:after, span.hamburger-inner:before
							width: 39px
							height: 5px
							background-color: #808080
							border-radius: 5px
			a.button-like.mob
				display: none
				padding: 0 5px
				margin-left: auto
				img
					width: 32px
					height: auto
			a.logo
				img.img-logo
					width: 70px
					height: auto
			a.button-shopCart.mob
				display: none
				padding: 0 5px
				margin-left: auto
				img
					width: 24px
					height: auto
			.languageSettings
				user-select: none
				position: relative
				margin-left: 45px
				.languageSettings-button
					display: -webkit-flex
					display: -moz-flex
					display: -ms-flex
					display: -o-flex
					display: flex
					cursor: pointer
					align-items: center
					width: 158px
					height: 30px
					padding-left: 7px
					border: 0.5px solid #f2f2f2
					border-radius: 3px
					img.flag
						width: 15px
						height: auto
					span.cityName
						font-size: 11px
						color: #808080
						margin-left: 4px
					.buttonOpen
						margin-left: auto
						margin-right: 7px
						.circle
							border-radius: 50%
							background-color: #808080
							width: 3px
							height: 3px
							margin-bottom: 2px
				.dropmenu.hide
					display: none
					opacity: 0
				.dropmenu
					cursor: auto
					position: absolute
					z-index: 99
					bottom: -179px
					left: 0
					padding: 0
					margin: 0
					width: 300px
					background-color: #fff
					display: none
					transition: 0.3s
					border-radius: 5px
					box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25)
					.line
						display: -webkit-flex
						display: -moz-flex
						display: -ms-flex
						display: -o-flex
						display: flex
						cursor: pointer
						padding-top: 11px
						padding-bottom: 11px
						padding-left: 18px
						span
							font-size: 13px
							color: #808080
						span.black
							color: #000
							vertical-align: baseline
						span, img.img-arrow
							vertical-align: middle
						img.img-arrow
							margin-left: auto
							margin-right: 20px
					img.separ
						width: 100%
						max-height: 2px
						display: block
			.input-outer
				position: relative
				margin-left: 13%
				input.input-search
					user-select: none
					width: 298px
					height: 30px
					padding-left: 14px
					padding-right: 25px
					border-radius: 3px
					border: none
					background-color: #e6e6e6
				a.buttonSearch
					position: absolute
					top: 0
					right: 0
					bottom: 0
					padding-left: 5px
					padding-right: 7px
					img.icon
						vertical-align: middle
						width: 14px
						height: auto
				input.input-search::-webkit-input-placeholder
					font-size: 12px
					color: #808080
					opacity: 0.5
				input.input-search:-moz-placeholder
					font-size: 12px
					color: #808080
					opacity: 0.5
				input.input-search::-moz-placeholder
					font-size: 12px
					color: #808080
					opacity: 0.5
				input.input-search:-ms-input-placeholder
					font-size: 12px
					color: #808080
					opacity: 0.5

			.options
				position: relative
				display: -webkit-flex
				display: -moz-flex
				display: -ms-flex
				display: -o-flex
				display: flex
				align-items: center
				margin-left: auto
				a.button-like
					img
						width: 15px
						height: auto
				a.button-shopCart
					img
						width: 12px
						height: auto
				a.button-like, a.button-shopCart
					padding: 0 5px
				a.buttonLogIn, a.button-shopCart, a.buttonProfile
					margin-left: 25px
				a.buttonLogIn
					display: -webkit-flex
					display: -moz-flex
					display: -ms-flex
					display: -o-flex
					display: flex
					justify-content: center
					align-items: center
					background-color: $accent-blue
					border-radius: 3px
					width: 72px
					height: 30px
					transition: 0.3s
					span
						font-size: 12px
						font-weight: bold
						color: #fff
				a.buttonProfile
					width: 32px
					height: 32px
					margin: 0 32.5px
					border-radius: 50%
					background-color: #E6E6E6
				.profile-dropdown
					box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25)
					display: none
					position: absolute
					margin-top: 4px
					padding: 4px 0
					top: 100%
					right: 0
					z-index: 99
					background-color: #fff
					border-radius: 5px
					width: 278px
					a.dd-link
						display: block
						padding: 9px 0
						padding-left: 20px
						font-size: 13px
					a.dd-link.g
						color: #55BB00
					img.separ
						width: 100%
						max-height: 2px
						display: block
					.track-input
						padding: 0 20px
						input.dd-search
							padding: 0 25px
							width: 100%
							height: 31px
							border: 0.5px solid rgba(0, 0, 0, 0.3)
							border-radius: 5px
						input.dd-search::-webkit-input-placeholder
							font-size: 10px
							color: #808080
						input.dd-search:-moz-placeholder
							font-size: 10px
							color: #808080
						input.dd-search::-moz-placeholder
							font-size: 10px
							color: #808080
						input.dd-search:-ms-input-placeholder
							font-size: 10px
							color: #808080
					.exit-block
						margin-top: 34px
	footer
		.footer-content
			padding-top: 23px
			padding-bottom: 14px
			.footer-content-wrapper
				display: -webkit-flex
				display: -moz-flex
				display: -ms-flex
				display: -o-flex
				display: flex
				justify-content: space-between
				position: relative
				padding-right: 130px
				img.separ.mob
					display: none
					width: 100%
					max-height: 2px
				.applinks
					line-height: normal
					position: absolute
					bottom: 0
					right: 0
					margin-right: 130px
					a
						display: inline-block
						vertical-align: top
						width: 76px
						margin-left: 16px
						border-radius: 5px
						img
							width: 100%
							height: auto
							vertical-align: bottom
				.banners
					margin-top: -21px
					img
						box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1)
						display: block
						width: 240px
						height: auto
						margin-top: 21px
						pointer-events: none
				.links
					line-height: 1
					.linkHead
						text-transform: uppercase
						font-weight: bold
						font-size: 12px
						pointer-events: none
					.list
						margin-top: 13px
						line-height: 1.4
						a
							font-size: 12px
							transition: 0.3s
						a:hover
							color: #808080
		.footer-bottomLine
			position: relative
			height: 35px
			background-color: #fff
			border-top: 0.5px solid #cccccc
			box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1)
			text-align: center
			span
				display: inline-block
				font-size: 10px
				color: #000
				line-height: 1.2
			.payments
				position: absolute
				top: 0
				right: 0
				padding-top: 3px
				padding-right: 20.5%
				img.payment-img
					width: 32px
					height: auto
					vertical-align: middle
					margin-left: 13px
					pointer-events: none
@media only screen and(min-width: 1025px)
	footer
		.footer-content
			.footer-content-wrapper
				.links
					.list
						display: block !important

@media only screen and(max-width: 1200px)
	body
		header
			.container
				.headerLine
					padding: 0 15px

@media only screen and(max-width: 1140px)
	body
		.container
			width: 100%
		.publications-popup
			width: calc(100% - 30px)
			margin: 15px auto

@media only screen and(max-width: 1024px)
	body
		.publications-popup
			height: calc(100% - 30px)
			padding-top: 20px
			padding-bottom: 40px
			img.img-close
				margin-top: 20px
				margin-right: 20px
				width: 20px
				height: 20px
			.topline
				width: 100%
				margin-bottom: 20px
				a.btn-subscribe
					width: 278px
					height: 52px
					line-height: 52px
					font-size: 19px
				img.model-icon
					width: 156px
				.text-block
					margin-right: 15px
					.name
						font-size: 33px
						margin-top: -20px
					.login
						font-size: 25px
			.main-content
				flex-wrap: wrap
				.pbPhoto-outer, .list
					width: 100%
				.list
					padding-top: 53px
					padding-left: 0
					padding-right: 0
					position: relative
					overflow: visible
					.item:hover, .item.hovered
						transform: none
					.item
						margin-bottom: 34px
						.item-content
							padding-right: 20px
							align-items: flex-start
							img.preview
								width: 156px
							.text-block
								margin-left: 50px
								.name
									font-size: 25px
									padding: 7px 0
								.desc
									font-size: 20px
								.author
									margin-top: 20px
							.buy-block
								.price
									font-size: 25px
									padding: 17.5px 0
								a.btn-buy
									width: 217px
									height: 60px
									line-height: 60px
									font-size: 17px
						.withThis
							padding: 0 19px 0 19px
							.subhead
								font-size: 21px
								padding: 20.5px 0
							.mGallery
								width: 75%
								img
									margin-bottom: 25px
								img
									width: 15%
									height: auto
									margin-right: 1.5%
							.btn-more
								margin-left: 1%
								width: 23%
								height: 60px
								line-height: 60px
								margin-bottom: 25px
								span
									font-size: 17px

		.popup-map
			width: 100%
			height: 100%
			img.img-close
				margin-top: 24px
				margin-right: 50px
			.topline
				padding: 35px 0
				a.hmenu-popup-inner-close
					display: block
					margin-left: 50px
				span
					font-size: 25px
			.input-outer
				margin-top: 0
				margin-left: 50px
				margin-right: 50px
				margin-bottom: 30px
				input.input-search
					height: 50px
					font-size: 19px
				img.img-search
					width: 18px
			.map-buttons
				margin-top: 50px
				.map-btn
					margin-left: auto
					margin-right: auto
					width: 180px
					height: 60px
					line-height: 60px
					span
						font-size: 17px
		.Log-form
			border-radius: 0
			padding-bottom: 15px
			img.img-close
				width: 20px
				margin-top: 25px
				margin-right: 50px
			form.form-block
				.form-buttons
					.form-btn
						margin-left: auto
						margin-right: auto
						width: 180px
						height: 60px
					input[type=submit]
						display: block
						margin-left: auto
						margin-right: auto
						width: 180px
						height: 60px
		.LogIn-form
			width: 100%
			height: 100%
			.topline
				padding: 35px 0
				span
					font-size: 25px
			form.form-block
				padding: 0px 58px
				.input-item
					.input-head
						padding: 12px 0
						span
							font-size: 20px
					a
						font-size: 15px
				.form-options
					margin-top: 0
					padding-top: 10px
					label
						padding-left: 55px
						font-size: 15px
						line-height: 28px
					label::before
						width: 30px
						height: 30px
					label::after
						width: 25px
						height: 25px
		.LogUp-form
			width: 100%
			height: 100%
		.feedback-form
			width: 100%
			height: 100%
			.topline
				padding: 33.5px 0
				font-size: 25px
			form.form-block
				.input-item
					margin-bottom: 13px
					.input-head
						padding: 3px 0
						span
							font-size: 20px
					.rating
						padding-bottom: 0
				.p-policy
					max-width: 650px
				.form-buttons
					input[type=submit]
						font-size: 17px
				.p-policy, .form-buttons
					margin-top: 30px

		header
			.container
				.headerLine
					height: 75px
					padding-right: 35px
					a.menu
						display: block
					a.logo
						margin-left: auto
						margin-right: 10%	
						img.img-logo
							width: auto
							height: 33px
					.languageSettings
						display: none
					.input-outer
						display: none
					.options
						margin: 0
						a.button-like
							height: 30px
							img
								width: auto
								height: 30px
						a.button-shopCart
							height: 35px
							img
								width: auto
								height: 35px
						a.button-shopCart, a.buttonLogIn
							margin-left: 55px
						a.buttonLogIn
							width: 126px
							height: 45px
							span
								font-size: 20px
						a.buttonProfile
							width: 38px
							height: 38px
							margin: 0 71.5px
						.profile-dropdown

		footer
			.footer-content
				padding-bottom: 0
				.container
					.footer-content-wrapper
						padding-right: 0
						display: block
						overflow: hidden
						.banners
							padding-left: 15px
							padding-right: 15px
							margin-top: 0
							margin-right: -30px
							margin-bottom: 35px
							img
								display: inline-block
								width: 47%
								margin-top: 0
								margin-right: 3%
						.links
							padding-left: 50px
							.linkHead
								padding-top: 17px
								padding-bottom: 17px
								cursor: pointer
								pointer-events: all
								position: relative
								text-transform: none
								font-size: 20px
							.linkHead::after
								content: url('../img/arrow-footer.svg')
								position: absolute
								top: 0
								bottom: 0
								right: 0
								width: 15px
								height: 13px
								margin: auto
								margin-right: 35px
								transition: 0.3s
							.linkHead.active::after
								transform: rotate(180deg)
							.list
								display: none
								margin-top: 0
								line-height: 3.1
								max-height: 1000000px
								a
									font-size: 17px
									margin-bottom: 54px
						img.separ.mob
							display: block
						.applinks
							position: relative
							padding-top: 20px
							padding-bottom: 20px
							padding-left: 50px
							margin-right: 0
							line-height: 1
							a
								width: 125px
								margin-left: 0
								margin-right: 27px
			.footer-bottomLine
				height: 47px
				line-height: 45px
				span
					font-size: 14px
				.payments
					padding-top: 0
					padding-right: 15px
@media only screen and(max-width: 768px)
	body
		.publications-popup
			.topline
				flex-wrap: wrap
				position: relative
				img.model-icon
					position: absolute
					top: 0
					left: 0
				.text-block
					width: 100%
					margin-bottom: 10px
					.name
						margin-top: 0
						padding: 0
				.text-block, a.btn-subscribe
					margin-left: 171px
			.main-content
				.list
					.item.out
						.item-content
							.buy-block
								.price
									text-align: left
					.item
						.item-content
							flex-wrap: wrap
							position: relative
							height: 202px
							img.preview
								display: none
							img.preview-mob
								position: absolute
								top: 0
								left: 0
								display: block
							.text-block, .buy-block
								width: 100%
								margin-left: 167px
							.buy-block
								text-align: left
								.price
									font-size: 22px
									padding: 0
								a.btn-buy
									height: 52px
									line-height: 52px
									margin-top: 10px
							.text-block
								.name
									font-size: 19px
									padding: 0
									margin-top: 10px
								.desc
									font-size: 14px
								.author
									margin-top: 5px
									margin-bottom: 0
									.author-name
										font-size: 14px
									img.icon
										width: 18px
										margin-left: 5px
						.withThis
							.mGallery
								width: 100%
								img
									width: calc((100% / 6) - 14px)
									margin-right: 7px
									margin-left: 7px
							.btn-more	
								width: 100%
								margin-left: 0
								span
									font-size: 19px	
		.shop-map-outer
			padding: 20px
		header
			.container
				.headerLine
					a.button-like.mob, a.button-shopCart.mob
						display: block
						img
							display: block
					a.button-shopCart.mob
						margin-left: 0
						margin-right: auto
					a.logo
						margin-left: auto
						margin-right: auto
					.options
						a.buttonLogIn
							margin-left: 0
						a.buttonProfile
							margin: 0 44px
						a.button-like
							display: none
						a.button-shopCart
							display: none
		footer
			.footer-bottomLine
				.payments
					display: none
@media only screen and(max-width: 600px)
	body
		.publications-popup
			.topline
				img.model-icon
					width: 106px
				.text-block, a.btn-subscribe
					margin-left: 121px
				.text-block
					margin-bottom: 5px
					.name
						font-size: 19px
					.login
						font-size: 14px
				.btn-burger
					margin-left: 15px
		header
			.container
				.headerLine
					height: 73px
					padding-right: 15px
					a.menu
						button.hamburger
							margin-left: 0
					a.logo
						img.img-logo
							display: block
							height: 25px
					.options
						a.buttonLogIn
							width: 80px
							span
								font-size: 18px
						a.buttonProfile
							margin: 0 21px
		footer
			.footer-content
				padding-top: 0
				.container
					.footer-content-wrapper
						.banners
							padding-right: 25px
							margin-bottom: 15px
						.applinks
							padding-left: 30px
						.links
							padding-left: 30px
							.linkHead
								font-size: 16px
								padding-top: 23.5px
								padding-bottom: 23.5px
							.list
								line-height: 2.5
								a
									font-size: 14px
@media only screen and(max-width: 500px)
	body
		.publications-popup
			padding: 21px 15px 21px 15px
			.topline
				margin-bottom: 15px
				a.btn-subscribe
					width: calc(100% - 150px)
			.main-content
				.list
					padding-top: 30px
					.item
						margin-bottom: 15px
						.item-content
							padding-right: 5px
							.text-block, .buy-block
								margin-left: 151px
							.text-block
								.name
									line-height: 1.4
								.author
									margin: 0
							.buy-block
								a.btn-buy
									margin-bottom: 22px
									width: 85%
						.withThis
							padding: 0 15px
							.subhead
								font-size: 19px
								padding: 10.5px 0
							.mGallery
								width: calc(100% + 10px)
								margin-left: -10px
								img
									width: calc((100% / 3) - 10px)
									margin-right: 0
									margin-left: 10px
									margin-bottom: 10px
							.btn-more
								margin-bottom: 34px
								height: 52px
								line-height: 52px

		.popup-profile-mob
			.links
				padding: 0 30px
				a.link
					padding: 16.5px 0
				.track-input
					input.track-search
						height: 55px
						font-size: 19px
						padding-left: 15px
					input.track-search::-webkit-input-placeholder
						font-size: 19px
					input.track-search:-moz-placeholder
						font-size: 19px
					input.track-search::-moz-placeholder
						font-size: 19px
					input.track-search:-ms-input-placeholder
						font-size: 19px
		.popup-map
			.topline
				a.hmenu-popup-inner-close
					margin-left: 30px
			.input-outer
				margin-left: 30px
				margin-right: 30px
				input.input-search
					height: 60px
					font-size: 20px
			.map-buttons
				margin-top: 34px
				padding: 0 30px
				a.map-btn
					height: 52px
					width: 100%
			.mapOuter
				height: 445px
				overflow: hidden
		.hmenu-popup
			.outer
				padding-left: 30px
				padding-right: 30px
				.head
					padding: 27px 0
					span
						font-size: 22px
				img.hmenu-popup-close
					margin-top: 21px
					margin-right: 30px
				.links
					a.link
						padding: 14.5px 0
						font-size: 19px
		.hmenu-popup-main
			.outer
				.links
					a.link
						padding: 16px 0
		.hmenu-popup-category1, .hmenu-popup-category2, .hmenu-popup-lSettings
			.outer
				.head	
					a.hmenu-popup-inner-close
						margin: 8px 0
				.offer-section
					margin-top: 48px
					img
						width: 100%
					.desctext
						.headtext
							font-size: 15px
						.name
							font-size: 22px
		.hmenu-popup-lSettings
			.outer
				.links
					padding: 0
				.input-outer
					margin: 0
					input.input-search
						height: 60px
						font-size: 20px
				a.btn-submit
					height: 52px
					width: 100%

		.Log-form
			.topline
				padding: 33.5px 0
				span
					font-size: 22px
			img.img-close
				width: 19px
				margin-top: 21px
				margin-right: 30px
			form.form-block
				padding: 0 30px
				.form-options
					label
						font-size: 18px
						line-height: 37px
					label::before
						width: 40px
						height: 40px	
					label::after
						width: 35px
						height: 35px
				.input-item
					margin-bottom: 19px
					.radio
						label
							font-size: 16px
							line-height: 31px
						label::before
							width: 40px
							height: 40px
						label::after
							width: 34px
							height: 34px
					input
						width: 100%
						height: 60px
						font-size: 20px
					.input-head
						padding: 15px 0
						span
							font-size: 19px
					a, a.mob
						font-size: 18px
					a.a-logup
						text-decoration: underline
					textarea
						width: 100%
						height: 231px
						font-size: 20px
						padding-top: 10px
				.form-buttons
					.form-btn
						width: 100%
						height: 52px
						span
							font-size: 20px
					input[type=submit]
						width: 100%
						height: 52px
						font-size: 20px
				.p-policy
					.headtext
						padding-left: 56px
						font-size: 18px
					.desctext
						padding-left: 0
						margin-top: 25px
					label:before
						width: 40px
						height: 40px
					label:after
						width: 34px
						height: 34px
		.feedback-form	
			form.form-block
				.input-item
					.rating
						padding-bottom: 8px
						img
							width: 43px
							margin-right: 2px
				.form-buttons
					margin-top: 40px
		.mk-filter-popup //, .mk-filter-drop-popup
			.btn-outer
				a.btn
					margin-top: 33px
					width: 100%
					height: 52px
					line-height: 50px
					span
						font-size: 20px
			.links, .btn-outer
				padding: 0 30px
				.line
					height: 63px
					line-height: 63px
					.input-outer
						margin-right: 34px
						input.value
							font-size: 13px
						span.rouble
							font-size: 13px
					.select2.select2-container
						height: 63px
						font-size: 13px
					.select2-container
						.select2-selection--single
							.select2-selection__rendered
								height: 63px
								line-height: 60px
								padding-right: 34px
					span.span-link
						font-size: 19px
					span.value
						margin-right: 34px
						font-size: 13px
					.buttonOpSw
						width: 63px
						height: 28px
						margin: 17.5px 0
						.knobs::before
							width: 24px
							height: 24px
						.option-checkbox:checked + .knobs::before
							left: 37px
				
		header
			.container
				.headerLine
					padding: 0 10px
					.options
						a.buttonLogIn
							width: 48px
							height: 41px
							span
								font-size: 13px
						a.buttonProfile
							margin: 0 5px
		footer
			.footer-content
				.container
					.footer-content-wrapper
						.banners
							margin: 28px 0 25px 0
							padding: 0 15px
							img
								display: block
								width: 100%
								margin: 0 0 15px 0
			.footer-bottomLine
				span
					font-size: 13px
@media only screen and(max-width: 400px)
	body
		.publications-popup
			padding-top: 15px
			padding-bottom: 15px
			img.img-close
				width: 15px
				height: 15px
				margin-top: 17px
				margin-right: 15px
			.topline
				margin-bottom: 13px
				img.model-icon
					width: 85px
				.text-block, a.btn-subscribe
					margin-left: 100px
				.text-block
					margin-bottom: 10px
					.name
						font-size: 16px
						line-height: 1.2
					.login
						font-size: 13px
				a.btn-subscribe
					height: 30px
					line-height: 30px
					font-size: 16px
					width: calc(100% - 125px)
			.main-content
				.list
					padding-top: 15px
					.item
						.item-content
							height: 162px
							img.preview-mob
								height: 162px
								width: 89px
								object-fit: cover
							.text-block, .buy-block
								margin-left: 100px
							.text-block
								.name
									font-size: 16px
								.desc
									font-size: 13px
									line-height: 1.2
								.author
									line-height: 1.2
									.author-name
										font-size: 13px
									img.icon
										width: 24px
										height: 19px
							.buy-block
								.price
									line-height: 1.2
									font-size: 16px
								a.btn-buy
									height: 30px
									line-height: 27px
									font-size: 16px
									width: 139px
									margin-bottom: 12px
									margin-top: 8px
						.withThis
							.subhead
								font-size: 16px
								padding: 9.5px 0
							.mGallery
								width: calc(100% + 4px)
								margin-left: -4px
								img
									width: calc((100% / 3) - 4px)
									margin-left: 4px
									margin-bottom: 4px
							.btn-more
								margin-top: 4px
								margin-bottom: 12px
								height: 30px
								line-height: 30px
								span
									font-size: 16px


		.popup-profile-mob
			.links
				padding: 0 15px
				a.link
					font-size: 16px
					padding: 9.5px 0
				.track-input
					padding-bottom: 17px
					input.track-search
						height: 50px
						font-size: 13px
						padding-left: 15px
					input.track-search::-webkit-input-placeholder
						font-size: 13px
					input.track-search:-moz-placeholder
						font-size: 13px
					input.track-search::-moz-placeholder
						font-size: 13px
					input.track-search:-ms-input-placeholder
						font-size: 13px
		.hmenu-popup
			padding-top: 28px
			.outer
				padding-bottom: 0
				img.hmenu-popup-close
					width: 15px
					margin-top: 0
					margin-right: 30px
				.head
					padding: 19.5px 0
					span
						font-size: 19px
				.links
					a.link
						padding: 9.5px 0
						font-size: 16px
						img.img-arrow
							display: none
		.hmenu-popup-category1, .hmenu-popup-category2
			.outer
				.offer-section
					margin-top: 45px
					.desctext
						.headtext
							font-size: 13px
						.name
							font-size: 16px
		.hmenu-popup-lSettings
			.outer
				padding-left: 15px
				padding-right: 15px
				.links
					padding-left: 15px
					padding-right: 15px
				.head
					a.hmenu-popup-inner-close
						margin-left: 15px
					span
						margin-left: -29px
				.input-outer
					input.input-search
						height: 40px
						font-size: 16px
				a.btn-submit
					height: 40px
					span
						font-size: 16px
		.Log-form
			img.img-close
				width: 15px
				margin-top: 28px
			.topline
				margin: 30px 30px 0 30px
				padding: 23.5px 0
				span
					font-size: 19px
			form.form-block
				.input-item
					margin-bottom: 0
					input
						height: 50px
					.radio
						margin-bottom: 0
					.input-head
						padding: 9.5px 0
						a
							display: none
						span
							font-size: 16px
					a.mob
						display: block
						text-align: right
						margin-top: 10px
						padding: 8px 0
						font-size: 16px
					.rating
						padding-bottom: 0
						img
							width: 30px
					textarea 
						height: 100px
				.p-policy
					margin-top: 22px
					.textblock.headtext
						font-size: 16px
						padding-right: 0
				.form-options
					label
						font-size: 16px
				.form-buttons
					margin-top: 20px
					margin-left: -15px
					margin-right: -15px
					.form-btn
						height: 40px
						span
							font-size: 16px
					input[type=submit]
						height: 40px
						font-size: 16px
		.mk-filter-popup //, .mk-filter-drop-popup
			.topline
				img.img-inner-close
					margin-left: -10px
			.btn-outer
				padding: 0 15px
				a.btn
					margin-top: 15px
					height: 40px
					line-height: 40px
					span
						font-size: 16px
			.links
				.line
					height: 50px
					line-height: 50px
					span.span-link
						font-size: 16px
					span.value
						margin-right: 21px
					.img-arrow
						width: 8px
						height: 14px
					.input-outer
						margin-right: 0
					.select2.select2-container
						height: 50px
					.select2-container
						.select2-selection--single
							.select2-selection__rendered
								height: 50px
								line-height: 50px
								padding-right: 21px
					.select2-container--default
						.select2-selection--single
							.select2-selection__arrow
								width: 8px
								height: 14px
					.buttonOpSw
						width: 48px
						height: 21px
						margin: 13.5px 0
						.knobs::before
							width: 17px
							height: 17px
						.option-checkbox:checked + .knobs::before
							left: 28px
			.g-separ-block
				height: 10px
		.popup-map
			padding-top: 28px
			.topline
				margin: 0
				a.hmenu-popup-inner-close
					margin-left: 18px
			.input-outer
				margin-left: 15px
				margin-right: 15px
				margin-bottom: 20px
				input.input-search
					height: 40px
					font-size: 16px
				.search-results
					.search-item
						padding: 6px 0 6px 42px
						span
							font-size: 16px
			.map-buttons
				margin-top: 15px
				padding: 0 15px
				a.map-btn 
					height: 40px
					span
						font-size: 16px
			.mapOuter
				height: 348px
		header
			.container
				.headerLine
					height: 56px
					padding: 0 15px
					a.menu
						button.hamburger
							height: 27px
							span.hamburger-box
								width: 29px
								height: 27px
								span.hamburger-inner, span.hamburger-inner:after, span.hamburger-inner:before
									width: 29px
									height: 3px
								span.hamburger-inner:before
									top: 8px
								span.hamburger-inner:after
									top: 16px
						button.hamburger.is-active
							span.hamburger-box
								span.hamburger-inner:before
									top: 10px
								span.hamburger-inner:after
									top: 20px
					a.button-like.mob
						img
							width: 25px
							height: 21px
					a.logo
						img.img-logo
							width: 82px
					a.button-shopCart.mob
						img
							width: 19px
							height: 21px
					.options
						a.buttonLogIn
							width: 34px
							height: 30px
							span
								font-size: 10px
						a.buttonProfile
							margin: 0
							width: 34px
							height: 34px
		footer
			.footer-content
				.container
					.footer-content-wrapper
						.banners
							margin-top: 20px	
							margin-bottom: 30px
						.links
							padding-left: 15px
							.linkHead
								padding-top: 14.5px
								padding-bottom: 14.5px
							.linkHead::after
								margin-right: 15px
						.applinks
							padding-left: 15px
							padding-right: 15px
							a
								width: 50%
								margin-right: 0
			.footer-bottomLine
				line-height: 58px
				span
					max-width: 290px


