@import "vars"
@import "fonts"

body
	.select2-container--default
		.mk-sidebar-select2-dropdown
			border: none
			box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25)
			.select2-results__group
				padding-left: 14px
			.select2-results > .select2-results__options
				.select2-results__option
					font-size: 13px
					transition: 0.3s
					padding-left: 14px
				.select2-results__option[role=group]
					padding-left: 0
					.select2-results__option
						padding-left: 28px
			.select2-results__option--highlighted[aria-selected]
				background-color: #ddd
				color: #000
			.select2-results__option[aria-selected=true]
				background-color: $accent-blue
				color: #fff
	
	section.shop-card
		padding: 15px 0 15px 0
		.card-item
			position: relative
			background-color: #fff
			border-radius: 3px
			margin: 0 12.5%
			box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1)
			img.img-shop-preview
				width: 121px
			img.img-shop-preview, .content
				display: inline-block
				vertical-align: top
			.content
				padding-left: 42px
				.text-name
					font-weight: bold
					font-size: 20px
					padding: 8px 0 7px 0
				.text-adress
					font-size: 11px
					color: #999999
					line-height: 15px
				.counters
					.counter
						display: inline-block
						padding: 10px 0 18px 0
						padding-right: 47px
						span
							font-size: 15px
							color: #999999
						span.b
							color: #000000
							font-weight: bold
			.btn-subscribe
				position: absolute
				right: 14px
				bottom: 19px
				background-color: $accent-blue
				width: 126px
				height: 30px
				line-height: 26px
				border-radius: 3px
				text-align: center
				span
					color: #ffffff
					font-weight: bold
					font-size: 13px
			.img-map-link
				position: absolute
				top: 14px
				right: 14px
				img.img-map
					display: block
					width: 204px
					height: 33px
					object-fit: cover
	section.marketing-table
		.marketing-navbar
			box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1)
			padding: 10px 0
			position: relative
			text-align: center
			background-color: #fff
			border-radius: 5px
			.buttonSwitch
				transition: 0.3s
				cursor: pointer
				display: inline-block
				text-align: center
				height: 30px
				line-height: 26px
				width: 123px
				margin: 0 5px
				border: 0.5px solid #ededed
				border-radius: 5px
				span
					user-select: none
					opacity: 0.75
					font-size: 13px
					font-weight: bold
					color: #333
			.buttonSwitch.active
				box-shadow: inset 0px 4px 4px #bfbfbf
				background-color: #F0F0F0
				span
					color: #000
					opacity: 1
			.buttonSwitch.disabled
				pointer-events: none
			.buttonSwitch:hover
				box-shadow: inset 0px 4px 4px #bfbfbf
				background-color: #F0F0F0
				span
					color: #000
					opacity: 1
			.input-outer
				position: absolute
				width: 240px
				height: 30px
				top: 0
				bottom: 0
				right: 0
				margin: auto
				margin-right: 17px
				input.input-search
					width: 100%
					height: 100%
					padding-left: 14px
					padding-right: 25px
					border-radius: 3px
					border: none
					background-color: #e6e6e6
				a.buttonSearch
					position: absolute
					top: 0
					right: 0
					bottom: 0
					padding-left: 5px
					padding-right: 7px
					img.icon
						vertical-align: middle
						width: 14px
						height: auto
				input.input-search::-webkit-input-placeholder
					font-size: 12px
					color: #808080
					opacity: 0.5
				input.input-search:-moz-placeholder
					font-size: 12px
					color: #808080
					opacity: 0.5
				input.input-search::-moz-placeholder
					font-size: 12px
					color: #808080
					opacity: 0.5
				input.input-search:-ms-input-placeholder
					font-size: 12px
					color: #808080
					opacity: 0.5
		.mk-block
			display: none
		.mk-products
			.main-content
				display: -webkit-flex
				display: -moz-flex
				display: -ms-flex
				display: -o-flex
				display: flex
				align-items: flex-start
				padding-top: 15px
				padding-bottom: 10px
				.sidebar
					.number, .options
						box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1)
						width: 252px
						border-radius: 5px
						background-color: #fff
					.number
						display: -webkit-flex
						display: -moz-flex
						display: -ms-flex
						display: -o-flex
						display: flex
						padding-left: 15px
						padding-right: 25px
						height: 35px
						align-items: center
						span.name, .value
							font-size: 10px
							color: #808080
						span.value
							font-weight: bold
							margin-left: auto
					.options
						margin-top: 15px
						padding-top: 14px
						padding-left: 15px
						padding-bottom: 1px
						.line.checked
							span
								color: #000
						.line
							display: -webkit-flex
							display: -moz-flex
							display: -ms-flex
							display: -o-flex
							display: flex
							line-height: 14px
							margin-bottom: 17px
							span
								font-size: 13px
								color: #808080
								transition: 0.3s ease all
							.buttonOpSw
								display: inline-block
								position: relative
								width: 32px
								height: 15px
								margin-left: auto
								margin-right: 16px
								overflow: hidden
								.layer
									width: 100%
									background-color: #808080
									z-index: 1
								.knobs
									z-index: 2
								.knobs::before
									content: ''
									position: absolute
									top: 2px
									left: 2px
									width: 11px
									height: 11px
									background-color: #fff
									border-radius: 50%
								.knobs, .layer
									position: absolute
									top: 0
									right: 0
									bottom: 0
									left: 0
								.knobs, .knobs::before, .layer
									transition: 0.3s ease all
								.option-checkbox
									position: relative
									width: 100%
									height: 100%
									padding: 0
									margin: 0
									opacity: 0
									cursor: pointer
									z-index: 3
								.option-checkbox:checked + .knobs::before
									content: ''
									left: 19px
								.option-checkbox:checked ~ .layer
									background-color: $accent-blue
							.buttonOpSw.r, .layer
								border-radius: 100px
					a.img-map-link
						border-radius: 5px
						margin-top: 15px
						display: block
						text-align: center
						transition: 0.3s
						width: 100%
						padding: 15px 0
						background-image: url('../img/shop-page/card-item-map.jpg')
						background-repeat: no-repeat
						background-position: center
						background-size: cover
						svg
							width: 35px
							path
								fill: #157EE1
					a.img-map-link:hover
						box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25)
				.items-table
					.content
						display: -webkit-flex
						display: -moz-flex
						display: -ms-flex
						display: -o-flex
						display: flex
						flex-wrap: wrap
						.search-items.mob
							width: 100%
							position: relative
							display: none
							margin-bottom: 34px
							input
								width: 100%
								height: 60px
								padding-left: 49px
								background-color: transparent
								border: 0.5px solid #000000
								border-radius: 5px
								font-size: 19px
								color: #000
							input::-webkit-input-placeholder
								font-size: 19px
								color: #000
								opacity: 0.5
							input:-moz-placeholder
								font-size: 19px
								color: #000
								opacity: 0.5
							input::-moz-placeholder
								font-size: 19px
								color: #000
								opacity: 0.5
							input:-ms-input-placeholder
								font-size: 19px
								color: #000
								opacity: 0.5
							img.search
								position: absolute
								top: 0
								bottom: 0
								margin: auto
								left: 0
								margin-left: 18px
								width: 19px
							.filter-btn
								position: absolute
								right: 0
								top: 0
								bottom: 0
								border-left: 0.5px solid #000000
								cursor: pointer
								text-align: center
								img
									opacity: 0.5
									padding: 13px 28px 14px 26px
						.btn-more.mob
							transition: 0.3s
							display: none
							border-radius: 5px
							background-color: #fff
							box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1)
							width: 200px
							height: 60px
							line-height: 60px
							text-align: center
							cursor: pointer
							margin: 0 auto
							span
								transition: 0.3s
								font-weight: bold
								font-size: 21px
								color: #000
						.btn-more.mob:hover
							background-color: $accent-blue
							border-color: $accent-blue
							span
								color: #fff
						.category-item, .category-h1, .btns
							width: 100%
						.item
							box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1)
							transition: 0.3s
							position: relative
							cursor: pointer
							background-color: #fff
							border-radius: 5px
							margin-left: 12px
							margin-bottom: 15px
							width: calc((100% / 2) - 12px)
							font-size: 0
							letter-spacing: 0
							word-spacing: 0
							img.shop-preview, .content
								display: inline-block
								vertical-align: top
							img.shop-preview
								width: 80px
								border-top-left-radius: 5px
								border-bottom-left-radius: 5px
							.content
								.head
									padding-left: 23px
									span
										display: block
										line-height: 1.4
									span.name
										padding: 11px 0 0 0
										font-size: 14px
										font-weight: bold
										color: #000
									span.desc
										margin-top: 9px
										font-size: 10px
										color: #999

								.category-text
									position: absolute
									font-size: 10px
									color: #808080
									opacity: 0.75
									padding: 8px 0
									top: 0
									right: 0
									margin-right: 17px
								.tags
									position: absolute
									bottom: 0
									right: 0
									padding-right: 17px
									margin-bottom: 12px
									.tag-img
										width: 25px
										height: 25px
										margin-right: 3px
						.item:hover
							box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25)
		.mk-info
			font-size: 15px
			.main-content
				.mk-info-section
					box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1)
					border-radius: 5px
					background-color: #fff
					padding-left: 37px
					margin-bottom: 15px
					h2
						font-weight: bold
						font-size: 18px
						margin: 0
						margin-left: 0
						padding: 19.5px 0
				.about-shop
					margin-top: 15px
					h2
						padding: 10.5px 0
					.headblock
						background-color: #E5E5E5
						padding: 5.5px 0 5.5px 37px
						margin-left: -37px
						span.headname
							font-size: 15px
					.main-info
						padding-bottom: 5px
						a.site
							color: $accent-blue
							text-decoration: underline
							display: inline-block
							padding: 10px 0
						img, span
							display: inline-block
							vertical-align: middle
						.secure-tr, .delivery-inf
							padding: 7px 0
							span
								margin-left: 12px
						.delivery-inf
							img
								margin-bottom: -4px
						.contacts
							.undgr
								.circle
									width: 11px
									height: 9px
									border-radius: 50%
								.circle.c1
									background-color: #FFDB1C
								.circle.c2
									background-color: #6ACDA9
								.circle.c3
									background-color: #219417
								.undgr-item
									display: inline-block
									.circle, span
										display: inline-block
										vertical-align: middle
								span
									margin-left: 8px
									margin-right: 20px
							span.time
								padding: 10px 0
					.categories, .brands
						padding-bottom: 5px
						.content
							display: -webkit-flex
							display: -moz-flex
							display: -ms-flex
							display: -o-flex
							display: flex
							.category-column, .brands-column
								width: 33.7%
								.item
									padding: 8px 0
									display: block
								.item.head
									font-weight: bold
		.mk-feedback
			.main-content
				.anchors-section
					position: relative
					margin: 17px 0
					.anchor-btn
						cursor: pointer
						background-color: #fff
						display: inline-block
						position: relative
						padding: 0px 28px
						font-size: 13px
						font-weight: bold
						height: 30px
						line-height: 30px
						border-radius: 5px
						margin-right: 7px
						transition: 0.3s
					.anchor-btn::before
						content: ''
						position: absolute
						top: 0
						left: 0
						width: 100%
						height: 100%
						box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1)
						border-radius: 5px
					.anchor-btn:hover, .anchor-btn.active 
						box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25)
						background-color: #E5E5E5
					.anchor-btn.disabled
						pointer-events: none
					a.btn-send
						position: absolute
						bottom: 0
						right: 0
						margin-bottom: -66px
						margin-right: 38px
						background-color: $accent-blue
						border-radius: 3px
						width: 126px
						height: 30px
						line-height: 28px
						text-align: center
						span
							font-size: 14px
							color: #fff
				.btn-more.mob
					transition: 0.3s
					display: none
					border-radius: 5px
					background-color: #fff
					box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1)
					width: 200px
					height: 60px
					line-height: 60px
					text-align: center
					cursor: pointer
					margin: 0 auto
					span
						transition: 0.3s
						font-weight: bold
						font-size: 21px
						color: #000
				.btn-more.mob:hover
					background-color: $accent-blue
					border-color: $accent-blue
					span
						color: #fff
				.reviews-list
					box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1)
					display: none
					background-color: #fff
					border-radius: 5px
					h2
						font-size: 18px
						font-weight: bold
						padding: 19.5px 0
						padding-left: 37px
						margin: 0
					.review-item
						padding-left: 37px
						padding-top: 12px
						padding-bottom: 10px
						.photo-profile, .content
							display: inline-block
							vertical-align: top
						.circle
							border-radius: 50%
							width: 65px
							height: 65px
							background-color: #C4C4C4
						.content
							padding-left: 22px
							.rating
								margin-left: 55px
							span.name
								font-size: 15px
							span.review-date
								margin-top: 5px
								margin-left: 13px
							span.login
								display: block
								margin-top: -5px
							.rating
								img
									cursor: pointer
							span.review-date, span.login
								font-size: 12px
								color: #7F7F7F
							span.name, span.review-date, .rating
								display: inline-block
								vertical-align: top
							p.review-text
								margin: 0
								font-size: 15px
								max-width: 700px
								margin-top: 10px
								padding-right: 15px
								line-height: 1.4
					img.separ
						display: block
						width: 100%
						max-height: 2px



		.marketing-navbar-bottom
			box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1)
			position: relative
			margin-bottom: 35px
			padding-top: 10px
			padding-bottom: 10px
			border-radius: 5px
			text-align: center
			background-color: #fff
			.button
				transition: 0.3s
				cursor: pointer
				width: 122px
				height: 30px
				border: 0.5px solid rgba(0, 0, 0, 0.3)
				border-radius: 5px
				text-align: center
				span
					transition: 0.3s
					line-height: 27px
					font-size: 13px
					color: #000
					font-weight: bold
			.button:hover
				background-color: $accent-blue
				border-color: $accent-blue
				span
					color: #fff
			.buttonsPN
				display: -webkit-flex
				display: -moz-flex
				display: -ms-flex
				display: -o-flex
				display: flex
				position: absolute
				top: 0
				bottom: 0
				right: 0
				padding-right: 23px
				.buttonPrev, .buttonNext
					margin: auto
					margin-left: 16px
			.buttonMore
				position: absolute
				top: 0
				bottom: 0
				margin: auto
				left: 212px
				width: 129px
			.pages
				position: relative
				font-size: 0
				display: inline-block
				border-radius: 5px
				margin-left: -14px
				.page
					transition: 0.3s
					cursor: pointer
					border: 0.5px solid #ededed
					border-left: none
					width: 29px
					height: 30px
					display: inline-block
					span
						font-size: 10.5px
						line-height: 30px
						color: #b3b3b3
						transition: 0.3s
						font-weight: bold
				.page:first-child
					border-top-left-radius: 5px
					border-bottom-left-radius: 5px
					border-left: 0.5px solid #ededed
				.page:nth-last-child(1)
					border-top-right-radius: 5px
					border-bottom-right-radius: 5px
				.page.active
					box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25)
					background-color: #ededed
					border-color: white
					span
						color: #000
				.page:hover
					box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25)
					background-color: #ededed
					border-color: white
					span
						color: #000
@media only screen and(max-width: 1140px)
	body
		section.marketing-table
			.mk-products
				.main-content
					padding-right: 15px
			.mk-feedback, .mk-info
				.main-content
					padding-left: 15px
					padding-right: 15px
@media only screen and(max-width: 1100px)
	body
		section.marketing-table
			.mk-products
				.main-content
					.items-table
						.content
							.item
								.content
									.tags
										padding-right: 12px
										.tag-img
											width: 21px
											height: 21px
@media only screen and(max-width: 1024px)
	body
		section.shop-card
			.card-item
				margin: 0 15px
				.btn-subscribe
					right: 20px
					bottom: 20px
					width: 197px
					height: 60px
					line-height: 58px
					span
						font-size: 17px
				.img-map-link
					top: 16px
					right: 20px
					img.img-map
						width: 239px
						height: 60px
				img.img-shop-preview
					width: 175px
				.content
					padding-left: 63px
					.text-name
						font-size: 30px
						padding-bottom: 0
					.text-adress
						font-size: 18px
					.counters
						.counter
							text-align: center
							padding-bottom: 0
							padding-top: 15px
							padding-right: 25px
							span
								font-size: 20px
							span.b
								font-size: 24px
								display: block
								line-height: 1.2
		section.marketing-table
			.marketing-navbar-bottom
				display: none
			.marketing-navbar
				margin-top: 19px
				margin-bottom: 34px
				padding: 19px 0
				.input-outer
					display: none !important
				.buttonSwitch
					height: 60px
					line-height: 60px
					margin: 0 28px
					width: 165px
					span
						font-size: 17px
				.buttonSwitch.active
					span
						color: #000
				.buttonSwitch:hover
					span
						color: #000
			.mk-products
				.main-content
					padding-left: 15px
					padding-top: 0
					.items-table
						.content
							.search-items.mob
								display: block
							.btn-more.mob
								display: block
							.item
								width: 100%
								margin-left: 0
								margin-bottom: 34px
								.content
									.head
										padding-left: 85px
										span.name
											font-size: 37px
											padding: 23px 0
										span.desc
											font-size: 23px
											margin-top: 0
											span.only-desk
												display: none
									.category-text
										font-size: 18px
										padding: 20px 0
										margin-bottom: 18px
										margin-right: 40px
									.tags
										padding-right: 37px
										.tag-img
											width: 42px
											height: 42px
											margin-right: -5px
											margin-left: 10px
								img.shop-preview
									width: 154px
					.sidebar
						display: none
			.mk-info
				.main-content
					.mk-info-section
						padding-left: 30px
						h2
							font-size: 21px
							padding: 29.5px 0
					.about-shop
						.main-info
							padding: 0
							a.site
								font-size: 20px
								padding: 18.5px 0
							.secure-tr
								img
									width: 24px
								span 
									font-size: 20px
							.contacts
								.undgr
									padding: 8.5px 0
									.circle
										width: 20px
										height: 20px
									span
										margin-left: 24px
										margin-right: 50px
										font-size: 20px
								span.adress, span.phone, span.time
									font-size: 20px
									padding: 0
							.delivery-inf
								img
									width: 27px
								span
									font-size: 20px
									margin-left: 20px
							.secure-tr, .delivery-inf
								padding: 18.5px 0
						.categories, .brands
							padding: 0
							.content
								.category-column, .brands-column
									.item
										font-size: 20px
										padding: 18.5px 0
						.headblock
							margin-left: -30px
							padding: 25.5px 0
							padding-left: 30px
							span.headname
								font-size: 25px
					.delivery
						form.form-block
							.delivery-type
								.radio-item
									width: 30.4%
									margin-right: 3%
									padding-bottom: 13px
									.ext-text	
										margin-left: 0
										padding-left: 62px
										span
											font-size: 14px
									label
										margin-left: 9px
							.choice-city
								white-space: nowrap
								overflow: hidden
								margin-top: 20px
								margin-bottom: 63px
								padding: 21px 0
								.radio-item
									display: inline-block
									label::before
										width: 29px
										height: 29px
									label::after
										width: 24px
										height: 24px
									label
										font-size: 20px
										padding-left: 53px
										margin-right: 140px
						.inf-block
							padding-bottom: 0
							.line
								max-width: 100%
								padding: 18.5px 0
								padding-right: 30px
								span
									font-size: 20px
							img.separ
								display: block
								padding-right: 30px
					.reimb
						p.desc
							font-size: 20px
							max-width: 100%
							padding-right: 30px
						span.footnote
							font-size: 15px
							display: inline-block
							padding: 5px 0
							padding-right: 30px
						.questions
							margin-left: -30px
							.item
								.headline
									span.name
										font-size: 25px
									img.arrow
										margin-left: 35px
								.hidden	
									.text
										p
											font-size: 20px
											padding-right: 30px
					.credit
						.instruction
							span.point
								font-size: 20px
								padding: 18.5px 0
						form.credit-form
							padding-top: 0
							padding-right: 30px
							.range-item	
								margin-bottom: 0
								.headtext
									font-size: 20px
									padding: 18.5px 0
									margin-bottom: 20px
								input[type=range]
									max-width: 100%
								input[type=range]::-webkit-slider-thumb
									width: 43px
									height: 43px
									margin-top: -20px
								input[type=range]::-moz-range-thumb
									width: 43px
									height: 43px
									margin-top: -20px
								input[type=range]::-ms-thumb
									width: 43px
									height: 43px
									margin-top: -20px
								.range-points
									padding: 25px 0
									max-width: 100%
									span
										font-size: 20px
							.calc-values
								margin-top: 20px
								.line
									max-width: 100%
									padding: 18.5px 0
									span
										font-size: 20px
								img.separ.mob
									display: block
							.input-contacts
								max-width: none
								margin-right: -40px
								.input-outer
									display: inline-block
									width: 46%
									margin-right: 3%
									margin-top: 0
									margin-bottom: 20px
									input
										padding-left: 12px
										height: 38px
										font-size: 14px
									.placeholder
										padding: 6px 0 6px 12px
										span
											font-size: 14px
							.submit-block
								padding-top: 21px
								padding-bottom: 35px
								input
									width: 165px
									height: 60px
									font-size: 17px
									font-weight: bold
								p.desc 
									max-width: 70%
									font-size: 15px
									margin-left: 45px
							p.desc 
								max-width: 100%
								font-size: 15px
							.mark
								padding-top: 40px
								padding-bottom: 32px
								span
									font-size: 15px

			.mk-feedback
				.main-content
					padding-bottom: 75px
					.anchors-section
						a.btn-send
							width: 191px
							height: 60px
							line-height: 58px
							margin-bottom: -111px
							span
								font-weight: bold
								font-size: 17px
					.btn-more.mob
						display: block
						margin-top: 28px
						margin-bottom: 24px
					.reviews-list
						h2
							font-size: 21px
							padding: 29.5px 0
							padding-left: 37px
						.review-item
							display: -webkit-flex
							display: -moz-flex
							display: -ms-flex
							display: -o-flex
							display: flex
							.content
								display: flex
								flex-wrap: wrap
								width: 90%
								margin-top: -7px
								.rating, span.login
									width: 100%
								span.name, p.review-text
									font-size: 20px
								span.review-date, span.login
									font-size: 15px
								.rating
									margin-left: 0
									order: 1
									img
										width: 21px
								p.review-text
									max-width: 830px
									order: 2
									margin-top: 5px
								span.login
									padding: 10px 0
			.mk-feedback, .mk-info
				.main-content
					.anchors-section
						margin: 34px 0
						.anchor-btn
							height: 60px
							line-height: 58px
							font-size: 21px
							margin-right: 22px

@media only screen and(max-width: 900px)
	body
		section.shop-card
			.card-item
				img.img-shop-preview
					border-radius: 0px 0px 5px 0px
				.semiposition
					text-align: center
					padding: 15px 0
					.btn-subscribe, .img-map-link
						position: relative
						right: 0
						top: 0
						bottom: 0
						left: 0
						display: inline-block
						vertical-align: middle
						margin: 0 10px
		section.marketing-table
			.mk-products
				.main-content
					.items-table
						.content
							.item
								.content
									.head, .tags
										padding-left: 40px
									.head
										span.name
											padding: 7.5px 0
											font-size: 34px

									.tags
										position: relative
										display: block
										margin-left: -10px
										margin-top: 5px
			.mk-info
				.main-content
					.credit
						form.credit-form
							.submit-block
								p.desc
									max-width: 50%
									margin-left: 7%


@media only screen and (max-width: 768px)
	body
		section.shop-card
			.card-item
				img.img-shop-preview
					width: 130px
				.content
					.text-name
						font-size: 25px
					.text-adress
						font-size: 15px
					.counters
						.counter
							span
								font-size: 14px
								span.b
									font-size: 19px
		section.marketing-table
			.marketing-navbar
				.buttonSwitch
					margin: 0 15px
			.mk-products
				.main-content
					.items-table
						.content
							.item
								.content
									.head, .tags
										padding-left: 20px
									.head
										span.desc
											font-size: 20px
										span.name
											font-size: 30px
			.mk-info
				.main-content
					.about-shop
						.headblock
							padding-top: 14.5px
							padding-bottom: 14.5px
							span.headname
								font-size: 19px
						.categories, .brands
							.content
								.category-column, .brands-column
									padding: 10px 0
									.item
										font-size: 19px
										padding: 4.5px 0
			.mk-feedback
				.main-content
					.reviews-list
						.review-item
							position: relative
							.content
								padding-left: 0
								width: 100%
								span.name, .rating, span.login
									padding-left: 89px
							.photo-profile
								position: absolute
								top: 0
								left: 0
								margin-top: 12px
								margin-left: 37px
			.mk-feedback, .mk-info
				.main-content
					.anchors-section
						.anchor-btn
							font-size: 19px
							margin-right: 15px
@media only screen and(max-width: 600px)
	body
		section.shop-card
			.card-item
				.content
					padding-left: 25px
					.text-name
						font-size: 22px
					.text-adress
						font-size: 13px
					.counters
						.counter
							padding-right: 20px
				.semiposition
					.btn-subscribe
						width: 205px
						height: 52px
						margin: 0 5px
					.img-map-link
						margin: 0 5px
						img.img-map
							width: 205px
							height: 52px
					.btn-subscribe
						line-height: 50px
		section.marketing-table
			.marketing-navbar
				margin-top: 0
				margin-bottom: 15px
				.buttonSwitch
					width: 24%
					margin: 0 10px
					span
						font-size: 19px
			.mk-products
				.main-content
					.items-table
						.content
							.search-items.mob
								margin-bottom: 15px
								input
									height: 54px
								.filter-btn
									img
										padding: 15px 20px
										width: 63px
							.btn-more.mob
								height: 54px
								line-height: 50px
								span
									font-size: 20px
							.item
								margin-bottom: 15px
								img.shop-preview
									width: 125px
								.content
									.head
										span.name
											font-size: 25px
										span.desc
											font-size: 16px
									.tags
										margin-bottom: 5px
										.tag-img
											width: 35px
											height: 35px
									.category-text
										font-size: 16px
										margin-right: 19px
										padding: 11.5px 0
			.mk-info
				.main-content
					.about-shop
						.categories, .brands
							.content
								flex-wrap: wrap
								.category-column, .brands-column
									width: 50%
					.delivery
						form.form-block
							.choice-city
								white-space: normal
								padding: 0
								margin-bottom: 30px
								.radio-item
									margin-right: 0
									margin-bottom: 30px
						.inf-block
							.line
								span
									display: inline-block
									max-width: 80%
									line-height: 1.2
					.reimb
						p.desc
							font-size: 19px
							line-height: 1.2
						.questions
							.item
								.headline
									span.name
										font-size: 19px
								.hidden
									.text
										p
											font-size: 19px
											line-height: 1.4

			.mk-feedback
				.main-content
					.anchors-section
						a.btn-send
							width: 160px
							height: 52px
							line-height: 50px
							margin-right: 15px
							margin-bottom: -66px
					.btn-more.mob
						height: 54px
						line-height: 50px
						margin-top: 15px
						margin-bottom: 15px
						span
							font-size: 20px
					.reviews-list
						h2
							max-width: 250px
							line-height: 1.2
			.mk-feedback, .mk-info
				.main-content
					.anchors-section
						margin-top: 21px
						margin-bottom: 0
						.anchor-btn
							width: 100%
							height: 52px
							line-height: 50px
							text-align: center
							margin-right: 0
							margin-bottom: 15px
@media only screen and(max-width: 500px)
	body
		section.shop-card
			.card-item
				img.img-shop-preview
					width: 90px
					position: absolute
					top: 0
					left: 0
				.content
					width: 100%
					padding-left: 0
					text-align: center
					.text-name, .text-adress
						text-align: left
						padding-left: 115px
						padding-right: 15px
					.text-name
						font-size: 19px
						padding-top: 10px
						padding-bottom: 8px
					.counters
						margin-top: 15px
				.semiposition
					padding-bottom: 0
					.btn-subscribe, .img-map-link
						margin-bottom: 15px
		section.marketing-table
			.marketing-navbar
				padding: 15px 0
				.buttonSwitch
					width: 28%
					margin: 0 1%
					height: 52px
					line-height: 52px
					span
						font-size: 16px
			.mk-products
				.main-content
					.items-table
						.content
							.item
								img.shop-preview
									width: 105px
								.content
									.category-text
										font-size: 14px
									.head, .tags
										padding-left: 11px
									.head
										span.name
											font-size: 20px
										span.desc
											font-size: 14px
									.tags
										margin-top: 10px
										.tag-img
											width: 25px
											height: 25px
							.btn-more.mob
								width: 100%
								margin-top: 15px
			.mk-info
				.main-content
					.about-shop	
						.headblock
							margin-left: -15px
							padding-left: 15px
						.main-info
							padding-bottom: 21px
							a.site
								font-size: 19px
								padding: 14.5px 0
							.secure-tr, .delivery-inf
								padding: 4.5px 0
								img 
									width: 41px
								span
									font-size: 19px
									margin-left: 19px
							.contacts
								.undgr
									margin-top: 35px
									.undgr-item
										.circle
											width: 15px
											height: 15px
										span
											font-size: 19px
											margin-left: 11px
											margin-right: 25px
								span.adress, span.phone, span.time
									font-size: 19px
									padding: 4.5px 0
									padding-right: 15px
							.delivery-inf
								img
									width: 32px
								span
									margin-left: 13px
					.mk-info-section
						padding-left: 15px
						h2
							font-size: 22px
							padding: 12px 0
					.delivery
						padding-right: 15px
						h2
							margin-bottom: 10px
						form.form-block
							.delivery-type
								display: block
								.radio-item
									padding-top: 10px
									width: 100%	
									margin-right: 0
									label
										margin-left: 13px
										padding-left: 60px
										font-size: 19px
									label::before
										width: 40px
										height: 40px
									label::after
										width: 34px
										height: 34px
									.ext-text
										padding: 6px 0
										padding-left: 73px
										span
											font-size: 19px
							.choice-city
								margin-top: 65px
								margin-bottom: 0
								.radio-item
									label
										font-size: 19px
										padding: 8px 0
										padding-left: 60px
									label::before
										width: 40px
										height: 40px
									label::after
										width: 34px
										height: 34px
						.inf-block
							.line
								padding: 8px 0
								span
									font-size: 19px
									max-width: 65%
								span.ext
									opacity: 0.5
									font-size: 13px
							img.separ
								padding-right: 0
					.reimb
						span.footnote
							font-size: 13px
							padding: 13px 0
							line-height: 1.2
						p.desc, span.footnote
							padding-right: 15px
						.questions
							margin-left: -15px
							.item
								padding-left: 15px
								.headline
									padding: 4.5px 0
									img.arrow
										margin-left: 15px
								.hidden
									.text
										p
											line-height: 1.2
					.credit
						.instruction
							padding-right: 15px
							span.point
								font-size: 19px
								padding: 14.5px 0
								line-height: 1.2
						form.credit-form
							padding-right: 15px
							.range-item
								.headtext
									font-size: 19px
									padding: 14.5px 0
									margin-bottom: 0
								input[type=range]::-webkit-slider-runnable-track
									height: 5px
								input[type=range]::-moz-range-track
									height: 5px
								input[type=range]::-ms-track
									height: 5px
								input[type=range]::-ms-fill-lower
									height: 5px
								input[type=range]::-ms-fill-upper
									height: 5px
								input[type=range]::-webkit-slider-runnable-track
									height: 5px
								input[type=range]::-moz-range-track
									height: 5px
								input[type=range]::-ms-track
									height: 5px
								input[type=range]::-webkit-slider-thumb
									width: 37px
									height: 37px
									margin-top: -17px
								input[type=range]::-moz-range-thumb
									width: 37px
									height: 37px
									margin-top: -17px
								input[type=range]::-ms-thumb
									width: 37px
									height: 37px
									margin-top: -17px
								.range-points
									span.range1-range-point0
										left: 0
									span.range1-range-point1
										left: 3%
									span.range1-range-point2
										left: 20%
									span.range1-range-point3
										left: 34%
									span.range1-range-point4
										left: 52%
									span.range1-range-point5
										left: 69%
									span
										font-size: 19px
							.calc-values
								.line
									padding: 4.5px 0
									span
										font-size: 19px
							.input-contacts
								margin-right: 0
								margin-top: 30px
								.input-outer
									width: 100%
									margin-right: 0
									margin-bottom: 14px
									input
										height: 60px
										padding-left: 21px
										font-size: 13px
									.placeholder
										padding: 16px 0 16px 21px
										span
											font-size: 13px
							.submit-block
								padding-top: 29px
								padding-bottom: 15px
								input
									height: 52px
									font-size: 19px
								input, p.desc
									width: 100%
								p.desc 
									margin-top: 48px
									max-width: none
									margin-left: 0
									font-size: 13px
							p.desc
								font-size: 13px
							.mark
								padding: 15px 0
								span
									font-size: 13px
									line-height: 1.2
									a
										display: block




			.mk-feedback
				.main-content
					padding-bottom: 5px
					.btn-more.mob
						width: 100%
					.reviews-list
						h2
							font-size: 22px
							padding: 22px 0
						.review-item
							padding-top: 32px
							padding-bottom: 23px
							.photo-profile
								margin-left: 15px
								margin-top: 32px
								width: 75px
								height: 75px
							.content
								span.review-date
									margin-left: auto
									margin-right: 15px
								span.login 
									padding: 5px 0
								p.review-text
									line-height: 1.2
									margin-top: 33px
								span.name, .rating, span.login
									padding-left: 99px
								span.name, p.review-text
									font-size: 19px
								span.login, span.review-date
									font-size: 13px

						h2, .review-item
							padding-left: 15px
@media only screen and(max-width: 450px)	
	body
		section.marketing-table
			.mk-products
				.main-content
					.items-table
						.content
							.item
								img.shop-preview
									width: 100px
								.content
									.tags
										display: none
									.head
										span.desc 
											max-width: 170px
@media only screen and(max-width: 400px)
	body
		section.shop-card
			.card-item
				.content 
					.counters
						.counter
							span
								font-size: 13px
							span.b
								font-size: 16px
				.semiposition
					.btn-subscribe
						width: 125px
						height: 40px
					.img-map-link
						img.img-map
							width: 125px
							height: 40px
					.btn-subscribe
						line-height: 38px
						span
							font-size: 16px
		section.marketing-table
			.marketing-navbar
				.buttonSwitch
					width: 100px
					margin: 0 1px
					span
						font-size: 15px
			.mk-products 
				.main-content
					.search-items.mob
						.filter-btn
							img
								padding: 8px 15px
								width: 53px
						img.search
							margin-left: 16px
						input
							font-size: 16px
							height: 40px
						input::-webkit-input-placeholder
							font-size: 16px
						input:-moz-placeholder
							font-size: 16px
						input::-moz-placeholder
							font-size: 16px
						input:-ms-input-placeholder
							font-size: 16px

					.items-table
						.content
							.item
								.content
									.category-text
										position: relative
										padding: 0
										margin: 0
										line-height: 1
										font-size: 10px
									.head
										span.desc
											font-size: 13px
											color: #333
											line-height: 1.15
											margin-top: 11px
										span.name
											font-size: 16px
											padding-top: 9px
											padding-bottom: 0
									.tags
										position: absolute
										top: 0
										right: 0
										padding: 0
										margin-top: 13px
										margin-right: 18px //5px + 13px
										.tag-img
											width: 14px
											height: 14px
							.btn-more.mob
								height: 40px
								line-height: 40px
								span
									font-size: 16px
			.mk-info
				.main-content
					.about-shop
						.headblock
							padding-top: 9px
							padding-bottom: 9px
							span.headname
								font-size: 16px
						.main-info
							padding-bottom: 11px
							a.site
								font-size: 16px
								padding: 9.5px 0
							.secure-tr, .delivery-inf
								padding: 8.5px 0
								img
									width: 28px
								span
									font-size: 16px
							.delivery-inf
								img
									width: 22px
								span
									margin-left: 16px
							.contacts
								.undgr
									margin-top: 0
									padding: 0
									.undgr-item
										span
											font-size: 16px
											margin-left: 16px
											margin-right: 40px
										.circle
											width: 10px
											height: 10px
								span.adress, span.phone, span.time
									font-size: 16px
									padding: 9.5px 0
									line-height: 1.2
						.categories, .brands
							.content
								.category-column, .brands-column
									padding: 5px 0
									.item
										font-size: 16px
										padding: 9.5px 0
					.delivery
						form.form-block
							.delivery-type
								.radio-item
									label
										margin-left: 16px
										padding-left: 46px
										font-size: 16px
									label::before
										width: 30px
										height: 30px
									label::after
										width: 24px
										height: 24px
									.ext-text
										padding-left: 62px
										span
											font-size: 14px
							.choice-city
								margin-top: 22px
								margin-bottom: 7px
								.radio-item
									margin-bottom: 15px
									label
										padding: 5.5px 0
										padding-left: 50px
										font-size: 16px
										margin-right: 0
									label::before
										width: 30px
										height: 30px
									label::after
										width: 24px
										height: 24px
						.inf-block
							.line
								padding: 10.5px 0
								span
									font-size: 16px
									max-width: 70%
								span.ext
									font-size: 10px
					.reimb
						p.desc
							font-size: 16px
						span.footnote
							padding: 5px 0
						.questions
							.item
								.headline
									span.name
										font-size: 16px
										max-width: 220px
										line-height: 1.2
									img.arrow
										width: 10px
										float: right
										margin-right: 15px
								.hidden
									.text
										p
											font-size: 16px
					.credit
						.instruction
							span.point
								font-size: 16px
								padding: 11px 0
						form.credit-form
							.range-item
								padding-bottom: 7px
								.headtext
									font-size: 16px
									padding: 9.5px 0
								input[type=range]
									bottom: 7px
								input[type=range]::-webkit-slider-thumb
									width: 21px
									height: 21px
									margin-top: -8px
								input[type=range]::-moz-range-thumb
									width: 21px
									height: 21px
									margin-top: -8px
								input[type=range]::-ms-thumb
									width: 21px
									height: 21px
									margin-top: -8px
								.range-points
									padding: 14.5px 0
									span.range1-range-point0
										left: 0
									span.range1-range-point1
										left: 10%
									span.range1-range-point2
										left: 29%
									span.range1-range-point3
										left: 44%
									span.range1-range-point4
										left: 62%
									span.range1-range-point5
										left: 65%
									span
										font-size: 16px
							.calc-values
								.line
									padding: 9.5px 0
									span
										font-size: 16px
										display: inline-block
										max-width: 150px
										line-height: 1.2
							.input-contacts
								margin-top: 15px
								.input-outer
									margin-bottom: 15px
									input
										height: 40px
									.placeholder
										padding: 6px 0 6px 21px
							.submit-block
								padding-top: 15px
								input
									height: 40px
									font-size: 16px
								p.desc
									margin-top: 30px
							.mark
								line-height: 1.2
					.reimb, .credit
						h2
							font-size: 19px
							padding: 19.5px 0

			.mk-feedback
				.main-content
					padding-bottom: 10px
					.anchors-section
						a.btn-send
							font-size: 16px
							height: 40px
							line-height: 38px
							position: relative
							width: 100%
							display: block
							margin: 0
							margin-bottom: 15px
							span 
								font-size: 16px
					.btn-more.mob
						height: 40px
						line-height: 40px
						margin-bottom: 0
						span
							font-size: 16px
					.reviews-list
						h2
							font-size: 19px
							padding: 24px 0
							padding-left: 15px
							max-width: 100%
						.review-item	
							padding-top: 15px
							padding-bottom: 15px
							.photo-profile
								width: 45px
								height: 45px
								margin-top: 15px
							.content
								.rating
									img
										width: 18px
								span.login
									padding: 0
								p.review-text
									margin-top: 5px
								span.name, p.review-text
									font-size: 16px
								span.review-date
									font-size: 10px
								span.name, .rating, span.login
									padding-left: 61px
			.mk-feedback, .mk-info
				.main-content
					.anchors-section
						margin-top: 15px
						.anchor-btn
							font-size: 16px
							height: 40px
							line-height: 38px


